
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.air-asia-vAj {
  width: 100%;
  height: 826.9rem;
  position: relative;
  overflow: hidden;
  background-color: #080808;
}
.air-asia-vAj .auto-group-6ecd-Fyh {
  box-sizing: border-box;
  padding: 0rem 0rem 32.428rem 35.8rem;
  width: 172.8rem;
  height: 648.0694rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.air-asia-vAj .auto-group-6ecd-Fyh .auto-group-8ifo-M19 {
  margin-bottom: 20.3722rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .auto-group-8ifo-M19 .auto-group-ncl5-VNF {
  margin: 0rem 7.341rem 2.96rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .auto-group-8ifo-M19 .auto-group-ncl5-VNF .auto-group-kjau-RWo {
  margin-bottom: 1.6961rem;
  width: 32.4rem;
  height: 15rem;
  position: relative;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .auto-group-8ifo-M19 .auto-group-ncl5-VNF .auto-group-kjau-RWo .air-asia-y2X {
  width: 32.4rem;
  height: 11rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.3660000801;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.air-asia-vAj .auto-group-6ecd-Fyh .auto-group-8ifo-M19 .auto-group-ncl5-VNF .auto-group-kjau-RWo .air-asia-y2X .air-asia-y2X-sub-0 {
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.air-asia-vAj .auto-group-6ecd-Fyh .auto-group-8ifo-M19 .auto-group-ncl5-VNF .auto-group-kjau-RWo .air-asia-y2X .air-asia-y2X-sub-1 {
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.air-asia-vAj .auto-group-6ecd-Fyh .auto-group-8ifo-M19 .auto-group-ncl5-VNF .auto-group-kjau-RWo .fly-home-fly-safe-pST {
  width: 25.7rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 10.9rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.air-asia-vAj .auto-group-6ecd-Fyh .auto-group-8ifo-M19 .auto-group-ncl5-VNF .vector-1-Ku1 {
  margin-bottom: 2.7809rem;
  width: 8.0478rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .auto-group-8ifo-M19 .auto-group-ncl5-VNF .air-aisa-is-a-malai-airline-company-operating-all-around-the-world-4bh {
  margin-bottom: 4.477rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .auto-group-8ifo-M19 .auto-group-ncl5-VNF .this-was-one-of-the-ealiest-branding-project-done-by-me-back-when-the-pandemic-had-just-just-hit-and-we-were-forced-into-our-homes-N6b {
  max-width: 74.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .auto-group-8ifo-M19 .group-e47 {
  opacity: 0.3;
  width: 76.4151rem;
  height: 79.5626rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .scroll-muR {
  margin: 0rem 35.479rem 1.681rem 0rem;
  max-width: 2.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #848484;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .vector-4-5fD {
  margin: 0rem 35.779rem 12.152rem 0rem;
  width: 0.9173rem;
  height: 7.2851rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .group-866-oLK {
  margin-right: 35.75rem;
  width: 101.2rem;
  row-gap: 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .group-866-oLK .auto-group-wafp-87h {
  width: 100%;
  height: 341.2131rem;
  position: relative;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .group-866-oLK .auto-group-wafp-87h .untitled-1-09-GUo {
  width: 101.2rem;
  height: 56.925rem;
  position: absolute;
  left: 0;
  top: 113.1076rem;
  object-fit: cover;
  vertical-align: top;
}
.air-asia-vAj .auto-group-6ecd-Fyh .group-866-oLK .auto-group-wafp-87h .untitled-1-10-bX5 {
  width: 101.2rem;
  height: 56.925rem;
  position: absolute;
  left: 0;
  top: 224.43rem;
  object-fit: cover;
  vertical-align: top;
}
.air-asia-vAj .auto-group-6ecd-Fyh .group-866-oLK .auto-group-wafp-87h .untitled-1-08-XvX {
  width: 101.2rem;
  height: 56.9497rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.air-asia-vAj .auto-group-6ecd-Fyh .group-866-oLK .auto-group-wafp-87h .untitled-1-09-gHd {
  width: 101.2rem;
  height: 56.925rem;
  position: absolute;
  left: 0;
  top: 56.8497rem;
  object-fit: cover;
  vertical-align: top;
}
.air-asia-vAj .auto-group-6ecd-Fyh .group-866-oLK .auto-group-wafp-87h .untitled-1-10-cwy {
  width: 101.2rem;
  height: 56.925rem;
  position: absolute;
  left: 0;
  top: 169.3656rem;
  object-fit: cover;
  vertical-align: top;
}
.air-asia-vAj .auto-group-6ecd-Fyh .group-866-oLK .auto-group-wafp-87h .untitled-1-12-xkw {
  width: 101.2rem;
  height: 59.8582rem;
  position: relative;
  left: 0;
  top: 281.3549rem;
  background-size: 105.153% 100%;
  background-position: -5.2146rem -0rem;
  background-image: url('../assets/untitled-1-12.png');
}
.air-asia-vAj .auto-group-6ecd-Fyh .group-866-oLK .minimalist-stationery-mockup-rLX {
  width: 101.2rem;
  height: 56.925rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .group-866-oLK .auto-group-ljlv-aXR {
  width: 100%;
  height: 113.8747rem;
  position: relative;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-6ecd-Fyh .group-866-oLK .auto-group-ljlv-aXR .untitled-1-08-jfD {
  width: 101.2rem;
  height: 56.9497rem;
  position: absolute;
  left: 0;
  top: 56.925rem;
  object-fit: cover;
  vertical-align: top;
}
.air-asia-vAj .auto-group-6ecd-Fyh .group-866-oLK .auto-group-ljlv-aXR .untitled-1-11-11-Gv3 {
  width: 101.2rem;
  height: 56.925rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.air-asia-vAj .auto-group-ryhx-16w {
  box-sizing: border-box;
  padding: 3.877rem 0rem 0rem 10rem;
  width: 172.8rem;
  height: 96.8916rem;
  position: absolute;
  left: 0;
  top: 730.0084rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-hmr7-6eB {
  margin: 0rem 10rem 10.15rem 0rem;
  width: calc(100% - 10rem);
  height: 36.5383rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-hmr7-6eB .auto-group-tuqk-1m9 {
  box-sizing: border-box;
  padding-right: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-hmr7-6eB .auto-group-tuqk-1m9 .group-874-ZGs {
  margin: 0rem 2rem 0rem 0rem;
  width: 49.6rem;
  height: calc(100% - 0rem);
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-v7y.png');
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-hmr7-6eB .auto-group-tuqk-1m9 .group-874-ZGs .rectangle-82-VAX {
  width: 49.6rem;
  height: 11.556rem;
  position: absolute;
  left: 0;
  top: 24.9823rem;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
  border-radius: 0 0 1.8rem 1.8rem;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-hmr7-6eB .auto-group-tuqk-1m9 .group-874-ZGs .movin-nfR {
  width: 7.6rem;
  height: 3.3rem;
  position: absolute;
  left: 3.3916rem;
  top: 29.8698rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-hmr7-6eB .auto-group-tuqk-1m9 .group-873-Fou {
  margin-bottom: 0rem;
  width: 49.6rem;
  height: calc(100% - 0rem);
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-DR1.png');
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-hmr7-6eB .auto-group-tuqk-1m9 .group-873-Fou .rectangle-83-o4j {
  width: 49.6rem;
  height: 11.556rem;
  position: absolute;
  left: 0;
  top: 24.9823rem;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
  border-radius: 0 0 1.8rem 1.8rem;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-hmr7-6eB .auto-group-tuqk-1m9 .group-873-Fou .vardy-trs {
  width: 7rem;
  height: 3.3rem;
  position: absolute;
  left: 3.3916rem;
  top: 29.8698rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-hmr7-6eB .group-869-PHq {
  width: 49.6rem;
  height: 100%;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-AEs.png');
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-hmr7-6eB .group-869-PHq .rectangle-80-LD5 {
  width: 49.6rem;
  height: 11.556rem;
  position: absolute;
  left: 0;
  top: 24.9823rem;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
  border-radius: 0 0 1.8rem 1.8rem;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-hmr7-6eB .group-869-PHq .play-SX1 {
  width: 5.3rem;
  height: 3.3rem;
  position: absolute;
  left: 3.3916rem;
  top: 29.8698rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-ekh3-vBH {
  margin: 0rem 0rem 1055.726rem 25.8rem;
  width: calc(100% - 25.8rem);
  height: 51.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-ekh3-vBH .group-868-dbV {
  margin: 18.889rem 19.616rem 27.933rem 0rem;
  width: 19.1597rem;
  height: calc(100% - 46.8218rem);
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-ekh3-vBH .group-868-dbV .back-to-home-kg7 {
  width: 18.9rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.0475rem;
  font-weight: 400;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-ekh3-vBH .group-868-dbV .vector-185-UMD {
  width: 3.6781rem;
  height: 1.0993rem;
  position: absolute;
  left: 0.4713rem;
  top: 3.9789rem;
  object-fit: contain;
  vertical-align: top;
}
.air-asia-vAj .auto-group-ryhx-16w .auto-group-ekh3-vBH .back-Pj5 {
  font-size: 38.0114rem;
  font-weight: 800;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-ryhx-16w .ellipse-6-jnw {
  margin-right: 110.4rem;
  width: 0.6rem;
  height: 0.6rem;
  border: solid 0.1rem #818181;
  box-sizing: border-box;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-o6pm-4KR {
  width: 225.6664rem;
  height: 62.7179rem;
  position: absolute;
  left: 0;
  top: 648.0694rem;
  display: flex;
  align-items: center;
}
.air-asia-vAj .auto-group-o6pm-4KR .auto-group-idju-b4T {
  margin: 8.268rem 8.283rem 15.15rem 0rem;
  width: 100.2965rem;
  height: calc(100% - 23.4179rem);
  position: relative;
  flex-shrink: 0;
}
.air-asia-vAj .auto-group-o6pm-4KR .auto-group-idju-b4T .thank-JzT {
  width: 96.9rem;
  height: 39.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 28.7277rem;
  font-weight: 800;
  line-height: 1.3660000597;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.air-asia-vAj .auto-group-o6pm-4KR .auto-group-idju-b4T .thank-JzT .thank-JzT-sub-0 {
  font-size: 28.7277rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.air-asia-vAj .auto-group-o6pm-4KR .auto-group-idju-b4T .thank-JzT .thank-JzT-sub-1 {
  font-size: 28.7277rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.air-asia-vAj .auto-group-o6pm-4KR .auto-group-idju-b4T .you-qN7 {
  width: 16.1rem;
  height: 10.3rem;
  position: absolute;
  left: 75.5252rem;
  top: 23.0909rem;
  font-size: 7.5211rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.air-asia-vAj .auto-group-o6pm-4KR .group-wg3 {
  opacity: 0.3;
  width: 117.0867rem;
  height: 62.7179rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.air-asia-vAj .other-projects-639 {
  width: 21.3rem;
  height: 4.1rem;
  position: absolute;
  left: 10rem;
  top: 725.9084rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.air-asia-vAj .other-projects-639 .other-projects-639-sub-0 {
}
.air-asia-vAj .other-projects-639 .other-projects-639-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.air-asia-vAj .group-887-Tno {
  box-sizing: border-box;
  padding: 1.964rem 11.2rem 1.964rem 6.56rem;
  width: 172.8rem;
  height: 10.7884rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.air-asia-vAj .group-887-Tno .ellipse-1-mHh {
  margin-right: 118.1778rem;
  width: 6.8603rem;
  height: 6.8603rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.air-asia-vAj .group-887-Tno .auto-group-6mzu-JHd {
  margin: 2.33rem 7.464rem 2.33rem 0rem;
  width: 5.1206rem;
  height: calc(100% - 4.6603rem);
  position: relative;
  flex-shrink: 0;
}
.air-asia-vAj .group-887-Tno .auto-group-6mzu-JHd .rectangle-2-zAT {
  width: 5.1206rem;
  height: 0.0618rem;
  position: absolute;
  left: 0;
  top: 1.9792rem;
  background-color: #fece00;
}
.air-asia-vAj .group-887-Tno .auto-group-6mzu-JHd .home-HQT {
  width: 4.5rem;
  height: 2.2rem;
  position: absolute;
  left: 0.2672rem;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.air-asia-vAj .group-887-Tno .other-Xpb {
  margin: 0rem 8.217rem 0rem 0rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.air-asia-vAj .group-887-Tno .about-Sgf {
  margin-top: 0rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
