
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 300.975rem;
}.group-865-SwZ {
  width: 100%;
  display: flex;
  align-items: center;
}
.group-865-SwZ .apple1-BeF {
  margin: 0rem 5.536rem 0rem 0rem;
  width: 25.6rem;
  height: 32rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-865-SwZ .coke-6mD {
  margin: 0rem 5.536rem 0rem 0rem;
  width: 24.5913rem;
  height: 32rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-865-SwZ .dominos1-EMd {
  margin: 0rem 5.535rem 0rem 0rem;
  width: 24.5106rem;
  height: 32rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-865-SwZ .emirates1-NCw {
  margin: 0rem 5.535rem 0rem 0rem;
  width: 24.5106rem;
  height: 32rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-865-SwZ .fb-gzK {
  margin: 0rem 5.535rem 0rem 0rem;
  width: 24.5106rem;
  height: 32rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-865-SwZ .google-pqd {
  margin: 0rem 5.536rem 0rem 0rem;
  width: 25.1944rem;
  height: 32rem;
  position: relative;
  background-size: 142.52% 100%;
  background-position: -4.5187rem -0.1291rem;
  background-image: url('../assets/google-VLj.png');
  flex-shrink: 0;
}
.group-865-SwZ .kfc-us5 {
  margin: 0rem 5.535rem 0rem 0rem;
  width: 24.5106rem;
  height: 32rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-865-SwZ .net-Ss1 {
  margin: 0rem 5.535rem 0rem 0rem;
  width: 24.5106rem;
  height: 32rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-865-SwZ .tata-P1Z {
  margin: 0rem 5.536rem 0rem 0rem;
  width: 25.6rem;
  height: 32rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-865-SwZ .tesla-ukb {
  margin-top: 0rem;
  width: 27.6161rem;
  height: 32rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
