
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.group-887-fHq {
  box-sizing: border-box;
  padding: 1.964rem 11.2rem 1.964rem 6.56rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.group-887-fHq .ellipse-1-8hD {
  margin-right: 118.1779rem;
  width: 6.8603rem;
  height: 6.8603rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-887-fHq .auto-group-s9w3-TjV {
  margin: 0rem 7.464rem 0rem 0rem;
  width: 5.1206rem;
  height: 2.2rem;
  position: relative;
  flex-shrink: 0;
}
.group-887-fHq .auto-group-s9w3-TjV .rectangle-2-P7M {
  width: 5.1206rem;
  height: 0.6819rem;
  position: absolute;
  left: 0;
  top: 1.359rem;
  background-color: #fece00;
}
.group-887-fHq .auto-group-s9w3-TjV .work-iQX {
  width: 3.9rem;
  height: 2.2rem;
  position: absolute;
  left: 0.5672rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.group-887-fHq .other-bz7 {
  margin: 0rem 8.217rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-887-fHq .about-KfD {
  margin-top: 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
