
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 49.6rem;
}.group-869-xHu {
  width: 100%;
  height: 36.5383rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-tNj.png');
}
.group-869-xHu .rectangle-80-gjh {
  width: 49.6rem;
  height: 11.556rem;
  position: absolute;
  left: 0;
  top: 24.9823rem;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
  border-radius: 0 0 1.8rem 1.8rem;
}
.group-869-xHu .play-BAf {
  width: 5.3rem;
  height: 3.3rem;
  position: absolute;
  left: 3.3916rem;
  top: 29.8698rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
