
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 376.165rem;
}.group-888-mTM {
  width: 100%;
  display: flex;
  align-items: center;
}
.group-888-mTM .don-i7h {
  margin: 0rem 2.382rem 0.105rem 0rem;
  width: 32.0316rem;
  height: 32.0316rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-888-mTM .gg2-SJb {
  margin-right: 2.3817rem;
  width: 32.0316rem;
  height: 32.1368rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-888-mTM .gokul-Ni3 {
  margin: 0rem 2.382rem 0rem 0rem;
  width: 32.0316rem;
  height: 32.1368rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-888-mTM .hk-WZM {
  margin: 0rem 2.382rem 0rem 0rem;
  width: 32.0317rem;
  height: 32.1368rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-888-mTM .ini-r7R {
  margin: 0.105rem 2.382rem 0rem 0rem;
  width: 32.0317rem;
  height: 32.0316rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-888-mTM .baap2-Ato {
  margin: 0.21rem 2.382rem 0rem 0rem;
  width: 32.0316rem;
  height: 32.1368rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-888-mTM .jai-tK1 {
  margin: 0rem 2.382rem 0.21rem 0rem;
  width: 32.0316rem;
  height: 32.1368rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-888-mTM .s-cF1 {
  margin: 0rem 2.382rem 0.21rem 0rem;
  width: 32.0316rem;
  height: 32.1368rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-888-mTM .sam-9Ew {
  margin: 0rem 2.382rem 0.21rem 0rem;
  width: 32.0316rem;
  height: 32.1368rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-888-mTM .soundar-GqM {
  margin: 0rem 2.382rem 0.21rem 0rem;
  width: 32.0317rem;
  height: 32.1368rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-888-mTM .ss-Cyu {
  margin-bottom: 0.2103rem;
  width: 32.0317rem;
  height: 32.1368rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
