
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.798rem;
}.image-78-Zdh {
  width: 172.7975rem;
  height: 236.7742rem;
  position: relative;
  background-size: 348.699% 143.145%;
  background-position: -92.3576rem -61.3524rem;
  background-image: url('../assets/image-78.png');
}
