
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-2-yGb {
  width: 100%;
  height: 522.2rem;
  position: relative;
  overflow: hidden;
  background-color: #080808;
}
.macbook-pro-16-2-yGb .auto-group-3dft-B7m {
  width: 186.8rem;
  height: 97.5981rem;
  position: absolute;
  left: 0;
  top: 461.9789rem;
}
.macbook-pro-16-2-yGb .auto-group-3dft-B7m .group-UWB {
  opacity: 0.4;
  width: 175.9815rem;
  height: 97.5981rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-2-yGb .auto-group-3dft-B7m .thank-you-for-visiting-nFy {
  width: 39.9rem;
  height: 5.5rem;
  position: absolute;
  left: 64.8087rem;
  top: 24.5465rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.3660000801;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-2-yGb .auto-group-3dft-B7m .thank-you-for-visiting-nFy .thank-you-for-visiting-nFy-sub-0 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-3dft-B7m .thank-you-for-visiting-nFy .thank-you-for-visiting-nFy-sub-1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-3dft-B7m .thank-you-for-visiting-nFy .thank-you-for-visiting-nFy-sub-2 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-3dft-B7m .thanks-mate-Upw {
  width: 186.8rem;
  height: 40.7rem;
  position: absolute;
  left: 0;
  top: 35.568rem;
  font-size: 29.7576rem;
  font-weight: 800;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 {
  width: 172.8rem;
  height: 461.9789rem;
  position: absolute;
  left: 0;
  top: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT {
  width: 164.0877rem;
  height: 86.3835rem;
  position: absolute;
  left: 35.8rem;
  top: 82.0909rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-baah-zB1 {
  width: 41.1418rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-baah-zB1 .auto-group-dvss-6zj {
  box-sizing: border-box;
  padding-bottom: 6.1397rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-baah-zB1 .auto-group-dvss-6zj .vector-2-pvj {
  margin-bottom: 24.229rem;
  width: 0.9173rem;
  height: 20.1969rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-baah-zB1 .auto-group-dvss-6zj .time-pickle-9i7 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.3660000563;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-baah-zB1 .auto-group-dvss-6zj .time-pickle-9i7 .time-pickle-9i7-sub-0 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-baah-zB1 .auto-group-dvss-6zj .time-pickle-9i7 .time-pickle-9i7-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-baah-zB1 .mask-group-Wyu {
  width: 100%;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-baah-zB1 .mask-group-Wyu .item-5407560-1-5XD {
  width: 41.1418rem;
  height: 31.4178rem;
  position: relative;
  background-size: 120.755% 118.221%;
  background-position: -4.5115rem -2.7037rem;
  background-image: url('../assets/.png');
  border-radius: 1.1rem;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX {
  box-sizing: border-box;
  padding: 3.77rem 0rem 6.028rem 10.458rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .auto-group-eekf-pt7 {
  margin: 13.002rem 21.746rem 0rem 0rem;
  width: 48.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .auto-group-eekf-pt7 .auto-group-dmv5-Y3R {
  box-sizing: border-box;
  padding: 0rem 10.288rem 37.608rem 10.288rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .auto-group-eekf-pt7 .auto-group-dmv5-Y3R .works-es9 {
  margin: 0rem 15.323rem 1.114rem 0rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .auto-group-eekf-pt7 .auto-group-dmv5-Y3R .works-es9 .works-es9-sub-0 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .auto-group-eekf-pt7 .auto-group-dmv5-Y3R .works-es9 .works-es9-sub-1 {
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .auto-group-eekf-pt7 .auto-group-dmv5-Y3R .vector-3-327 {
  margin-right: 8.8712rem;
  width: 8.0478rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .auto-group-eekf-pt7 .group-881-xes {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .auto-group-eekf-pt7 .group-881-xes .a-mobile-based-application-to-help-the-young-professionals-in-balancing-their-work-life-balance-WRV {
  margin-bottom: 0.7454rem;
  max-width: 48.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .auto-group-eekf-pt7 .group-881-xes .mobile-application-nto {
  margin-bottom: 2.3891rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .auto-group-eekf-pt7 .group-881-xes .component-3-KNw {
  width: 3.6305rem;
  height: 2.9772rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .auto-group-eekf-pt7 .group-881-xes .component-3-KNw .view-SiT {
  width: 3.6rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.716rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .auto-group-eekf-pt7 .group-881-xes .component-3-KNw .vector-186-jxT {
  width: 3.5518rem;
  height: 0.6537rem;
  position: absolute;
  left: 0.0077rem;
  top: 2.3235rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-9hh7-UiT .auto-group-wsgd-WcX .group-r1V {
  opacity: 0.4;
  width: 42.1412rem;
  height: 76.586rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .movin-yM1 {
  width: 13.8rem;
  height: 4.4rem;
  position: absolute;
  left: 35.8rem;
  top: 248.7292rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .movin-yM1 .movin-yM1-sub-0 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .movin-yM1 .movin-yM1-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .movin-yM1 .movin-yM1-sub-2 {
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .jamie-vardy-3kB {
  width: 22.2rem;
  height: 4.4rem;
  position: absolute;
  left: 35.8rem;
  top: 370.9481rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .jamie-vardy-3kB .jamie-vardy-3kB-sub-0 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .jamie-vardy-3kB .jamie-vardy-3kB-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .jamie-vardy-3kB .jamie-vardy-3kB-sub-2 {
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .play-Lco {
  width: 9.9rem;
  height: 4.4rem;
  position: absolute;
  left: 126.7rem;
  top: 187.623rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .play-Lco .play-Lco-sub-0 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .play-Lco .play-Lco-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .play-Lco .play-Lco-sub-2 {
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .air-asia-F7V {
  width: 15.2rem;
  height: 4.4rem;
  position: absolute;
  left: 121.5rem;
  top: 308.4041rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .air-asia-F7V .air-asia-F7V-sub-0 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .air-asia-F7V .air-asia-F7V-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .air-asia-F7V .air-asia-F7V-sub-2 {
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs {
  width: 171.0231rem;
  height: 118.2472rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 {
  margin-right: 5.6rem;
  width: 123.9237rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 .auto-group-a637-dGT {
  margin-bottom: 18.53rem;
  width: 100%;
  height: 94.2171rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 .auto-group-a637-dGT .frame-12-wY3 {
  width: 59.1rem;
  height: 34.0658rem;
  position: absolute;
  left: 35.8rem;
  top: 22.414rem;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 .auto-group-a637-dGT .frame-12-wY3 .group-891-fiw {
  margin-bottom: 2.1329rem;
  width: 46.1rem;
  height: 15rem;
  position: relative;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 .auto-group-a637-dGT .frame-12-wY3 .group-891-fiw .hello-there-QAj {
  width: 46.1rem;
  height: 11rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 .auto-group-a637-dGT .frame-12-wY3 .group-891-fiw .this-is-devunath-kannan-iSK {
  width: 36.6rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 10.9rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.3660001119;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 .auto-group-a637-dGT .frame-12-wY3 .group-891-fiw .this-is-devunath-kannan-iSK .this-is-devunath-kannan-iSK-sub-0 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 .auto-group-a637-dGT .frame-12-wY3 .group-891-fiw .this-is-devunath-kannan-iSK .this-is-devunath-kannan-iSK-sub-1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 .auto-group-a637-dGT .frame-12-wY3 .group-892-cAK {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 .auto-group-a637-dGT .frame-12-wY3 .group-892-cAK .vector-1-Mtb {
  margin-bottom: 2.1329rem;
  width: 8.0478rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 .auto-group-a637-dGT .frame-12-wY3 .group-892-cAK .visual-designer-an-open-minded-and-creative-design-student-focused-on-creating-great-and-meaningful-user-experiences-explore-the-projects-done-by-me-over-the-past-2-years-JYw {
  max-width: 59.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 .auto-group-a637-dGT .group-LkX {
  opacity: 0.4;
  width: 78.5432rem;
  height: 84.1615rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-hkjw-VR9 .scroll-Gu5 {
  margin-left: 6.9365rem;
  max-width: 2.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #848484;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-chnv-CXq {
  margin-bottom: 0.3098rem;
  width: 41.4994rem;
  height: 60.4rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-chnv-CXq .frame-8gP {
  width: 41.4994rem;
  height: 56.6991rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-chnv-CXq .frame-8gP .rectangle-5bd {
  width: 41.4994rem;
  height: 56.6991rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-iTh.png');
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-klrk-ANs .auto-group-chnv-CXq .rectangle-9-mjM {
  width: 36.6rem;
  height: 43.3rem;
  position: absolute;
  left: 2.3rem;
  top: 17.1rem;
  background: linear-gradient(180deg, #090909 21.21%, rgba(9, 9, 9, 0) 100%);
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-q7wb-SKh {
  width: 101.2rem;
  height: 31.4178rem;
  position: absolute;
  left: 35.8rem;
  top: 198.1628rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-q7wb-SKh .group-882-MSf {
  margin: 9.453rem 13.158rem 9.453rem 0rem;
  height: calc(100% - 18.9061rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-q7wb-SKh .group-882-MSf .a-mobile-based-application-to-help-recommend-movies-to-active-movie-watchers-fiF {
  margin-bottom: 0.7454rem;
  max-width: 46.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-q7wb-SKh .group-882-MSf .mobile-application-AQ7 {
  margin-bottom: 2.3891rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-q7wb-SKh .group-882-MSf .component-3-tb1 {
  width: 3.6305rem;
  height: 2.9772rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-q7wb-SKh .group-882-MSf .component-3-tb1 .view-doV {
  width: 3.6rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.716rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-q7wb-SKh .group-882-MSf .component-3-tb1 .vector-186-9Ww {
  width: 3.5518rem;
  height: 0.6537rem;
  position: absolute;
  left: 0.0077rem;
  top: 2.3235rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-q7wb-SKh .mask-group-quZ {
  width: 41.1418rem;
  height: 31.4178rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-qblz-nK1 {
  width: 101.0868rem;
  height: 31.4178rem;
  position: absolute;
  left: 35.7132rem;
  top: 259.2689rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-qblz-nK1 .mask-group-JYF {
  margin-right: 10.545rem;
  width: 41.1418rem;
  height: 31.4178rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-qblz-nK1 .group-883-oju {
  margin: 9.453rem 0rem 9.453rem 0rem;
  height: calc(100% - 18.9061rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-qblz-nK1 .group-883-oju .a-mobile-based-application-to-help-the-milenials-to-find-their-ideal-roommate-while-moving-into-a-new-city-u2F {
  margin-bottom: 0.7454rem;
  max-width: 49.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-qblz-nK1 .group-883-oju .mobile-application-LdM {
  margin-bottom: 2.3891rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-qblz-nK1 .group-883-oju .component-3-s7V {
  width: 3.6305rem;
  height: 2.9772rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-qblz-nK1 .group-883-oju .component-3-s7V .view-CvT {
  width: 3.6rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.716rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-qblz-nK1 .group-883-oju .component-3-s7V .vector-186-WAT {
  width: 3.5518rem;
  height: 0.6537rem;
  position: absolute;
  left: 0.0077rem;
  top: 2.3235rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .thats-all-for-now--RYK {
  width: 15.3rem;
  height: 2.6rem;
  position: absolute;
  left: 78.75rem;
  top: 437.1688rem;
  font-size: 1.8446rem;
  font-weight: 800;
  line-height: 1.3660000687;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .thats-all-for-now--RYK .thats-all-for-now--RYK-sub-0 {
  font-size: 1.8446rem;
  font-weight: 300;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .thats-all-for-now--RYK .thats-all-for-now--RYK-sub-1 {
  font-size: 1.8446rem;
  font-weight: 300;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .more-coming-soon--TdR {
  width: 24rem;
  height: 3.3rem;
  position: absolute;
  left: 74.3rem;
  top: 440.4158rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .more-coming-soon--TdR .more-coming-soon--TdR-sub-0 {
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .more-coming-soon--TdR .more-coming-soon--TdR-sub-1 {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-ps3b-RTm {
  width: 101.2rem;
  height: 31.4178rem;
  position: absolute;
  left: 35.8rem;
  top: 318.9438rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-ps3b-RTm .group-884-98s {
  margin: 9.453rem 13.827rem 9.453rem 0rem;
  height: calc(100% - 18.9061rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-ps3b-RTm .group-884-98s .a-personal-branding-project-based-on-the-real-life-airasia-airlines-4md {
  margin-bottom: 0.7454rem;
  max-width: 46.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-ps3b-RTm .group-884-98s .branding-N1d {
  margin-bottom: 2.3891rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-ps3b-RTm .group-884-98s .component-3-W7q {
  width: 3.6305rem;
  height: 2.9772rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-ps3b-RTm .group-884-98s .component-3-W7q .view-dy9 {
  width: 3.6rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.716rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-ps3b-RTm .group-884-98s .component-3-W7q .vector-186-m3m {
  width: 3.5518rem;
  height: 0.6537rem;
  position: absolute;
  left: 0.0077rem;
  top: 2.3235rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-ps3b-RTm .mask-group-HH1 {
  width: 41.1726rem;
  height: 31.4178rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-x8jo-2VV {
  width: 97rem;
  height: 31.4178rem;
  position: absolute;
  left: 35.8rem;
  top: 381.4878rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-x8jo-2VV .mask-group-kAb {
  margin-right: 10.4582rem;
  width: 41.1418rem;
  height: 31.4178rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-x8jo-2VV .group-885-GPq {
  margin: 9.453rem 0rem 9.453rem 0rem;
  height: calc(100% - 18.9061rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-x8jo-2VV .group-885-GPq .a-personal-branding-project-based-on-the-myth-and-the-legendary-footballer-jamir-vardy-PUT {
  margin-bottom: 0.7454rem;
  max-width: 45.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-x8jo-2VV .group-885-GPq .branding-5MH {
  margin-bottom: 2.3891rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-x8jo-2VV .group-885-GPq .component-3-cMD {
  width: 3.6305rem;
  height: 2.9772rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-x8jo-2VV .group-885-GPq .component-3-cMD .view-Z1Z {
  width: 3.6rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.716rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-2-yGb .auto-group-7rpd-mp3 .auto-group-x8jo-2VV .group-885-GPq .component-3-cMD .vector-186-rWT {
  width: 3.5518rem;
  height: 0.6537rem;
  position: absolute;
  left: 0.0077rem;
  top: 2.3235rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-2-yGb .group-887-kbq {
  box-sizing: border-box;
  padding: 1.964rem 11.2rem 1.964rem 6.56rem;
  width: 172.8rem;
  height: 10.7884rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.macbook-pro-16-2-yGb .group-887-kbq .ellipse-1-DkK {
  margin-right: 118.1779rem;
  width: 6.8603rem;
  height: 6.8603rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .group-887-kbq .auto-group-tsid-Lpw {
  margin: 2.33rem 7.464rem 2.33rem 0rem;
  width: 5.1206rem;
  height: calc(100% - 4.6603rem);
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .group-887-kbq .auto-group-tsid-Lpw .rectangle-2-fMR {
  width: 5.1206rem;
  height: 0.6819rem;
  position: absolute;
  left: 0;
  top: 1.359rem;
  background-color: #fece00;
}
.macbook-pro-16-2-yGb .group-887-kbq .auto-group-tsid-Lpw .home-nwq {
  width: 4.5rem;
  height: 2.2rem;
  position: absolute;
  left: 0.2672rem;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-2-yGb .group-887-kbq .other-6hd {
  margin: 0rem 8.217rem 0rem 0rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-2-yGb .group-887-kbq .about-p7q {
  margin-top: 0rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
