
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-1-c4w {
  box-sizing: border-box;
  padding-right: 10rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.macbook-pro-16-1-c4w .auto-group-dd2v-7nP {
  margin-right: 43.6278rem;
  width: 129.6585rem;
  height: 88.0802rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-1-c4w .auto-group-dd2v-7nP .group-F7u {
  opacity: 0.4;
  width: 73.9959rem;
  height: 87.8908rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-1-c4w .auto-group-dd2v-7nP .ellipse-1-Mwd {
  width: 6.8603rem;
  height: 6.8603rem;
  position: absolute;
  left: 6.5603rem;
  top: 2.2857rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-1-c4w .auto-group-dd2v-7nP .hello-there-VY3 {
  width: 55.3rem;
  height: 13.2rem;
  position: absolute;
  left: 41rem;
  top: 30.9456rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-1-c4w .auto-group-dd2v-7nP .rectangle-1-nn3 {
  width: 35.3968rem;
  height: 1.6213rem;
  position: absolute;
  left: 53.4668rem;
  top: 46.4063rem;
  background-color: #fece00;
}
.macbook-pro-16-1-c4w .auto-group-dd2v-7nP .this-is-devunath-kannan-vNT {
  width: 47.7rem;
  height: 5.5rem;
  position: absolute;
  left: 41rem;
  top: 44.0456rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-1-c4w .auto-group-dd2v-7nP .this-is-devunath-kannan-vNT .this-is-devunath-kannan-vNT-sub-0 {
}
.macbook-pro-16-1-c4w .auto-group-dd2v-7nP .this-is-devunath-kannan-vNT .this-is-devunath-kannan-vNT-sub-1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-1-c4w .auto-group-dd2v-7nP .an-open-minded-and-creative-design-student-focused-on-creating-great-and-meaningful-user-experiences-dAP {
  width: 59.9rem;
  height: 5.5rem;
  position: absolute;
  left: 41rem;
  top: 53.15rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-1-c4w .auto-group-dd2v-7nP .vector-1-J1d {
  width: 28.9rem;
  height: 0;
  position: absolute;
  left: 41rem;
  top: 50.9495rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-1-c4w .auto-group-nkg1-2TR {
  margin: 3.97rem 5.238rem 0rem 0rem;
  width: 6.0344rem;
  height: 3.3rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-1-c4w .auto-group-nkg1-2TR .rectangle-2-kPR {
  width: 6.0344rem;
  height: 0.6979rem;
  position: absolute;
  left: 0;
  top: 2.3629rem;
  background-color: #fece00;
}
.macbook-pro-16-1-c4w .auto-group-nkg1-2TR .work-VM1 {
  width: 5.9rem;
  height: 3.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-1-c4w .about-Qis {
  margin-top: 3.9698rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
