
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.play-EVD {
  width: 100%;
  height: 1570.3rem;
  position: relative;
  overflow: hidden;
  background-color: #080808;
}
.play-EVD .auto-group-vldb-9MH {
  width: 172.8rem;
  height: 1363.0708rem;
  position: absolute;
  left: 0;
  top: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-utyk-S5V {
  width: 110.5354rem;
  height: 13.2rem;
  position: absolute;
  left: 26.4854rem;
  top: 94.3659rem;
  display: flex;
  align-items: center;
}
.play-EVD .auto-group-vldb-9MH .auto-group-utyk-S5V .auto-group-jxtp-wnw {
  margin-right: 4.4334rem;
  width: 47.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-utyk-S5V .auto-group-jxtp-wnw .discover-h1R {
  width: 47.1rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 9.6rem;
  font-weight: 600;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-vldb-9MH .auto-group-utyk-S5V .auto-group-jxtp-wnw .survey-interview-BhH {
  width: 26.9rem;
  height: 4.1rem;
  position: absolute;
  left: 9.3146rem;
  top: 4.5rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.play-EVD .auto-group-vldb-9MH .auto-group-utyk-S5V .auto-group-jxtp-wnw .survey-interview-BhH .survey-interview-BhH-sub-0 {
}
.play-EVD .auto-group-vldb-9MH .auto-group-utyk-S5V .auto-group-jxtp-wnw .survey-interview-BhH .survey-interview-BhH-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-utyk-S5V .vector-5-4uV {
  margin-bottom: 0.1rem;
  width: 59.0021rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-gnvr-buR {
  width: 114.8282rem;
  height: 13.2rem;
  position: absolute;
  left: 22.1926rem;
  top: 298.4103rem;
  display: flex;
  align-items: center;
}
.play-EVD .auto-group-vldb-9MH .auto-group-gnvr-buR .auto-group-ufjk-WmV {
  margin-right: 3.8262rem;
  width: 52rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-gnvr-buR .auto-group-ufjk-WmV .empathize-4Y7 {
  width: 52rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 9.6rem;
  font-weight: 600;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-vldb-9MH .auto-group-gnvr-buR .auto-group-ufjk-WmV .user-persona-nDD {
  width: 19.8rem;
  height: 4.1rem;
  position: absolute;
  left: 13.6074rem;
  top: 4.5rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.play-EVD .auto-group-vldb-9MH .auto-group-gnvr-buR .auto-group-ufjk-WmV .user-persona-nDD .user-persona-nDD-sub-0 {
}
.play-EVD .auto-group-vldb-9MH .auto-group-gnvr-buR .auto-group-ufjk-WmV .user-persona-nDD .user-persona-nDD-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-gnvr-buR .vector-120-Ltw {
  margin-bottom: 0.1rem;
  width: 59.0021rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-vcgv-gT1 {
  box-sizing: border-box;
  padding: 4.106rem 6.377rem 4.255rem 55.582rem;
  width: 147.9596rem;
  height: 20.5149rem;
  position: absolute;
  left: 0;
  top: 643.2335rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fece00;
}
.play-EVD .auto-group-vldb-9MH .auto-group-vcgv-gT1 .redefinded-problem-statement-Zmh {
  margin: 0rem 41.4rem 0.654rem 0rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-vcgv-gT1 .users-not-able-to-find-a-movie-watch-depending-on-their-mood-not-able-filter-out-movies-that-areactual-kid-friendly-and-not-having-a-space-to-storetheir-playlists-for-the-future-rVu {
  max-width: 86rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-uysx-hmR {
  width: 165.4351rem;
  height: 88.1796rem;
  position: absolute;
  left: 35.8rem;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.play-EVD .auto-group-vldb-9MH .auto-group-uysx-hmR .auto-group-bxdf-qcj {
  margin-right: 15.8295rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-uysx-hmR .auto-group-bxdf-qcj .auto-group-5srr-aqD {
  margin-bottom: 1.6961rem;
  width: 30.5rem;
  height: 15rem;
  position: relative;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-uysx-hmR .auto-group-bxdf-qcj .auto-group-5srr-aqD .play-iRd {
  width: 16.6rem;
  height: 11rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.3660000801;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.play-EVD .auto-group-vldb-9MH .auto-group-uysx-hmR .auto-group-bxdf-qcj .auto-group-5srr-aqD .play-iRd .play-iRd-sub-0 {
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-uysx-hmR .auto-group-bxdf-qcj .auto-group-5srr-aqD .play-iRd .play-iRd-sub-1 {
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-uysx-hmR .auto-group-bxdf-qcj .auto-group-5srr-aqD .search-play-and-chill-5Z1 {
  width: 30.5rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 10.9rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-vldb-9MH .auto-group-uysx-hmR .auto-group-bxdf-qcj .vector-1-BM9 {
  margin-bottom: 2.7809rem;
  width: 8.0478rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-uysx-hmR .auto-group-bxdf-qcj .play-an-app-to-suggest-movie-tv-show-to-users-depending-on-the-likes-of-theirs-at-that-moment-with-family-or-friends-and-many-more-and-also-to-help-the-user-to-keep-a-track-of-movies-that-they-have-seen-and-to-see-peoples-reviews-of-the-movie-tv-show-along-with-the-critics-reviews-and-also-to-help-users-find-the-platform-where-the-movie-is-on-Ky9 {
  margin-bottom: 6.518rem;
  max-width: 75.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-uysx-hmR .auto-group-bxdf-qcj .this-project-was-submited-for-interaction-design-in-my-college-time-jan-2021-apr-2021-78K {
  max-width: 52.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-uysx-hmR .group-Bts {
  margin-bottom: 5.0685rem;
  opacity: 0.4;
  width: 74.1055rem;
  height: 83.111rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-svhj-6kw {
  width: 101.2208rem;
  height: 70.4rem;
  position: absolute;
  left: 35.8rem;
  top: 172.6982rem;
}
.play-EVD .auto-group-vldb-9MH .auto-group-svhj-6kw .focus-group-E6T {
  width: 18.3rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 65.5539rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.play-EVD .auto-group-vldb-9MH .auto-group-svhj-6kw .focus-group-E6T .focus-group-E6T-sub-0 {
}
.play-EVD .auto-group-vldb-9MH .auto-group-svhj-6kw .focus-group-E6T .focus-group-E6T-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-svhj-6kw .vector-119-zjq {
  width: 75.3802rem;
  height: 0rem;
  position: absolute;
  left: 25.8406rem;
  top: 67.6039rem;
  object-fit: contain;
  vertical-align: top;
}
.play-EVD .auto-group-vldb-9MH .auto-group-svhj-6kw .interview-insights-watching-movies-on-a-regular-interval-varies-from-people-to-people-but-mostly-its-2-or-3-movies-a-week-especially-after-lockdown-people-who-are-more-movie-buff-watch-more-movies-often-then-the-not-so-movie-buff-ones-as-expected-more-people-have-actually-brought-amazon-prime-netflix-or-other-streaming-services-after-lockdown-to-watch-list-actually-only-followed-by-people-who-watch-more-than-3-movies-a-week-the-lesser-ones-tend-to-randomly-select-the-movie-that-comes-to-their-mind-first-people-actually-face-this-problem-of-not-knowing-what-to-watch-and-many-times-they-just-tend-to-watch-a-classic-or-a-old-personal-favorite-movie-of-theirs-and-watching-movies-actually-helps-people-like-many-of-the-people-when-they-are-feeling-low-they-watch-the-tom-hanks-movies-which-could-lift-their-spirit-up-if-a-person-wants-to-watch-horror-and-have-seen-all-the-main-stream-ones-they-just-go-to-google-or-youtube-searching-for-underrated-horror-movies-to-find-the-nice-ones-ivj {
  width: 98.5rem;
  height: 70.4rem;
  position: absolute;
  left: 0.0208rem;
  top: 0;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.26;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-c5yf-2yM {
  width: 101.2209rem;
  height: 4.1rem;
  position: absolute;
  left: 35.8rem;
  top: 438.7977rem;
  display: flex;
  align-items: center;
}
.play-EVD .auto-group-vldb-9MH .auto-group-c5yf-2yM .empathy-map-N1d {
  margin-right: 13.5217rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-c5yf-2yM .empathy-map-N1d .empathy-map-N1d-sub-0 {
}
.play-EVD .auto-group-vldb-9MH .auto-group-c5yf-2yM .empathy-map-N1d .empathy-map-N1d-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-c5yf-2yM .vector-10-yGK {
  margin-top: 0.0002rem;
  width: 67.5992rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-9fpy-hy1 {
  width: 110.2311rem;
  height: 13.2rem;
  position: absolute;
  left: 26.7898rem;
  top: 692.9727rem;
  display: flex;
  align-items: center;
}
.play-EVD .auto-group-vldb-9MH .auto-group-9fpy-hy1 .auto-group-jxp5-S9u {
  margin-right: 5.1938rem;
  width: 34.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-9fpy-hy1 .auto-group-jxp5-S9u .user-flow-BNP {
  width: 14rem;
  height: 4.1rem;
  position: absolute;
  left: 9.0102rem;
  top: 4.4999rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.play-EVD .auto-group-vldb-9MH .auto-group-9fpy-hy1 .auto-group-jxp5-S9u .user-flow-BNP .user-flow-BNP-sub-0 {
}
.play-EVD .auto-group-vldb-9MH .auto-group-9fpy-hy1 .auto-group-jxp5-S9u .user-flow-BNP .user-flow-BNP-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-9fpy-hy1 .auto-group-jxp5-S9u .design-BWo {
  width: 34.6rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 9.6rem;
  font-weight: 600;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-vldb-9MH .auto-group-9fpy-hy1 .vector-86-uSo {
  margin-bottom: 0.1rem;
  width: 70.4374rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-cjd3-r79 {
  width: 101.221rem;
  height: 4.1rem;
  position: absolute;
  left: 35.8rem;
  top: 807.4912rem;
  display: flex;
  align-items: center;
}
.play-EVD .auto-group-vldb-9MH .auto-group-cjd3-r79 .low-fidelity-nFh {
  margin-right: 8.5rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-cjd3-r79 .low-fidelity-nFh .low-fidelity-nFh-sub-0 {
}
.play-EVD .auto-group-vldb-9MH .auto-group-cjd3-r79 .low-fidelity-nFh .low-fidelity-nFh-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-cjd3-r79 .vector-98-bU3 {
  margin-top: 0.0002rem;
  width: 75.421rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-7pev-Y8P {
  width: 101.221rem;
  height: 4.1rem;
  position: absolute;
  left: 35.8rem;
  top: 963.7093rem;
  display: flex;
  align-items: center;
}
.play-EVD .auto-group-vldb-9MH .auto-group-7pev-Y8P .style-guide-UXq {
  margin-right: 7rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-7pev-Y8P .style-guide-UXq .style-guide-UXq-sub-0 {
}
.play-EVD .auto-group-vldb-9MH .auto-group-7pev-Y8P .style-guide-UXq .style-guide-UXq-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-7pev-Y8P .vector-117-Gib {
  margin-top: 0rem;
  width: 77.421rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-qur3-1gB {
  width: 101.221rem;
  height: 4.1rem;
  position: absolute;
  left: 35.8rem;
  top: 1050.6289rem;
  display: flex;
  align-items: center;
}
.play-EVD .auto-group-vldb-9MH .auto-group-qur3-1gB .final-application-kNs {
  margin-right: 8.6523rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-qur3-1gB .final-application-kNs .final-application-kNs-sub-0 {
}
.play-EVD .auto-group-vldb-9MH .auto-group-qur3-1gB .final-application-kNs .final-application-kNs-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-qur3-1gB .vector-118-xE3 {
  margin-top: 0rem;
  width: 68.1686rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .how-play-works--gvj {
  width: 14.3rem;
  height: 2.5rem;
  position: absolute;
  left: 36.1501rem;
  top: 1067.918rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-vldb-9MH .frame-zgX {
  width: 100.7911rem;
  height: 72.0936rem;
  position: absolute;
  left: 36.2rem;
  top: 1245.0478rem;
  overflow: hidden;
}
.play-EVD .auto-group-vldb-9MH .frame-zgX .rectangle-w5y {
  width: 100.7911rem;
  height: 72.0936rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-gPH.png');
}
.play-EVD .auto-group-vldb-9MH .frame-em5 {
  width: 100.7924rem;
  height: 45.7968rem;
  position: absolute;
  left: 36.2rem;
  top: 1120.6478rem;
  overflow: hidden;
}
.play-EVD .auto-group-vldb-9MH .frame-em5 .rectangle-aej {
  width: 100.7924rem;
  height: 45.7968rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-ERu.png');
}
.play-EVD .auto-group-vldb-9MH .vector-4-JKq {
  width: 0.9173rem;
  height: 7.2851rem;
  position: absolute;
  left: 136.1035rem;
  top: 82.1906rem;
  object-fit: contain;
  vertical-align: top;
}
.play-EVD .auto-group-vldb-9MH .scroll-1zw {
  width: 2.4rem;
  height: 5.5rem;
  position: absolute;
  left: 134.9208rem;
  top: 75.0098rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #848484;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .survey-involved-over-50-people-ranging-from-school-students-to-working-people-and-moviebuffs-to-barely-watchers-asking-them-the-basic-questions-regarding-the-problem-to-get-an-overview-a-collective-group-and-issues-that-are-faced-by-them-ieT {
  width: 96.5rem;
  height: 6.9rem;
  position: absolute;
  left: 35.8208rem;
  top: 113.262rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.26;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .frame-Ku9 {
  width: 91.6841rem;
  height: 13rem;
  position: absolute;
  left: 40.6967rem;
  top: 131rem;
  object-fit: contain;
  vertical-align: top;
}
.play-EVD .auto-group-vldb-9MH .different-people-have-different-taste-on-movies-one-guys-all-time-favorite-may-be-other-guys-worst-of-all-time-the-views-on-comedies-however-doesnt-change-as-mostly-everyone-had-similar-favorite-comedy-movies-even-the-movies-that-close-friends-suggest-might-not-be-favorite-for-a-person-finding-the-streaming-service-of-a-movie-is-annoying-movie-with-high-critics-rating-may-not-be-very-good-for-general-audience-TkT {
  width: 98.3rem;
  height: 38.6rem;
  position: absolute;
  left: 35.8208rem;
  top: 255.5239rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.26;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .focus-group-was-conducted-with-4-people-again-ranging-from-active-movie-watchers-3-4-a-week-to-once-in-a-time-watchers-2-weeks-once-zdu {
  width: 84.6rem;
  height: 1.6rem;
  position: absolute;
  left: 35.8rem;
  top: 244.7021rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.26;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-vldb-9MH .key-insights-eiT {
  width: 10.5rem;
  height: 2.5rem;
  position: absolute;
  left: 35.8rem;
  top: 597.1188rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-vldb-9MH .users-many-times-want-to-watch-movies-depending-on-how-they-are-feeling-at-the-right-moment-rather-than-completing-movies-on-their-watchlist-movies-with-just-good-reviews-may-not-be-good-enough-to-suggest-to-people-rather-it-is-more-of-the-genre-itself-many-time-get-stuck-on-what-to-watch-at-the-moment-Mcs {
  width: 74.5rem;
  height: 17.2rem;
  position: absolute;
  left: 35.8rem;
  top: 604.1852rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-x6jh-xcf {
  width: 100.0213rem;
  height: 12.3rem;
  position: absolute;
  left: 36.6522rem;
  top: 148.8071rem;
  display: flex;
  align-items: flex-start;
}
.play-EVD .auto-group-vldb-9MH .auto-group-x6jh-xcf .almost-88-of-people-have-got-stuck-on-what-to-watch-HQ3 {
  margin-right: 3.75rem;
  max-width: 22.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-x6jh-xcf .almost-73-of-people-have-have-seen-a-movie-that-has-high-ratings-but-did-not-like-nrb {
  margin-right: 2.9232rem;
  max-width: 22rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-x6jh-xcf .almost-90-of-people-dont-have-a-proper-place-to-keep-a-watchlist-tPq {
  margin-right: 2.048rem;
  max-width: 23.6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-x6jh-xcf .almost-30-of-people-ask-google-for-movie-suggestions-the-rest-30-to-friends-and-40-through-social-media-PLb {
  max-width: 23.6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .group-45-sFm {
  width: 101.2rem;
  height: 88.8156rem;
  position: absolute;
  left: 35.8rem;
  top: 458.3492rem;
}
.play-EVD .auto-group-vldb-9MH .group-45-sFm .rectangle-71-bSf {
  width: 101.2rem;
  height: 14.4495rem;
  position: absolute;
  left: 0;
  top: 74.3662rem;
  background-color: #ffffff;
}
.play-EVD .auto-group-vldb-9MH .group-45-sFm .rectangle-LQF {
  width: 101.1802rem;
  height: 75.8769rem;
  position: relative;
  left: 0.0197rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-Ghu.png');
}
.play-EVD .auto-group-vldb-9MH .group-45-sFm .rectangle-qro {
  width: 16.7898rem;
  height: 8.9829rem;
  position: relative;
  left: 32.8102rem;
  top: 75.8769rem;
  background-size: 100% 244.037%;
  background-position: 0 0;
  background-image: url('../assets/rectangle-25u.png');
}
.play-EVD .auto-group-vldb-9MH .group-45-sFm .rectangle-LoZ {
  width: 16.7898rem;
  height: 12.9387rem;
  position: relative;
  left: 49.6rem;
  top: 75.8769rem;
  background-size: 100% 169.427%;
  background-position: 0 -8.9829rem;
  background-image: url('../assets/rectangle-7VR.png');
}
.play-EVD .auto-group-vldb-9MH .auto-group-dof3-dnf {
  box-sizing: border-box;
  padding: 0rem 16.459rem 0rem 16.459rem;
  width: 101.1999rem;
  height: 85.8118rem;
  position: absolute;
  left: 35.8rem;
  top: 322.7613rem;
  background-color: #ffffff;
}
.play-EVD .auto-group-vldb-9MH .auto-group-dof3-dnf .image-62-9FD {
  width: 68.2815rem;
  height: 81.8259rem;
  object-fit: cover;
  vertical-align: top;
}
.play-EVD .auto-group-vldb-9MH .auto-group-fa9k-UoH {
  width: 112.0262rem;
  height: 13.2rem;
  position: absolute;
  left: 24.9947rem;
  top: 574.0369rem;
  display: flex;
  align-items: center;
}
.play-EVD .auto-group-vldb-9MH .auto-group-fa9k-UoH .auto-group-vtiu-Qwq {
  margin-right: 6.5806rem;
  width: 32.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .auto-group-fa9k-UoH .auto-group-vtiu-Qwq .define-Ms5 {
  width: 10.2rem;
  height: 4.1rem;
  position: absolute;
  left: 10.8053rem;
  top: 4.5rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.play-EVD .auto-group-vldb-9MH .auto-group-fa9k-UoH .auto-group-vtiu-Qwq .define-Ms5 .define-Ms5-sub-0 {
}
.play-EVD .auto-group-vldb-9MH .auto-group-fa9k-UoH .auto-group-vtiu-Qwq .define-Ms5 .define-Ms5-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .auto-group-fa9k-UoH .auto-group-vtiu-Qwq .define-MEo {
  width: 32.1rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 9.6rem;
  font-weight: 600;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-vldb-9MH .auto-group-fa9k-UoH .vector-121-gH5 {
  margin-bottom: 0.0998rem;
  width: 73.3456rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .port-22-1-DH1 {
  width: 103.2rem;
  height: 63.5462rem;
  position: absolute;
  left: 35.8rem;
  top: 717.6588rem;
  object-fit: cover;
  vertical-align: top;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio {
  width: 102.8rem;
  height: 110.546rem;
  position: absolute;
  left: 36.4rem;
  top: 823.3169rem;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh {
  margin-bottom: 12.178rem;
  display: flex;
  align-items: flex-start;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-lxmt-DgK {
  margin-right: 0.0684rem;
  width: 33.1039rem;
  height: 28.3689rem;
  position: relative;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-lxmt-DgK .group-ZVH {
  box-sizing: border-box;
  padding: 0.503rem 1.013rem 0.857rem 0.648rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-DBV.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-lxmt-DgK .group-ZVH .rectangle-Geb {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-u2f.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-lxmt-DgK .group-ZVH .group-ZVH-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-lxmt-DgK .group-vDM {
  box-sizing: border-box;
  padding: 0.503rem 1.062rem 0.857rem 0.598rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 16.3468rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-hGb.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-lxmt-DgK .group-vDM .rectangle-qbD {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-S6K.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-lxmt-DgK .group-vDM .group-vDM-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .group-6GF {
  margin: 0rem 3.078rem 0.503rem 0rem;
  box-sizing: border-box;
  padding: 0.503rem 1.051rem 0.857rem 0.609rem;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-jvw.png');
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .group-6GF .rectangle-Qnj {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-g5u.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .group-6GF .group-6GF-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-w5s5-rud {
  margin-top: 0.5025rem;
  width: 49.3139rem;
  height: 28.3689rem;
  position: relative;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-w5s5-rud .group-zF9 {
  box-sizing: border-box;
  padding: 0.503rem 1.049rem 0.857rem 0.612rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-KXV.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-w5s5-rud .group-zF9 .rectangle-7af {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-2ib.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-w5s5-rud .group-zF9 .group-zF9-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-w5s5-rud .group-BaX {
  box-sizing: border-box;
  padding: 0.503rem 1.038rem 0.857rem 0.622rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 16.4836rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-Vb5.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-w5s5-rud .group-BaX .rectangle-hHy {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-Q71.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-w5s5-rud .group-BaX .group-BaX-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-w5s5-rud .group-xjh {
  box-sizing: border-box;
  padding: 0.503rem 1.044rem 0.857rem 0.616rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 32.5567rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-bQ3.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-w5s5-rud .group-xjh .rectangle-Uxw {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-MfV.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-cgdj-fuh .auto-group-w5s5-rud .group-xjh .group-xjh-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 {
  margin: 0rem 0rem 12.178rem 0.648rem;
  display: flex;
  align-items: flex-end;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-j7n5-eW3 {
  margin: 0rem 3.283rem 0.524rem 0rem;
  width: 49.6559rem;
  height: 28.3689rem;
  position: relative;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-j7n5-eW3 .group-xmd {
  box-sizing: border-box;
  padding: 0.524rem 1.013rem 0.835rem 0.648rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-kUP.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-j7n5-eW3 .group-xmd .rectangle-GnK {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-biw.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-j7n5-eW3 .group-xmd .group-xmd-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-j7n5-eW3 .group-XTM {
  box-sizing: border-box;
  padding: 0.524rem 1.062rem 0.835rem 0.598rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 16.3468rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-VSF.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-j7n5-eW3 .group-XTM .rectangle-3Rh {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-tDm.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-j7n5-eW3 .group-XTM .group-XTM-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-j7n5-eW3 .group-7RZ {
  box-sizing: border-box;
  padding: 0.524rem 1.048rem 0.835rem 0.613rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 32.8987rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-iCP.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-j7n5-eW3 .group-7RZ .rectangle-duh {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-rWj.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-j7n5-eW3 .group-7RZ .group-7RZ-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-wrxs-ucK {
  margin-right: 0.0684rem;
  width: 32.3877rem;
  height: 28.3689rem;
  position: relative;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-wrxs-ucK .group-FgB {
  box-sizing: border-box;
  padding: 0.505rem 1.053rem 0.855rem 0.607rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-kkP.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-wrxs-ucK .group-FgB .rectangle-P1h {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-yeo.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-wrxs-ucK .group-FgB .group-FgB-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-wrxs-ucK .group-rAB {
  box-sizing: border-box;
  padding: 0.505rem 1.035rem 0.855rem 0.626rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 15.6306rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-Hsm.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-wrxs-ucK .group-rAB .rectangle-Lr3 {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-Sqm.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .auto-group-wrxs-ucK .group-rAB .group-rAB-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .group-CtF {
  margin-top: 0.5243rem;
  box-sizing: border-box;
  padding: 0.505rem 1.023rem 0.855rem 0.637rem;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-271.png');
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .group-CtF .rectangle-XvX {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-dZh.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-kqcm-vK9 .group-CtF .group-CtF-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 {
  height: 28.4255rem;
  display: flex;
  align-items: center;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .auto-group-aw8q-xF9 {
  margin: 0rem 0.068rem 0.057rem 0rem;
  width: 33.1039rem;
  height: calc(100% - 0.0566rem);
  position: relative;
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .auto-group-aw8q-xF9 .group-UjH {
  box-sizing: border-box;
  padding: 0.534rem 1.062rem 0.826rem 0.598rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 16.3468rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-fVh.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .auto-group-aw8q-xF9 .group-UjH .rectangle-bou {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-gZm.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .auto-group-aw8q-xF9 .group-UjH .group-UjH-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .auto-group-aw8q-xF9 .group-4xP {
  box-sizing: border-box;
  padding: 0.534rem 1.013rem 0.826rem 0.648rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-toH.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .auto-group-aw8q-xF9 .group-4xP .rectangle-Pjm {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-ytK.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .auto-group-aw8q-xF9 .group-4xP .group-4xP-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .group-fBV {
  margin: 0rem 0.068rem 0.057rem 0rem;
  box-sizing: border-box;
  padding: 0.534rem 1.051rem 0.826rem 0.609rem;
  height: calc(100% - 0.0566rem);
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-ZJw.png');
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .group-fBV .rectangle-Ae3 {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-MCT.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .group-fBV .group-fBV-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .group-E87 {
  margin-top: 0.0566rem;
  box-sizing: border-box;
  padding: 0.504rem 1.04rem 0.855rem 0.62rem;
  height: calc(100% - 0.0566rem);
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-tqd.png');
  flex-shrink: 0;
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .group-E87 .rectangle-ZAP {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-AGf.png');
}
.play-EVD .auto-group-vldb-9MH .group-46-wio .auto-group-dpt1-ot3 .group-E87 .group-E87-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-EVD .auto-group-vldb-9MH .port-23-1-2Zm {
  width: 107.6359rem;
  height: 51.7102rem;
  position: absolute;
  left: 33.8rem;
  top: 979.7703rem;
  object-fit: cover;
  vertical-align: top;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u {
  width: 101.2rem;
  height: 26.1891rem;
  position: absolute;
  left: 35.8rem;
  top: 1076.1862rem;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .rectangle-69-GU7 {
  width: 101.2rem;
  height: 24.0851rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #900000;
  border-radius: 1rem;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .play-by-default-suggests-movies-that-are-trending-and-shows-users-watchlist-QKR {
  width: 16.7rem;
  height: 8.2rem;
  position: absolute;
  left: 29.1916rem;
  top: 11.3891rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .log-in-or-sign-upif-first-time-user-gGw {
  width: 10.7rem;
  height: 5rem;
  position: absolute;
  left: 6.0601rem;
  top: 11.3891rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .play-asks-the-user-for-data-on-which-type-movie-theyd-like-to-watch-mpB {
  width: 12.3rem;
  height: 11.5rem;
  position: absolute;
  left: 57.5084rem;
  top: 11.3891rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .play-suggests-movie-based-on-the-requirments-and-also-displays-reviews-ratings-and-streaming-site-to-watch-movie-in-s6X {
  width: 14.8rem;
  height: 14.8rem;
  position: absolute;
  left: 82.6146rem;
  top: 11.3891rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .group-47-LF1 {
  width: 4.5338rem;
  height: 4.5338rem;
  position: absolute;
  left: 9.1579rem;
  top: 3.8504rem;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .group-47-LF1 .item-1-rz3 {
  width: 0.8rem;
  height: 2.5rem;
  position: absolute;
  left: 1.8522rem;
  top: 0.9594rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .group-47-LF1 .ellipse-14-xXH {
  width: 4.5338rem;
  height: 4.5338rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  border-radius: 2.2669rem;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .group-48-HZZ {
  width: 4.5338rem;
  height: 4.5338rem;
  position: absolute;
  left: 35.2747rem;
  top: 3.8504rem;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .group-48-HZZ .item-2-Di7 {
  width: 1.1rem;
  height: 2.5rem;
  position: absolute;
  left: 1.7022rem;
  top: 0.9594rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .group-48-HZZ .ellipse-14-vcX {
  width: 4.5338rem;
  height: 4.5338rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  border-radius: 2.2669rem;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .group-49-TMZ {
  width: 4.5338rem;
  height: 4.5338rem;
  position: absolute;
  left: 61.3915rem;
  top: 3.8504rem;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .group-49-TMZ .item-3-bCs {
  width: 1rem;
  height: 2.5rem;
  position: absolute;
  left: 1.7522rem;
  top: 0.9594rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .group-49-TMZ .ellipse-14-6fR {
  width: 4.5338rem;
  height: 4.5338rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  border-radius: 2.2669rem;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .group-50-dfM {
  width: 4.5338rem;
  height: 4.5338rem;
  position: absolute;
  left: 87.5083rem;
  top: 3.8504rem;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .group-50-dfM .item-4-N79 {
  width: 1.1rem;
  height: 2.5rem;
  position: absolute;
  left: 1.7022rem;
  top: 0.9594rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-vldb-9MH .group-51-Z3u .group-50-dfM .ellipse-14-HE7 {
  width: 4.5338rem;
  height: 4.5338rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  border-radius: 2.2669rem;
}
.play-EVD .auto-group-vldb-9MH .frame-zuD {
  width: 100.7772rem;
  height: 56.7873rem;
  position: absolute;
  left: 36.2rem;
  top: 1177.3478rem;
  overflow: hidden;
}
.play-EVD .auto-group-vldb-9MH .frame-zuD .rectangle-8kX {
  width: 100.7772rem;
  height: 56.7873rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-tFy.png');
}
.play-EVD .auto-group-kzxh-eD5 {
  width: 225.6662rem;
  height: 62.7179rem;
  position: absolute;
  left: 0;
  top: 1363.0708rem;
  display: flex;
  align-items: center;
}
.play-EVD .auto-group-kzxh-eD5 .auto-group-2fed-Ax7 {
  margin: 8.268rem 8.283rem 15.15rem 0rem;
  width: 100.2965rem;
  height: calc(100% - 23.4179rem);
  position: relative;
  flex-shrink: 0;
}
.play-EVD .auto-group-kzxh-eD5 .auto-group-2fed-Ax7 .thank-gvT {
  width: 96.9rem;
  height: 39.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 28.7277rem;
  font-weight: 800;
  line-height: 1.3660000597;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.play-EVD .auto-group-kzxh-eD5 .auto-group-2fed-Ax7 .thank-gvT .thank-gvT-sub-0 {
  font-size: 28.7277rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-kzxh-eD5 .auto-group-2fed-Ax7 .thank-gvT .thank-gvT-sub-1 {
  font-size: 28.7277rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-kzxh-eD5 .auto-group-2fed-Ax7 .you-1rF {
  width: 16.1rem;
  height: 10.3rem;
  position: absolute;
  left: 75.54rem;
  top: 23.091rem;
  font-size: 7.5211rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-kzxh-eD5 .group-ugj {
  opacity: 0.3;
  width: 117.0868rem;
  height: 62.7179rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-EVD .other-projects-DSX {
  width: 21.3rem;
  height: 4.1rem;
  position: absolute;
  left: 10.0148rem;
  top: 1463.7342rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.play-EVD .other-projects-DSX .other-projects-DSX-sub-0 {
}
.play-EVD .other-projects-DSX .other-projects-DSX-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-EVD .auto-group-abux-svP {
  box-sizing: border-box;
  padding: 3.877rem 0rem 0rem 10.015rem;
  width: 172.8rem;
  height: 102.4658rem;
  position: absolute;
  left: 0;
  top: 1467.8342rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.play-EVD .auto-group-abux-svP .auto-group-1olq-xgw {
  margin: 0rem 10rem 10.15rem 0rem;
  height: 36.5384rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.play-EVD .auto-group-abux-svP .auto-group-1olq-xgw .group-870-5Fm {
  margin: 0rem 1.985rem 0rem 0rem;
  width: 49.6rem;
  height: calc(100% - 0.0001rem);
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-pgX.png');
  flex-shrink: 0;
}
.play-EVD .auto-group-abux-svP .auto-group-1olq-xgw .group-870-5Fm .rectangle-81-nfy {
  width: 49.6rem;
  height: 11.556rem;
  position: absolute;
  left: 0;
  top: 24.9823rem;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
  border-radius: 0 0 1.8rem 1.8rem;
}
.play-EVD .auto-group-abux-svP .auto-group-1olq-xgw .group-870-5Fm .airasia-5uy {
  width: 8.7rem;
  height: 3.3rem;
  position: absolute;
  left: 3.3916rem;
  top: 29.8698rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-abux-svP .auto-group-1olq-xgw .group-874-4G7 {
  margin: 0rem 2rem 0rem 0rem;
  width: 49.6rem;
  height: calc(100% - 0.0001rem);
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-Yxo.png');
  flex-shrink: 0;
}
.play-EVD .auto-group-abux-svP .auto-group-1olq-xgw .group-874-4G7 .rectangle-82-aET {
  width: 49.6rem;
  height: 11.556rem;
  position: absolute;
  left: 0;
  top: 24.9823rem;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
  border-radius: 0 0 1.8rem 1.8rem;
}
.play-EVD .auto-group-abux-svP .auto-group-1olq-xgw .group-874-4G7 .movin-sjM {
  width: 7.6rem;
  height: 3.3rem;
  position: absolute;
  left: 3.3916rem;
  top: 29.8698rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-abux-svP .auto-group-1olq-xgw .group-872-NRD {
  margin-top: 0.0001rem;
  width: 49.6rem;
  height: calc(100% - 0.0001rem);
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-74K.png');
  flex-shrink: 0;
}
.play-EVD .auto-group-abux-svP .auto-group-1olq-xgw .group-872-NRD .rectangle-81-6s1 {
  width: 49.6rem;
  height: 11.556rem;
  position: absolute;
  left: 0;
  top: 24.9823rem;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
  border-radius: 0 0 1.8rem 1.8rem;
}
.play-EVD .auto-group-abux-svP .auto-group-1olq-xgw .group-872-NRD .time-pickle-1UB {
  width: 13.6rem;
  height: 3.3rem;
  position: absolute;
  left: 3.3916rem;
  top: 29.8698rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-abux-svP .auto-group-eqyr-hM1 {
  margin: 0rem 0rem 317.9rem 25.8rem;
  width: calc(100% - 25.8rem);
  height: 51.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.play-EVD .auto-group-abux-svP .auto-group-eqyr-hM1 .group-868-ouq {
  margin: 18.889rem 19.616rem 27.933rem 0rem;
  width: 19.1597rem;
  height: calc(100% - 46.8218rem);
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.play-EVD .auto-group-abux-svP .auto-group-eqyr-hM1 .group-868-ouq .back-to-home-imu {
  width: 18.9rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.0475rem;
  font-weight: 400;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .auto-group-abux-svP .auto-group-eqyr-hM1 .group-868-ouq .vector-185-dts {
  width: 3.6781rem;
  height: 1.0993rem;
  position: absolute;
  left: 0.4712rem;
  top: 3.9789rem;
  object-fit: contain;
  vertical-align: top;
}
.play-EVD .auto-group-abux-svP .auto-group-eqyr-hM1 .back-kyV {
  font-size: 38.0114rem;
  font-weight: 800;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.play-EVD .auto-group-abux-svP .ellipse-6-hdq {
  margin-right: 110.4148rem;
  width: 0.6rem;
  height: 0.6rem;
  border: solid 0.1rem #818181;
  box-sizing: border-box;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.play-EVD .group-887-1eX {
  box-sizing: border-box;
  padding: 1.964rem 11.2rem 1.964rem 6.56rem;
  width: 172.8rem;
  height: 10.7884rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.play-EVD .group-887-1eX .ellipse-1-uzo {
  margin-right: 118.1779rem;
  width: 6.8603rem;
  height: 6.8603rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-EVD .group-887-1eX .auto-group-8naq-Szj {
  margin: 2.33rem 7.464rem 2.33rem 0rem;
  width: 5.1206rem;
  height: calc(100% - 4.6603rem);
  position: relative;
  flex-shrink: 0;
}
.play-EVD .group-887-1eX .auto-group-8naq-Szj .rectangle-2-N7h {
  width: 5.1206rem;
  height: 0.0618rem;
  position: absolute;
  left: 0;
  top: 1.9792rem;
  background-color: #fece00;
}
.play-EVD .group-887-1eX .auto-group-8naq-Szj .home-75H {
  width: 4.5rem;
  height: 2.2rem;
  position: absolute;
  left: 0.2672rem;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-EVD .group-887-1eX .other-CcX {
  margin: 0rem 8.217rem 0rem 0rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.play-EVD .group-887-1eX .about-iKy {
  margin-top: 0rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
