
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 50.61rem;
}.rectangle-83-GWb {
  width: 100%;
  height: 174.7076rem;
  background-color: #d9d9d9;
}
