
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 8.593rem;
}.rectangle-7-xYf {
  width: 100%;
  height: 32.1575rem;
  background-color: #d9d9d9;
}
