
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.vardy-479 {
  width: 100%;
  height: 889.4rem;
  position: relative;
  overflow: hidden;
  background-color: #080808;
}
.vardy-479 .auto-group-ox1b-Afy {
  width: 225.6664rem;
  height: 62.7179rem;
  position: absolute;
  left: 0;
  top: 709.7085rem;
  display: flex;
  align-items: center;
}
.vardy-479 .auto-group-ox1b-Afy .auto-group-zfrp-t6B {
  margin: 8.268rem 8.283rem 15.15rem 0rem;
  width: 100.2965rem;
  height: calc(100% - 23.4179rem);
  position: relative;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ox1b-Afy .auto-group-zfrp-t6B .thank-PYj {
  width: 96.9rem;
  height: 39.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 28.7277rem;
  font-weight: 800;
  line-height: 1.3660000597;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.vardy-479 .auto-group-ox1b-Afy .auto-group-zfrp-t6B .thank-PYj .thank-PYj-sub-0 {
  font-size: 28.7277rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-ox1b-Afy .auto-group-zfrp-t6B .thank-PYj .thank-PYj-sub-1 {
  font-size: 28.7277rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-ox1b-Afy .auto-group-zfrp-t6B .you-qJF {
  width: 16.1rem;
  height: 10.3rem;
  position: absolute;
  left: 75.5252rem;
  top: 23.0909rem;
  font-size: 7.5211rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.vardy-479 .auto-group-ox1b-Afy .group-YCf {
  opacity: 0.3;
  width: 117.0867rem;
  height: 62.7179rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV {
  box-sizing: border-box;
  padding-bottom: 19.0261rem;
  width: 172.8rem;
  height: 709.7085rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf {
  margin: 0rem 8.199rem 9.332rem 0rem;
  width: 195.7564rem;
  height: 132.6077rem;
  position: relative;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .jamie-vardy-zD5 {
  width: 48.3rem;
  height: 11rem;
  position: absolute;
  left: 35.8rem;
  top: 22.2246rem;
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.3660000801;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .jamie-vardy-zD5 .jamie-vardy-zD5-sub-0 {
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .jamie-vardy-zD5 .jamie-vardy-zD5-sub-1 {
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .just-gettin-started-ujM {
  width: 26.6rem;
  height: 4.1rem;
  position: absolute;
  left: 35.8rem;
  top: 33.1246rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .jamie-vardy-is-an-english-professional-footballer-who-plays-as-a-striker-for-premier-league-club-leicester-city-vardy-has-also-played-for-the-england-national-team-a-late-bloomer-during-his-football-career-vardy-has-become-regarded-as-one-of-the-most-prolific-strikers-in-world-of-football-jamie-vardy-led-his-club-leicester-city-in-the-scoring-charts-to-the-clubs-first-ever-premier-league-title-winning-it-with-5000-1-odds-vardy-also-won-his-first-pl-golden-boot-in-2020-and-the-fa-cup-in-2021-DV9 {
  width: 68.7rem;
  height: 14.8rem;
  position: absolute;
  left: 35.8rem;
  top: 41.7016rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .this-is-a-branding-project-based-on-the-legend-jamie-vardy-which-was-done-during-the-pandemic-7U3 {
  width: 54.5rem;
  height: 5rem;
  position: absolute;
  left: 35.8rem;
  top: 62.15rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .vector-1-PRZ {
  width: 8.0478rem;
  height: 0;
  position: absolute;
  left: 35.8rem;
  top: 38.9207rem;
  object-fit: contain;
  vertical-align: top;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .vector-4-vRV {
  width: 0.9173rem;
  height: 7.2851rem;
  position: absolute;
  left: 136.1034rem;
  top: 82.1906rem;
  object-fit: contain;
  vertical-align: top;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .scroll-4Xh {
  width: 2.4rem;
  height: 5.5rem;
  position: absolute;
  left: 134.9207rem;
  top: 75.0098rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #848484;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .frame-B6X {
  width: 72.6013rem;
  height: 83.5017rem;
  position: absolute;
  left: 92rem;
  top: 20.4rem;
  overflow: hidden;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .frame-B6X .rectangle-uYK {
  width: 72.6013rem;
  height: 83.5017rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-ESb.png');
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .rectangle-76-RFm {
  width: 67.6887rem;
  height: 36.7453rem;
  position: absolute;
  left: 95.1113rem;
  top: 67.4604rem;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 89.36%);
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-c7sv-HJf .group-ikf {
  opacity: 0.4;
  width: 73.1338rem;
  height: 85.7775rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-3tlm-FVh {
  margin: 0rem 35.779rem 0.577rem 30.839rem;
  width: calc(100% - 66.6181rem);
  height: 13.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-3tlm-FVh .auto-group-tmqz-Acf {
  margin-right: 4.6611rem;
  width: 26.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-3tlm-FVh .auto-group-tmqz-Acf .logo-uq9 {
  width: 26.1rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 9.6rem;
  font-weight: 600;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-3tlm-FVh .auto-group-tmqz-Acf .competitors-qD1 {
  width: 18.9rem;
  height: 4.1rem;
  position: absolute;
  left: 4.9611rem;
  top: 5.2903rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-3tlm-FVh .auto-group-tmqz-Acf .competitors-qD1 .competitors-qD1-sub-0 {
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-3tlm-FVh .auto-group-tmqz-Acf .competitors-qD1 .competitors-qD1-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-3tlm-FVh .vector-5-Pdq {
  margin-top: 1.4806rem;
  width: 75.4208rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .item-1-20-1-8LX {
  margin: 0rem 11.38rem 24.473rem 0rem;
  width: 74.5rem;
  height: 28.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-suwm-qEw {
  margin: 0rem 35.779rem 8.28rem 35.8rem;
  width: calc(100% - 71.5792rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-suwm-qEw .constrain-MDH {
  margin-right: 10.8rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-suwm-qEw .constrain-MDH .constrain-MDH-sub-0 {
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-suwm-qEw .constrain-MDH .constrain-MDH-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-suwm-qEw .vector-6-xTy {
  margin-bottom: 0rem;
  width: 75.4208rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .should-be-easily-scalable-as-th-would-be-placed-from-tiny-part-of-shoes-to-biggest-billboards-should-convey-the-simplicity-of-the-brand-should-be-easily-memorable-should-convey-it-is-based-on-jamie-vardy-u8K {
  margin: 0rem 61.8rem 13.729rem 0rem;
  max-width: 39.4rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-qcey-JgF {
  margin: 0rem 35.779rem 9.778rem 35.8rem;
  width: calc(100% - 71.5792rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-qcey-JgF .ideation-diX {
  margin-right: 13.2rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-qcey-JgF .ideation-diX .ideation-diX-sub-0 {
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-qcey-JgF .ideation-diX .ideation-diX-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-qcey-JgF .vector-7-etX {
  margin-bottom: 0rem;
  width: 75.4208rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .image-77-Q71 {
  margin: 0rem 0rem 20.471rem 0rem;
  width: 67.9421rem;
  height: 44.5832rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-qvjs-itP {
  margin: 0rem 35.779rem 6.437rem 35.8rem;
  width: calc(100% - 71.5791rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-qvjs-itP .final-FdR {
  margin-right: 10.1363rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-qvjs-itP .final-FdR .final-FdR-sub-0 {
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-qvjs-itP .final-FdR .final-FdR-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-qvjs-itP .vector-8-sPu {
  margin-bottom: 0rem;
  width: 83.5846rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .item-1-12-1-pK9 {
  margin: 0rem 0rem 0rem 0.021rem;
  width: 101.2209rem;
  height: 56.9598rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-izwx-L2b {
  margin: 0rem 35.779rem 18.833rem 35.8rem;
  width: calc(100% - 71.5791rem);
  height: 112.2112rem;
  position: relative;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-izwx-L2b .rectangle-77-eoy {
  width: 101.2rem;
  height: 55.2631rem;
  position: absolute;
  left: 0;
  top: 56.948rem;
  background-color: #ffffff;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-izwx-L2b .item-1-13-1-PWf {
  width: 101.2rem;
  height: 56.948rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-izwx-L2b .item-1-14-1-vWb {
  width: 101.2209rem;
  height: 56.9598rem;
  position: absolute;
  left: 0;
  top: 54.948rem;
  object-fit: cover;
  vertical-align: top;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-cvdp-471 {
  margin: 0rem 35.613rem 0rem 35.8rem;
  width: calc(100% - 71.4135rem);
  height: 184.4124rem;
  position: relative;
  flex-shrink: 0;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-cvdp-471 .mockups-NdV {
  width: 13.7rem;
  height: 4.1rem;
  position: absolute;
  left: 0rem;
  top: 6.8917rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-cvdp-471 .mockups-NdV .mockups-NdV-sub-0 {
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-cvdp-471 .mockups-NdV .mockups-NdV-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-cvdp-471 .vector-9-MkK {
  width: 83.5846rem;
  height: 0rem;
  position: absolute;
  left: 17.6364rem;
  top: 8.9417rem;
  object-fit: contain;
  vertical-align: top;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-cvdp-471 .item-1-15-u19 {
  width: 49.6rem;
  height: 27.9rem;
  position: absolute;
  left: 0rem;
  top: 21.1766rem;
  object-fit: cover;
  vertical-align: top;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-cvdp-471 .item-2-dhq {
  width: 49.6rem;
  height: 74.3909rem;
  position: absolute;
  left: 51.6209rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-cvdp-471 .victor-hernandez-evomf-4myqs-unsplash-a7H {
  width: 49.6rem;
  height: 74.391rem;
  position: absolute;
  left: 0;
  top: 52.1544rem;
  object-fit: cover;
  vertical-align: top;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-cvdp-471 .whereslugo-6qvrvc-6vo-unsplash-JJB {
  width: 49.7656rem;
  height: 88.4721rem;
  position: absolute;
  left: 51.6209rem;
  top: 38.5473rem;
  object-fit: cover;
  vertical-align: top;
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-cvdp-471 .poster-1-Dg3 {
  width: 49.7656rem;
  height: 75.968rem;
  position: relative;
  left: 51.6209rem;
  top: 108.4445rem;
  background-size: 152.651% 100%;
  background-position: -13.3183rem 0;
  background-image: url('../assets/poster-1.png');
}
.vardy-479 .auto-group-ftxm-5TV .auto-group-cvdp-471 .mag-1-Wv3 {
  width: 49.6rem;
  height: 54.7893rem;
  position: absolute;
  left: 0rem;
  top: 129.6231rem;
  object-fit: cover;
  vertical-align: top;
}
.vardy-479 .other-projects-eWT {
  width: 21.3rem;
  height: 4.1rem;
  position: absolute;
  left: 10rem;
  top: 787.5476rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.vardy-479 .other-projects-eWT .other-projects-eWT-sub-0 {
}
.vardy-479 .other-projects-eWT .other-projects-eWT-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.vardy-479 .auto-group-reym-Sx7 {
  box-sizing: border-box;
  padding: 3.877rem 0rem 0rem 10rem;
  width: 172.8rem;
  height: 97.7524rem;
  position: absolute;
  left: 0;
  top: 791.6476rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-1psb-iud {
  margin: 0rem 10rem 10.15rem 0rem;
  height: 36.5383rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  flex-shrink: 0;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-1psb-iud .group-869-eHV {
  width: 49.6rem;
  height: 100%;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-A9u.png');
  flex-shrink: 0;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-1psb-iud .group-869-eHV .rectangle-80-C47 {
  width: 49.6rem;
  height: 11.556rem;
  position: absolute;
  left: 0;
  top: 24.9823rem;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
  border-radius: 0 0 1.8rem 1.8rem;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-1psb-iud .group-869-eHV .play-5tb {
  width: 5.3rem;
  height: 3.3rem;
  position: absolute;
  left: 3.3916rem;
  top: 29.8698rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-1psb-iud .group-870-xhV {
  width: 49.6rem;
  height: 100%;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-xM5.png');
  flex-shrink: 0;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-1psb-iud .group-870-xhV .rectangle-81-JWT {
  width: 49.6rem;
  height: 11.556rem;
  position: absolute;
  left: 0;
  top: 24.9823rem;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
  border-radius: 0 0 1.8rem 1.8rem;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-1psb-iud .group-870-xhV .airasia-oi7 {
  width: 8.7rem;
  height: 3.3rem;
  position: absolute;
  left: 3.3916rem;
  top: 29.8698rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-1psb-iud .group-872-WMd {
  width: 49.6rem;
  height: 100%;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-FCT.png');
  flex-shrink: 0;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-1psb-iud .group-872-WMd .rectangle-81-G5u {
  width: 49.6rem;
  height: 11.556rem;
  position: absolute;
  left: 0;
  top: 24.9823rem;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
  border-radius: 0 0 1.8rem 1.8rem;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-1psb-iud .group-872-WMd .time-pickle-Zqh {
  width: 13.6rem;
  height: 3.3rem;
  position: absolute;
  left: 3.3916rem;
  top: 29.8698rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-mfju-FyR {
  margin: 0rem 0rem 994.087rem 25.8rem;
  width: calc(100% - 25.8rem);
  height: 51.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-mfju-FyR .group-868-aVu {
  margin: 18.889rem 19.616rem 27.933rem 0rem;
  width: 19.1597rem;
  height: calc(100% - 46.8218rem);
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-mfju-FyR .group-868-aVu .back-to-home-haX {
  width: 18.9rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.0475rem;
  font-weight: 400;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-mfju-FyR .group-868-aVu .vector-185-pQF {
  width: 3.6781rem;
  height: 1.0993rem;
  position: absolute;
  left: 0.4713rem;
  top: 3.9789rem;
  object-fit: contain;
  vertical-align: top;
}
.vardy-479 .auto-group-reym-Sx7 .auto-group-mfju-FyR .back-MQB {
  font-size: 38.0114rem;
  font-weight: 800;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.vardy-479 .auto-group-reym-Sx7 .ellipse-6-VWP {
  margin-right: 110.4rem;
  width: 0.6rem;
  height: 0.6rem;
  border: solid 0.1rem #818181;
  box-sizing: border-box;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.vardy-479 .group-887-p2s {
  box-sizing: border-box;
  padding: 1.964rem 11.2rem 1.964rem 6.56rem;
  width: 172.8rem;
  height: 10.7884rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.vardy-479 .group-887-p2s .ellipse-1-7Xm {
  margin-right: 118.1778rem;
  width: 6.8603rem;
  height: 6.8603rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vardy-479 .group-887-p2s .auto-group-bsfs-Fdy {
  margin: 2.33rem 7.464rem 2.33rem 0rem;
  width: 5.1206rem;
  height: calc(100% - 4.6603rem);
  position: relative;
  flex-shrink: 0;
}
.vardy-479 .group-887-p2s .auto-group-bsfs-Fdy .rectangle-2-Nib {
  width: 5.1206rem;
  height: 0.0618rem;
  position: absolute;
  left: 0;
  top: 1.9792rem;
  background-color: #fece00;
}
.vardy-479 .group-887-p2s .auto-group-bsfs-Fdy .home-uyR {
  width: 4.5rem;
  height: 2.2rem;
  position: absolute;
  left: 0.2672rem;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.vardy-479 .group-887-p2s .other-Rgs {
  margin: 0rem 8.217rem 0rem 0rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.vardy-479 .group-887-p2s .about-jxT {
  margin-top: 0rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
