
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 10.1rem;
}.item-2018-2022-GKh {
  width: 100%;
  height: 2.5rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
