
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 14.494rem;
}.a-5MZ {
  width: 100%;
  height: 5.3484rem;
}
.a-5MZ .component-16-qrX {
  width: 100%;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0559999943;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e53232;
  border-radius: 2.6742rem;
}
