
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 23.079rem;
}.component-15-xR5 {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.component-15-xR5 .property-1default-61V {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.8042rem;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.056000016;
  color: #e1e1e1;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e53232;
  border-radius: 2.9021rem;
  flex-shrink: 0;
}
.component-15-xR5 .property-1variant2-ZQs {
  width: 100%;
  height: 5.8042rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.056000016;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 2.9021rem;
  flex-shrink: 0;
}
