
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 16.633rem;
}.component-1-gjR {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.component-1-gjR .property-1default-DUT {
  margin-bottom: 2rem;
  width: 100%;
  height: 4.8997rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.component-1-gjR .property-1default-DUT .rectangle-124-xB9 {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0.2477rem;
  top: 0;
  background-color: #000000;
}
.component-1-gjR .property-1default-DUT .rectangle-123-gsq {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0;
  top: 0.3302rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
.component-1-gjR .property-1default-DUT .view-1fD {
  width: 5.2rem;
  height: 2.6rem;
  position: absolute;
  left: 2.293rem;
  top: 1.365rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.component-1-gjR .property-1variant2-v1V {
  width: 100%;
  height: 4.8997rem;
  position: relative;
  flex-shrink: 0;
}
.component-1-gjR .property-1variant2-v1V .rectangle-124-fjm {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0.2477rem;
  top: 0;
  background-color: #000000;
}
.component-1-gjR .property-1variant2-v1V .rectangle-123-QxF {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0;
  top: -0.3252rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #fdcd00;
}
.component-1-gjR .property-1variant2-v1V .view-LL7 {
  width: 5.2rem;
  height: 2.6rem;
  position: absolute;
  left: 2.293rem;
  top: 0.7096rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
