
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.graphic-Mgj {
  width: 100%;
  height: 690.4rem;
  position: relative;
  overflow: hidden;
  background-color: #e1e1e1;
}
.graphic-Mgj .auto-group-swsm-Vnw {
  width: 270.3955rem;
  height: 232.4219rem;
  position: absolute;
  left: 0;
  top: 0;
}
.graphic-Mgj .auto-group-swsm-Vnw .other-works-RAo {
  width: 24.2rem;
  height: 5.1rem;
  position: absolute;
  left: 30.1336rem;
  top: 42.8025rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.graphic-Mgj .auto-group-swsm-Vnw .illustration-u5y {
  width: 20.7rem;
  height: 5.1rem;
  position: absolute;
  left: 30.1336rem;
  top: 111.241rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.graphic-Mgj .auto-group-swsm-Vnw .this-section-features-other-works-that-were-done-during-my-early-periods-of-software-learning-and-also-includes-couple-of-different-weird-smaller-projects-that-was-done-during-the-pandemic-oSF {
  width: 61.5rem;
  height: 12.1rem;
  position: absolute;
  left: 30rem;
  top: 51.7902rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.graphic-Mgj .auto-group-swsm-Vnw .scroll-EXZ {
  width: 5.7rem;
  height: 3rem;
  position: absolute;
  left: 31.1413rem;
  top: 90.8229rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3409999501;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.graphic-Mgj .auto-group-swsm-Vnw .vector-2-M6P {
  width: 14.5132rem;
  height: 0;
  position: absolute;
  left: 30rem;
  top: 49.6236rem;
  object-fit: contain;
  vertical-align: top;
}
.graphic-Mgj .auto-group-swsm-Vnw .vector-11-5YB {
  width: 14.5132rem;
  height: 0;
  position: absolute;
  left: 30rem;
  top: 118.0621rem;
  object-fit: contain;
  vertical-align: top;
}
.graphic-Mgj .auto-group-swsm-Vnw .vector-10-cHD {
  width: 0.7397rem;
  height: 1.7856rem;
  position: absolute;
  left: 30rem;
  top: 91.3372rem;
  object-fit: contain;
  vertical-align: top;
}
.graphic-Mgj .auto-group-swsm-Vnw .ellipse-15-YRm {
  width: 108.9643rem;
  height: 108.9643rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e53232;
  border-radius: 54.4822rem;
}
.graphic-Mgj .auto-group-swsm-Vnw .wrqv-01-1-5gb {
  width: 42.4779rem;
  height: 42.4779rem;
  position: absolute;
  left: 30rem;
  top: 123.7822rem;
  object-fit: cover;
  vertical-align: top;
}
.graphic-Mgj .auto-group-swsm-Vnw .liv-02-1-QTy {
  width: 43.0264rem;
  height: 42.478rem;
  position: absolute;
  left: 118.9736rem;
  top: 123.7822rem;
  object-fit: cover;
  vertical-align: top;
}
.graphic-Mgj .auto-group-swsm-Vnw .bvs-1-wD1 {
  width: 42.9918rem;
  height: 42.478rem;
  position: absolute;
  left: 74.2299rem;
  top: 123.7822rem;
  object-fit: cover;
  vertical-align: top;
}
.graphic-Mgj .auto-group-swsm-Vnw .freecitylightmockup3-1-42j {
  width: 57.772rem;
  height: 43.329rem;
  position: absolute;
  left: 102.8rem;
  top: 35.8rem;
  object-fit: cover;
  vertical-align: top;
}
.graphic-Mgj .auto-group-swsm-Vnw .rectangle-140-a15 {
  width: 57.6842rem;
  height: 43.2606rem;
  position: absolute;
  left: 104.3158rem;
  top: 34.6194rem;
  border: solid 0.3rem #e53232;
  box-sizing: border-box;
}
.graphic-Mgj .auto-group-r6rt-Hw5 {
  width: 192rem;
  height: 524.1398rem;
  position: absolute;
  left: 0;
  top: 166.2602rem;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .posters-cyM {
  width: 14.5rem;
  height: 5.1rem;
  position: absolute;
  left: 30.1336rem;
  top: 181.9211rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .vector-12-vz3 {
  width: 7.0969rem;
  height: 0;
  position: absolute;
  left: 30rem;
  top: 188.7422rem;
  object-fit: contain;
  vertical-align: top;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV {
  width: 132rem;
  height: 141.6016rem;
  position: absolute;
  left: 30rem;
  top: 1.4638rem;
  display: flex;
  align-items: flex-start;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-nwuh-CRm {
  margin-right: 1.3186rem;
  width: 51.5878rem;
  height: 100%;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-nwuh-CRm .star-wars-1-jwV {
  margin-bottom: 1.7789rem;
  width: 51.5878rem;
  height: 72.9423rem;
  object-fit: cover;
  vertical-align: top;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-nwuh-CRm .auto-group-3h2m-t3h {
  margin-right: 0.1185rem;
  width: calc(100% - 0.1185rem);
  height: 66.8803rem;
  display: flex;
  align-items: flex-start;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-nwuh-CRm .auto-group-3h2m-t3h .fakir-1-1u1 {
  margin-right: 1.5355rem;
  width: 22.5888rem;
  height: 32.0482rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-nwuh-CRm .auto-group-3h2m-t3h .auto-group-j31w-xZM {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-nwuh-CRm .auto-group-3h2m-t3h .auto-group-j31w-xZM .pulp-01-01-01-1-iHd {
  margin: 0rem 0rem 1.448rem 0rem;
  width: 27.3449rem;
  height: 27.3449rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-nwuh-CRm .auto-group-3h2m-t3h .auto-group-j31w-xZM .dark-knight-1-dQb {
  width: 26.9259rem;
  height: 38.0872rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-ttym-ZJF {
  width: 79.0937rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-ttym-ZJF .auto-group-f2pf-JWj {
  margin-bottom: 1.7406rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-ttym-ZJF .auto-group-f2pf-JWj .friends-01-01-1-Fgs {
  margin-right: 1.3184rem;
  width: 46.7318rem;
  height: 46.7318rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-ttym-ZJF .auto-group-f2pf-JWj .fault-f-1-z8f {
  width: 31.0435rem;
  height: 46.7318rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-ttym-ZJF .auto-group-xnir-j6F {
  margin-right: 0rem;
  width: calc(100% - 0rem);
  height: 87.6815rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-ttym-ZJF .auto-group-xnir-j6F .auto-group-lxrd-sTM {
  margin-right: 1.437rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-ttym-ZJF .auto-group-xnir-j6F .auto-group-lxrd-sTM .notimetodie-01-1-dBd {
  margin-bottom: 1.7411rem;
  width: 31.5077rem;
  height: 42.0288rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-ttym-ZJF .auto-group-xnir-j6F .auto-group-lxrd-sTM .quiet-place-1-MtK {
  margin-right: 0rem;
  width: 31.0435rem;
  height: 43.9115rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-jhuw-sPV .auto-group-ttym-ZJF .auto-group-xnir-j6F .mand-01-1-JHm {
  width: 46.1489rem;
  height: 65.2521rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-cdgy-2zT {
  width: 131.8664rem;
  height: 44.809rem;
  position: absolute;
  left: 30.1336rem;
  top: 195.1388rem;
  display: flex;
  align-items: center;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-cdgy-2zT .fifah-mBM {
  margin-right: 1.7517rem;
  width: 31.6529rem;
  height: 44.809rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-cdgy-2zT .fifaha-uHZ {
  margin-right: 1.7517rem;
  width: 31.6529rem;
  height: 44.809rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-cdgy-2zT .fifahaa-3Pm {
  margin-right: 1.7514rem;
  width: 31.6529rem;
  height: 44.809rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.graphic-Mgj .auto-group-r6rt-Hw5 .auto-group-cdgy-2zT .fifa3-auV {
  width: 31.6529rem;
  height: 44.809rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.graphic-Mgj .rectangle-84-XZq {
  width: 192rem;
  height: 10.7884rem;
  position: absolute;
  left: 0;
  top: 0.0042rem;
  background-color: #f5f5f5;
}
.graphic-Mgj .rectangle-2-GXR {
  width: 5.9531rem;
  height: 0.3797rem;
  position: absolute;
  left: 143.3001rem;
  top: 7.072rem;
  background-color: #e53232;
}
.graphic-Mgj .contact-Qdd {
  width: 6.4rem;
  height: 2.2rem;
  position: absolute;
  left: 155.6002rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.graphic-Mgj .graphic-uqH {
  width: 6rem;
  height: 2.2rem;
  position: absolute;
  left: 143.3001rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.graphic-Mgj .projects-pxF {
  width: 6.5rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 130.5rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.graphic-Mgj .about-wX5 {
  width: 4.7rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 119.4999rem;
  top: 4.3535rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.graphic-Mgj .home-fCB {
  width: 4.5rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 107.5158rem;
  top: 4.3535rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.graphic-Mgj .subtract-aa3 {
  width: 2.6284rem;
  height: 3.8819rem;
  position: absolute;
  left: 30rem;
  top: 3.4575rem;
  object-fit: contain;
  vertical-align: top;
}
