
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 101.374rem;
}.group-890-ASb {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.group-890-ASb .auto-group-hrxv-7sd {
  margin-right: 2.3735rem;
  width: 84.2rem;
  height: 59.3rem;
  position: relative;
  flex-shrink: 0;
}
.group-890-ASb .auto-group-hrxv-7sd .reume-3mH {
  width: 84.2rem;
  height: 33.5rem;
  position: absolute;
  left: 0;
  top: 25.8rem;
  text-align: center;
  font-size: 24.4935rem;
  font-weight: 800;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.group-890-ASb .auto-group-hrxv-7sd .devunathkannangmailcom-xdM {
  width: 47rem;
  height: 4.4rem;
  position: absolute;
  left: 1.5985rem;
  top: 22.4rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.group-890-ASb .auto-group-hrxv-7sd .devunathkannangmailcom-xdM .devunathkannangmailcom-xdM-sub-0 {
}
.group-890-ASb .auto-group-hrxv-7sd .devunathkannangmailcom-xdM .devunathkannangmailcom-xdM-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.group-890-ASb .auto-group-hrxv-7sd .mail-FVy {
  width: 57.8rem;
  height: 33.2rem;
  position: absolute;
  left: 25.9275rem;
  top: 0;
  text-align: center;
  font-size: 24.2636rem;
  font-weight: 800;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.group-890-ASb .click-here-a2T {
  margin-bottom: 6.7rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.3660000563;
  text-decoration-line: underline;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.group-890-ASb .click-here-a2T .click-here-a2T-sub-0 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  text-decoration-line: underline;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.group-890-ASb .click-here-a2T .click-here-a2T-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  text-decoration-line: underline;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
