
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 112.858rem;
}.group-901-a9u {
  width: 100%;
  display: flex;
  align-items: center;
}
.group-901-a9u .mask-group-L95 {
  margin-right: 7.3043rem;
  width: 55.3532rem;
  height: 33.4059rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-901-a9u .auto-group-qrwj-4qm {
  margin-top: 1.4619rem;
  width: 50.2rem;
  flex-shrink: 0;
}
.group-901-a9u .auto-group-qrwj-4qm .auto-group-4aer-1W7 {
  margin: 0rem 0rem 0.593rem 0.018rem;
  width: 12.3453rem;
  height: 4.5174rem;
  position: relative;
}
.group-901-a9u .auto-group-qrwj-4qm .auto-group-4aer-1W7 .movin-XjM {
  width: 12.3rem;
  height: 4.3rem;
  position: absolute;
  left: 0.0453rem;
  top: 0;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.0559999466;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.group-901-a9u .auto-group-qrwj-4qm .auto-group-4aer-1W7 .movin-pyM {
  width: 12.3rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0.2174rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.0559999466;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.group-901-a9u .auto-group-qrwj-4qm .auto-group-c8lm-Xsm {
  margin: 0rem 0.058rem 2.308rem 0.018rem;
  width: calc(100% - 0.0751rem);
  display: flex;
  align-items: center;
}
.group-901-a9u .auto-group-qrwj-4qm .auto-group-c8lm-Xsm .ux-and-ui-G4f {
  margin: 0.2rem 34.625rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-901-a9u .auto-group-qrwj-4qm .auto-group-c8lm-Xsm .mobile-application-NNb {
  margin-bottom: 0.2rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-901-a9u .auto-group-qrwj-4qm .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-6Jb {
  margin-bottom: 4.7807rem;
  max-width: 50.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0559999678;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.group-901-a9u .auto-group-qrwj-4qm .component-1-8m5 {
  margin-left: 37.509rem;
  width: 12.6335rem;
  height: 4.8997rem;
  cursor: pointer;
  position: relative;
}
.group-901-a9u .auto-group-qrwj-4qm .component-1-8m5 .rectangle-124-fm1 {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0.2477rem;
  top: 0;
  background-color: #000000;
}
.group-901-a9u .auto-group-qrwj-4qm .component-1-8m5 .rectangle-123-osD {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0;
  top: 0.3302rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
.group-901-a9u .auto-group-qrwj-4qm .component-1-8m5 .view-jF5 {
  width: 5.2rem;
  height: 2.6rem;
  position: absolute;
  left: 2.293rem;
  top: 1.365rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
