
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.home-znb {
  width: 100%;
  height: 245.6rem;
  position: relative;
  overflow: hidden;
  background-color: #e1e1e1;
}
.home-znb .auto-group-1r2h-wC3 {
  width: 230.1717rem;
  height: 248.5585rem;
  position: absolute;
  left: 30rem;
  top: 0;
}
.home-znb .auto-group-1r2h-wC3 .about-me-q2X {
  width: 18.9rem;
  height: 5.1rem;
  position: absolute;
  left: 0.1336rem;
  top: 31.2231rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .skills-is1 {
  width: 10.2rem;
  height: 5.1rem;
  position: absolute;
  left: 0.1336rem;
  top: 77.8243rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .tools-2co {
  width: 10.3rem;
  height: 5.1rem;
  position: absolute;
  left: 0.1336rem;
  top: 128.5298rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .experience-YLF {
  width: 21.4rem;
  height: 5.1rem;
  position: absolute;
  left: 0.1336rem;
  top: 173.9291rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .a-design-professional-just-passed-out-of-college-couple-of-months-ago-with-a-bachelors-degree-in-industrial-design-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-ePH {
  width: 64.6rem;
  height: 12.1rem;
  position: absolute;
  left: 0;
  top: 41.9406rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-znb .auto-group-1r2h-wC3 .a-design-professional-just-passed-out-of-college-couple-of-months-ago-with-a-bachelors-degree-in-industrial-design-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-ePH .a-design-professional-just-passed-out-of-college-couple-of-months-ago-with-a-bachelors-degree-in-industrial-design-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-ePH-sub-0 {
}
.home-znb .auto-group-1r2h-wC3 .a-design-professional-just-passed-out-of-college-couple-of-months-ago-with-a-bachelors-degree-in-industrial-design-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-ePH .a-design-professional-just-passed-out-of-college-couple-of-months-ago-with-a-bachelors-degree-in-industrial-design-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-ePH-sub-1 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-znb .auto-group-1r2h-wC3 .a-design-professional-just-passed-out-of-college-couple-of-months-ago-with-a-bachelors-degree-in-industrial-design-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-ePH .a-design-professional-just-passed-out-of-college-couple-of-months-ago-with-a-bachelors-degree-in-industrial-design-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-ePH-sub-2 {
}
.home-znb .auto-group-1r2h-wC3 .a-design-professional-just-passed-out-of-college-couple-of-months-ago-with-a-bachelors-degree-in-industrial-design-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-ePH .a-design-professional-just-passed-out-of-college-couple-of-months-ago-with-a-bachelors-degree-in-industrial-design-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-ePH-sub-3 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-znb .auto-group-1r2h-wC3 .a-design-professional-just-passed-out-of-college-couple-of-months-ago-with-a-bachelors-degree-in-industrial-design-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-ePH .a-design-professional-just-passed-out-of-college-couple-of-months-ago-with-a-bachelors-degree-in-industrial-design-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-ePH-sub-4 {
}
.home-znb .auto-group-1r2h-wC3 .typograrphy-kUF {
  width: 12.8rem;
  height: 3.1rem;
  position: absolute;
  left: 10.4042rem;
  top: 105.7966rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .photoshop-fDq {
  width: 11.2rem;
  height: 3.1rem;
  position: absolute;
  left: 11.2042rem;
  top: 153.8321rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .illustrator-Za7 {
  width: 9.8rem;
  height: 3.1rem;
  position: absolute;
  left: 36.1029rem;
  top: 153.8321rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .adobe-xd-sao {
  width: 9.9rem;
  height: 3.1rem;
  position: absolute;
  left: 60.2958rem;
  top: 153.8321rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .figma-z9d {
  width: 6.1rem;
  height: 3.1rem;
  position: absolute;
  left: 86.4386rem;
  top: 153.8321rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .branding-VcB {
  width: 9.1rem;
  height: 3.1rem;
  position: absolute;
  left: 36.1748rem;
  top: 105.7966rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .logo-PhZ {
  width: 5.1rem;
  height: 3.1rem;
  position: absolute;
  left: 62.9881rem;
  top: 105.7966rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .branding-1-K5R {
  width: 6.7179rem;
  height: 6.7179rem;
  position: absolute;
  left: 37.3658rem;
  top: 94.4054rem;
  object-fit: cover;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .user-interface-qJf {
  width: 14.4rem;
  height: 3.1rem;
  position: absolute;
  left: 81.8295rem;
  top: 105.7966rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .graphic-design-kAj {
  width: 15.4rem;
  height: 3.1rem;
  position: absolute;
  left: 106.5805rem;
  top: 105.7966rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .vector-2-T59 {
  width: 5.2836rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 37.0902rem;
  object-fit: contain;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .vector-3-PzP {
  width: 5.2836rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 83.8147rem;
  object-fit: contain;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .vector-4-k4F {
  width: 5.2836rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 134.5202rem;
  object-fit: contain;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .vector-5-V1q {
  width: 5.2836rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 179.9195rem;
  object-fit: contain;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .image80-3-Ek7 {
  width: 44.0296rem;
  height: 47.2224rem;
  position: relative;
  left: 82.6811rem;
  top: 22.48rem;
  background-size: 100% 176.986%;
  background-position: 0rem -29.8729rem;
  background-image: url('../assets/image80-3.png');
}
.home-znb .auto-group-1r2h-wC3 .type-1-jRy {
  width: 6.7179rem;
  height: 6.7179rem;
  position: absolute;
  left: 13.4452rem;
  top: 94.4054rem;
  object-fit: cover;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .curve-1-Tcs {
  width: 6.7664rem;
  height: 6.7664rem;
  position: absolute;
  left: 61.2864rem;
  top: 94.4054rem;
  object-fit: cover;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .ui-design-1-C4f {
  width: 7.5481rem;
  height: 7.5481rem;
  position: absolute;
  left: 85.2555rem;
  top: 94.4054rem;
  object-fit: cover;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .art-2-vWT {
  width: 8.5486rem;
  height: 8.5486rem;
  position: absolute;
  left: 110.0062rem;
  top: 94.4054rem;
  object-fit: cover;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .adobe-photoshop-qdR {
  width: 6.6298rem;
  height: 6.6298rem;
  position: absolute;
  left: 13.4452rem;
  top: 142.5289rem;
  object-fit: cover;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .adobe-illustrator-NNT {
  width: 6.6298rem;
  height: 6.6298rem;
  position: absolute;
  left: 37.688rem;
  top: 142.5289rem;
  object-fit: cover;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .experience-6ZM {
  width: 6.6298rem;
  height: 6.6298rem;
  position: absolute;
  left: 61.9309rem;
  top: 142.5289rem;
  object-fit: cover;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .figma-E9m {
  width: 6.6298rem;
  height: 6.6298rem;
  position: absolute;
  left: 86.1737rem;
  top: 142.5289rem;
  object-fit: cover;
  vertical-align: top;
}
.home-znb .auto-group-1r2h-wC3 .ellipse-18-xrT {
  width: 103.6878rem;
  height: 103.6878rem;
  position: absolute;
  left: 126.4839rem;
  top: 0;
  background-color: #e53232;
  border-radius: 51.8439rem;
}
.home-znb .auto-group-1r2h-wC3 .ellipse-14-Htj {
  width: 76.1793rem;
  height: 76.1793rem;
  position: absolute;
  left: 129.6628rem;
  top: 110.6319rem;
  border: solid 0.5rem #d9d9d9;
  box-sizing: border-box;
  border-radius: 38.0896rem;
}
.home-znb .auto-group-1r2h-wC3 .ellipse-15-os5 {
  width: 42.5221rem;
  height: 42.5221rem;
  position: absolute;
  left: 146.4914rem;
  top: 127.4605rem;
  border: solid 0.5rem #d9d9d9;
  box-sizing: border-box;
  border-radius: 21.261rem;
}
.home-znb .auto-group-1r2h-wC3 .ellipse-17-LMD {
  width: 26.6343rem;
  height: 26.6343rem;
  position: absolute;
  left: 154.4353rem;
  top: 135.4044rem;
  border: solid 0.5rem #d9d9d9;
  box-sizing: border-box;
  border-radius: 13.3171rem;
}
.home-znb .auto-group-1r2h-wC3 .ellipse-16-rqM {
  width: 59.7603rem;
  height: 59.7603rem;
  position: absolute;
  left: 137.8723rem;
  top: 118.8414rem;
  border: solid 0.5rem #d9d9d9;
  box-sizing: border-box;
  border-radius: 29.8801rem;
}
.home-znb .auto-group-1r2h-wC3 .group-906-yuy {
  width: 31.4071rem;
  height: 15.9rem;
  position: absolute;
  left: 110.0062rem;
  top: 40.9306rem;
  border-radius: 5.376rem;
}
.home-znb .auto-group-1r2h-wC3 .group-906-yuy .rectangle-137-JxF {
  width: 31.4071rem;
  height: 9.4982rem;
  position: absolute;
  left: 0;
  top: 0.5359rem;
  border: solid 0.2rem #e53232;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 5.376rem;
}
.home-znb .auto-group-1r2h-wC3 .group-906-yuy .item--Pyh {
  width: 5.6rem;
  height: 15.9rem;
  position: absolute;
  left: 3.1528rem;
  top: 0;
  font-size: 15rem;
  font-weight: 400;
  line-height: 1.0559999593;
  color: #e8e8e8;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .auto-group-1r2h-wC3 .group-906-yuy .little-something-about-me-in-my-professional-life-hzP {
  width: 21.4rem;
  height: 3.4rem;
  position: absolute;
  left: 5.2702rem;
  top: 3.885rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
}
.home-znb .auto-group-6y9f-Bef {
  width: 131.8664rem;
  height: 4.1rem;
  position: absolute;
  left: 30.1336rem;
  top: 190.2676rem;
  display: flex;
  align-items: center;
}
.home-znb .auto-group-6y9f-Bef .graphic-design-intern-house-of-babas-6Wj {
  margin-right: 1.7154rem;
  max-width: 20.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-znb .auto-group-6y9f-Bef .graphic-design-intern-house-of-babas-6Wj .graphic-design-intern-house-of-babas-6Wj-sub-0 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
}
.home-znb .auto-group-6y9f-Bef .graphic-design-intern-house-of-babas-6Wj .graphic-design-intern-house-of-babas-6Wj-sub-1 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
}
.home-znb .auto-group-6y9f-Bef .vector-6-aKR {
  margin: 0rem 3.149rem 0.016rem 0rem;
  width: 87.7019rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-znb .auto-group-6y9f-Bef .dec-2019-apr-2020-ucb {
  margin-bottom: 1.8rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-znb .auto-group-ffgy-RL3 {
  width: 131.8664rem;
  height: 4.1rem;
  position: absolute;
  left: 30.1336rem;
  top: 199.8851rem;
  display: flex;
  align-items: center;
}
.home-znb .auto-group-ffgy-RL3 .graphic-design-head-doubtconnect-YQf {
  margin-right: 2.4154rem;
  max-width: 19.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-znb .auto-group-ffgy-RL3 .graphic-design-head-doubtconnect-YQf .graphic-design-head-doubtconnect-YQf-sub-0 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
}
.home-znb .auto-group-ffgy-RL3 .graphic-design-head-doubtconnect-YQf .graphic-design-head-doubtconnect-YQf-sub-1 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
}
.home-znb .auto-group-ffgy-RL3 .vector-7-tN3 {
  margin: 0rem 3.049rem 0.1rem 0rem;
  width: 87.7019rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-znb .auto-group-ffgy-RL3 .oct-2020-jan-2022-Rcs {
  margin-bottom: 1.1rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-znb .auto-group-ensh-ZDH {
  width: 131.8664rem;
  height: 4.1rem;
  position: absolute;
  left: 30.1336rem;
  top: 209.5025rem;
  display: flex;
  align-items: center;
}
.home-znb .auto-group-ensh-ZDH .ui-ux-intern-unikwaan-goh {
  margin-right: 1.9116rem;
  max-width: 11.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-znb .auto-group-ensh-ZDH .ui-ux-intern-unikwaan-goh .ui-ux-intern-unikwaan-goh-sub-0 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
}
.home-znb .auto-group-ensh-ZDH .ui-ux-intern-unikwaan-goh .ui-ux-intern-unikwaan-goh-sub-1 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
}
.home-znb .auto-group-ensh-ZDH .vector-8-TCB {
  margin: 0.2rem 3.349rem 0rem 0rem;
  width: 96.4057rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-znb .auto-group-ensh-ZDH .jan-2022-apr-2022-Bts {
  margin-bottom: 1.1rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-znb .auto-group-6hjm-WRM {
  width: 234.3736rem;
  height: 103.6878rem;
  position: absolute;
  left: 0;
  top: 217.3438rem;
  display: flex;
  align-items: flex-start;
}
.home-znb .auto-group-6hjm-WRM .auto-group-lcld-pgw {
  margin-right: 3.8997rem;
  width: 116.9073rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-znb .auto-group-6hjm-WRM .auto-group-lcld-pgw .visual-designer-cognizant-mcB {
  width: 14.4rem;
  height: 4.1rem;
  position: absolute;
  left: 30.1336rem;
  top: 1.7763rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-znb .auto-group-6hjm-WRM .auto-group-lcld-pgw .visual-designer-cognizant-mcB .visual-designer-cognizant-mcB-sub-0 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
}
.home-znb .auto-group-6hjm-WRM .auto-group-lcld-pgw .visual-designer-cognizant-mcB .visual-designer-cognizant-mcB-sub-1 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
}
.home-znb .auto-group-6hjm-WRM .auto-group-lcld-pgw .ellipse-13-XDy {
  width: 103.6878rem;
  height: 103.6878rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e53232;
  border-radius: 51.8439rem;
}
.home-znb .auto-group-6hjm-WRM .vector-9-FQs {
  margin: 3.926rem 4.749rem 0rem 0rem;
  width: 91.4176rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-znb .auto-group-6hjm-WRM .jun-2022-present-aT9 {
  margin-top: 2.1263rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-znb .rectangle-84-6gP {
  width: 192rem;
  height: 10.7884rem;
  position: absolute;
  left: 0;
  top: 0.0042rem;
  background-color: #f5f5f5;
}
.home-znb .subtract-Rif {
  width: 2.6284rem;
  height: 3.8819rem;
  position: absolute;
  left: 30rem;
  top: 3.4575rem;
  object-fit: contain;
  vertical-align: top;
}
.home-znb .rectangle-2-ARM {
  width: 4.7rem;
  height: 0.4rem;
  position: absolute;
  left: 119.5rem;
  top: 7.1rem;
  background-color: #e53232;
}
.home-znb .contact-u83 {
  width: 6.4rem;
  height: 2.2rem;
  position: absolute;
  left: 155.6002rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .graphic-D8j {
  width: 6rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 143.3001rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .projects-Wdd {
  width: 6.5rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 130.5rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .about-Dnw {
  width: 4.7rem;
  height: 2.2rem;
  position: absolute;
  left: 119.4999rem;
  top: 4.3535rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-znb .home-L6s {
  width: 4.5rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 107.5158rem;
  top: 4.3535rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
