
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.home-fuZ {
  width: 100%;
  height: 328.7rem;
  position: relative;
  overflow: hidden;
  background-color: #e1e1e1;
}
.home-fuZ .auto-group-abqh-C8o {
  width: 270.3955rem;
  height: 231.4856rem;
  position: absolute;
  left: 0;
  top: 0;
}
.home-fuZ .auto-group-abqh-C8o .projects-vKh {
  width: 15.9rem;
  height: 5.1rem;
  position: absolute;
  left: 30.1336rem;
  top: 42.8025rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.home-fuZ .auto-group-abqh-C8o .holding-hand-smart-phone-mockup-1-1-oPV {
  width: 82.3018rem;
  height: 156.2255rem;
  position: absolute;
  left: 109.7658rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-fuZ .auto-group-abqh-C8o .explore-the-various-and-selected-project-that-were-done-during-the-past-2-years-of-my-professional-career-ranging-from-website-redesign-of-a-established-iot-service-company-to-exploring-different-ideas-in-my-freetime-the-following-projects-helped-me-a-lot-to-learn-and-explore-different-techniques-and-tools-in-design-helping-me-grow-in-the-process-XKV {
  width: 63.5rem;
  height: 20.7rem;
  position: absolute;
  left: 30rem;
  top: 51.7902rem;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.3409999501;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
}
.home-fuZ .auto-group-abqh-C8o .scroll-tpF {
  width: 5.7rem;
  height: 3rem;
  position: absolute;
  left: 31.1413rem;
  top: 90.8229rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3409999501;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-fuZ .auto-group-abqh-C8o .vector-2-Cpw {
  width: 14.5132rem;
  height: 0;
  position: absolute;
  left: 30rem;
  top: 49.6236rem;
  object-fit: contain;
  vertical-align: top;
}
.home-fuZ .auto-group-abqh-C8o .vector-10-Lw9 {
  width: 0.7397rem;
  height: 1.7856rem;
  position: absolute;
  left: 30rem;
  top: 91.3372rem;
  object-fit: contain;
  vertical-align: top;
}
.home-fuZ .auto-group-abqh-C8o .ellipse-15-UXZ {
  width: 108.9643rem;
  height: 108.9643rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e53232;
  border-radius: 54.4822rem;
}
.home-fuZ .auto-group-abqh-C8o .component-9-Qw1 {
  box-sizing: border-box;
  padding-right: 0.2899rem;
  width: 132rem;
  height: 39.1rem;
  cursor: pointer;
  position: absolute;
  left: 29.025rem;
  top: 125.6rem;
  display: flex;
  align-items: center;
}
.home-fuZ .auto-group-abqh-C8o .component-9-Qw1 .auto-group-qyl9-K2P {
  margin-right: 8.5477rem;
  width: 64.775rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-fuZ .auto-group-abqh-C8o .component-9-Qw1 .auto-group-qyl9-K2P .rectangle-137-f6F {
  width: 64.4751rem;
  height: 38.4607rem;
  position: absolute;
  left: 0.0588rem;
  top: 0.2811rem;
  background-color: #e53232;
}
.home-fuZ .auto-group-abqh-C8o .component-9-Qw1 .auto-group-qyl9-K2P .mask-group-ayu {
  width: 64.775rem;
  height: 39.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-fuZ .auto-group-abqh-C8o .component-9-Qw1 .auto-group-giox-iqD {
  margin: 6.39rem 0rem 5.242rem 0rem;
  height: calc(100% - 11.6312rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-fuZ .auto-group-abqh-C8o .component-9-Qw1 .auto-group-giox-iqD .movin-SmD {
  margin-bottom: 1.4818rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.0559999466;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-fuZ .auto-group-abqh-C8o .component-9-Qw1 .auto-group-giox-iqD .ux-and-ui-PAf {
  margin: 0rem 0rem 1.582rem 0.021rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-fuZ .auto-group-abqh-C8o .component-9-Qw1 .auto-group-giox-iqD .movin-is-a-new-age-app-that-acts-as-a-platform-to-connect-the-people-seeking-for-room-and-the-people-who-are-seeking-for-roommate-6qm {
  margin-bottom: 6.1284rem;
  max-width: 55.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-fuZ .auto-group-abqh-C8o .component-9-Qw1 .auto-group-giox-iqD .component-7-akw {
  margin-left: 43.8773rem;
  width: 14.5102rem;
  height: 5.3766rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.home-fuZ .auto-group-abqh-C8o .component-9-Qw1 .auto-group-giox-iqD .component-7-akw .rectangle-123-v47 {
  width: 14.4941rem;
  height: 5.3484rem;
  position: absolute;
  left: 0;
  top: 0.0282rem;
  background-color: #e53232;
  border-radius: 2.6742rem;
}
.home-fuZ .auto-group-abqh-C8o .component-9-Qw1 .auto-group-giox-iqD .component-7-akw .view-rCf {
  width: 5.7rem;
  height: 2.6rem;
  position: absolute;
  left: 4.4131rem;
  top: 1.4242rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0559999943;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.home-fuZ .auto-group-bruy-jXM {
  box-sizing: border-box;
  padding: 22.287rem 6.144rem 0rem 6.194rem;
  width: 192rem;
  height: 163.3762rem;
  position: absolute;
  left: 0;
  top: 165.3238rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home-fuZ .auto-group-bruy-jXM .auto-group-hkkd-Ruy {
  margin: 0rem 23.831rem 22.911rem 23.831rem;
  width: calc(100% - 47.6618rem);
  height: 39.1rem;
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .auto-group-hkkd-Ruy .component-11-MHq {
  box-sizing: border-box;
  padding-right: 0.2899rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.home-fuZ .auto-group-bruy-jXM .auto-group-hkkd-Ruy .component-11-MHq .auto-group-esd3-5zX {
  margin-right: 8.5477rem;
  width: 64.775rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .auto-group-hkkd-Ruy .component-11-MHq .auto-group-esd3-5zX .rectangle-139-qD1 {
  width: 64.4751rem;
  height: 38.4607rem;
  position: absolute;
  left: 0.0588rem;
  top: 0.2811rem;
  background-color: #e53232;
}
.home-fuZ .auto-group-bruy-jXM .auto-group-hkkd-Ruy .component-11-MHq .auto-group-esd3-5zX .mask-group-Zeo {
  width: 64.775rem;
  height: 39.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-fuZ .auto-group-bruy-jXM .auto-group-hkkd-Ruy .component-11-MHq .auto-group-fbvw-twy {
  margin: 6.39rem 0rem 5.242rem 0rem;
  height: calc(100% - 11.6312rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .auto-group-hkkd-Ruy .component-11-MHq .auto-group-fbvw-twy .we-make-iot-RS7 {
  margin-bottom: 1.4818rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.0559999466;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .auto-group-hkkd-Ruy .component-11-MHq .auto-group-fbvw-twy .ux-and-ui-kjH {
  margin: 0rem 0rem 1.582rem 0.021rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .auto-group-hkkd-Ruy .component-11-MHq .auto-group-fbvw-twy .wemakeiot-is-a-software-associate-web-service-division-started-in-the-year-1999-me-and-my-assosiate-sam-were-handed-the-task-of-redesigned-the-website-to-make-it-a-little-more-modern-and-new-age-HDR {
  margin-bottom: 5.7284rem;
  max-width: 57.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3360000186;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .auto-group-hkkd-Ruy .component-11-MHq .auto-group-fbvw-twy .component-10-8E3 {
  margin-left: 43.8773rem;
  width: 14.5102rem;
  height: 5.3766rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .auto-group-hkkd-Ruy .component-11-MHq .auto-group-fbvw-twy .component-10-8E3 .rectangle-123-4dV {
  width: 14.4941rem;
  height: 5.3484rem;
  position: absolute;
  left: 0;
  top: 0.0282rem;
  background-color: #e53232;
  border-radius: 2.6742rem;
}
.home-fuZ .auto-group-bruy-jXM .auto-group-hkkd-Ruy .component-11-MHq .auto-group-fbvw-twy .component-10-8E3 .view-Pvf {
  width: 5.7rem;
  height: 2.6rem;
  position: absolute;
  left: 4.4131rem;
  top: 1.4242rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0559999943;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.home-fuZ .auto-group-bruy-jXM .component-13-sL3 {
  margin: 0rem 23.831rem 26.624rem 23.831rem;
  box-sizing: border-box;
  padding-right: 0.1774rem;
  width: calc(100% - 47.6618rem);
  height: 39.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .component-13-sL3 .auto-group-k8gu-92f {
  margin-right: 8.5477rem;
  width: 64.775rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .component-13-sL3 .auto-group-k8gu-92f .rectangle-139-5BD {
  width: 64.4751rem;
  height: 38.4607rem;
  position: absolute;
  left: 0.0588rem;
  top: 0.2811rem;
  background-color: #e53232;
}
.home-fuZ .auto-group-bruy-jXM .component-13-sL3 .auto-group-k8gu-92f .mask-group-Phh {
  width: 64.775rem;
  height: 39.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-fuZ .auto-group-bruy-jXM .component-13-sL3 .auto-group-ourz-LN3 {
  margin: 6.39rem 0rem 5.242rem 0rem;
  height: calc(100% - 11.6312rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .component-13-sL3 .auto-group-ourz-LN3 .play-GFh {
  margin-bottom: 1.4818rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.0559999466;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .component-13-sL3 .auto-group-ourz-LN3 .ux-and-ui-oWX {
  margin: 0rem 0rem 1.582rem 0.021rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .component-13-sL3 .auto-group-ourz-LN3 .play-an-app-to-suggest-movie-tv-show-to-users-depending-on-the-likes-of-theirs-at-that-moment-with-family-or-friends-and-many-more-and-also-to-help-the-user-to-keep-a-track-of-movies-that-they-have-seen-XSX {
  margin-bottom: 5.6284rem;
  max-width: 58.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .component-13-sL3 .auto-group-ourz-LN3 .component-12-Zu1 {
  margin-left: 43.8773rem;
  width: 14.5102rem;
  height: 5.3766rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.home-fuZ .auto-group-bruy-jXM .component-13-sL3 .auto-group-ourz-LN3 .component-12-Zu1 .rectangle-123-suh {
  width: 14.4941rem;
  height: 5.3484rem;
  position: absolute;
  left: 0;
  top: 0.0282rem;
  background-color: #e53232;
  border-radius: 2.6742rem;
}
.home-fuZ .auto-group-bruy-jXM .component-13-sL3 .auto-group-ourz-LN3 .component-12-Zu1 .view-zUX {
  width: 5.7rem;
  height: 2.6rem;
  position: absolute;
  left: 4.4131rem;
  top: 1.4242rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0559999943;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.home-fuZ .auto-group-bruy-jXM .ellipse-18-HTd {
  width: 179.6618rem;
  height: 143.9388rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-fuZ .rectangle-84-qEF {
  width: 192rem;
  height: 10.7884rem;
  position: absolute;
  left: 0;
  top: 0.0042rem;
  background-color: #f5f5f5;
}
.home-fuZ .rectangle-2-mNo {
  width: 6.475rem;
  height: 0.3797rem;
  position: absolute;
  left: 130.525rem;
  top: 7.072rem;
  background-color: #e53232;
}
.home-fuZ .contact-6fy {
  width: 6.4rem;
  height: 2.2rem;
  position: absolute;
  left: 155.6002rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-fuZ .graphic-bsd {
  width: 6rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 143.3001rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-fuZ .projects-Wjh {
  width: 6.5rem;
  height: 2.2rem;
  position: absolute;
  left: 130.5rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-fuZ .about-mQj {
  width: 4.7rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 119.4999rem;
  top: 4.3535rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-fuZ .home-gGo {
  width: 4.5rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 107.5158rem;
  top: 4.3535rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-fuZ .subtract-ASs {
  width: 2.6284rem;
  height: 3.8819rem;
  position: absolute;
  left: 30rem;
  top: 3.4575rem;
  object-fit: contain;
  vertical-align: top;
}
