
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.home-JJT {
  width: 100%;
  height: 335.1rem;
  position: relative;
  overflow: hidden;
  background-color: #e1e1e1;
}
.home-JJT .auto-group-9wko-ca3 {
  width: 112.8552rem;
  height: 41.4931rem;
  position: absolute;
  left: 29.9448rem;
  top: 106.4601rem;
}
.home-JJT .auto-group-9wko-ca3 .image-80-2-LF9 {
  width: 26.7464rem;
  height: 35.4431rem;
  position: absolute;
  left: 0;
  top: 5.95rem;
  object-fit: cover;
  vertical-align: top;
}
.home-JJT .auto-group-9wko-ca3 .sooooo-an-design-professional-just-passed-out-of-college-couple-of-months-ago-with-a-bachelors-degree-in-industrial-design-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-an-open-minded-who-enjoys-team-work-and-always-willing-to-face-new-challenge-and-also-quite-passionate-and-discipline-with-an-urge-to-learn-something-new-or-meet-new-people-G8o {
  width: 79.6rem;
  height: 24.1rem;
  position: absolute;
  left: 33.2552rem;
  top: 17.3931rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-9wko-ca3 .about-me-a31 {
  width: 44.4rem;
  height: 12.1rem;
  position: absolute;
  left: 0.6813rem;
  top: 0.5745rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-9wko-ca3 .about-me-4is {
  width: 43.7rem;
  height: 12.1rem;
  position: absolute;
  left: 0.2959rem;
  top: 0;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.home-JJT .auto-group-9wko-ca3 .about-me-4is .about-me-4is-sub-0 {
}
.home-JJT .auto-group-9wko-ca3 .about-me-4is .about-me-4is-sub-1 {
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fece00;
  font-family: Monument Extended, 'Source Sans Pro';
}
.home-JJT .auto-group-8rj7-Nsy {
  width: 133.4911rem;
  height: 79.6621rem;
  position: absolute;
  left: 30.1336rem;
  top: 21.1278rem;
  display: flex;
  align-items: flex-end;
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-fqb3-Vxb {
  margin: 6.892rem 0.1rem 17.949rem 0rem;
  height: calc(100% - 24.8404rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-fqb3-Vxb .hello-im-devunath-Cs1 {
  margin-bottom: 0.4745rem;
  max-width: 64.3rem;
  font-size: 10.6rem;
  font-weight: 800;
  line-height: 1.3660000495;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-fqb3-Vxb .hello-im-devunath-Cs1 .hello-im-devunath-Cs1-sub-0 {
  font-size: 10.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-fqb3-Vxb .hello-im-devunath-Cs1 .hello-im-devunath-Cs1-sub-1 {
  font-size: 10.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fece00;
  font-family: Monument Extended, 'Source Sans Pro';
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-fqb3-Vxb .hello-im-devunath-Cs1 .hello-im-devunath-Cs1-sub-2 {
  font-size: 10.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-fqb3-Vxb .auto-group-vadk-nCw {
  margin-bottom: 9.5473rem;
  width: 15.3rem;
  height: 2.2rem;
  position: relative;
  flex-shrink: 0;
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-fqb3-Vxb .auto-group-vadk-nCw .rectangle-88-v4F {
  width: 15.1965rem;
  height: 0.5383rem;
  position: absolute;
  left: 0;
  top: 0.9399rem;
  background-color: #fece00;
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-fqb3-Vxb .auto-group-vadk-nCw .visual-designer-Eqd {
  width: 15.3rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.0559999466;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-fqb3-Vxb .auto-group-avcv-wk3 {
  margin-left: 42.7664rem;
  width: 41.1rem;
  height: 15.9rem;
  position: relative;
  flex-shrink: 0;
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-fqb3-Vxb .auto-group-avcv-wk3 .item--UEB {
  width: 5.6rem;
  height: 15.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15rem;
  font-weight: 400;
  line-height: 1.0559999593;
  color: #b8b8b8;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-fqb3-Vxb .auto-group-avcv-wk3 .innovative-and-passionate-to-create-meaningful-design-to-user-problems-nEs {
  width: 38.3rem;
  height: 4.7rem;
  position: absolute;
  left: 2.8rem;
  top: 4.1502rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.056000016;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-8rj7-Nsy .image-79-1-SaK {
  margin: 0rem 18.525rem 25.184rem 0rem;
  width: 28.7rem;
  height: 54.4785rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-v3bk-MhH {
  width: 2.3rem;
  height: 25.0986rem;
  position: relative;
  flex-shrink: 0;
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-v3bk-MhH .scroll-JcX {
  width: 2rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.056000016;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
}
.home-JJT .auto-group-8rj7-Nsy .auto-group-v3bk-MhH .vector-1-Rx3 {
  width: 0.8538rem;
  height: 25.0986rem;
  position: absolute;
  left: 1.4462rem;
  top: 0rem;
  object-fit: contain;
  vertical-align: top;
}
.home-JJT .auto-group-l9fb-Z2f {
  width: 112.6664rem;
  height: 37rem;
  position: absolute;
  left: 30.1336rem;
  top: 244.2557rem;
  display: flex;
  align-items: flex-start;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-alqs-gNB {
  margin: 0.1rem 23.366rem 0rem 0rem;
  width: 33.9rem;
  height: 36.9rem;
  position: relative;
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-alqs-gNB .once-upona-time-1QT {
  width: 33.9rem;
  height: 36.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12.8rem;
  font-weight: 800;
  line-height: 0.9609375;
  font-family: Monument Extended, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-alqs-gNB .once-upona-time-1QT .once-upona-time-1QT-sub-0 {
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-alqs-gNB .once-upona-time-1QT .once-upona-time-1QT-sub-1 {
  font-size: 11.5rem;
  font-weight: 800;
  line-height: 1.0695652174;
  font-family: Monument Extended, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-alqs-gNB .past-2aT {
  width: 10.1rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fece00;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-alqs-gNB .past-2aT .past-2aT-sub-0 {
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-alqs-gNB .past-2aT .past-2aT-sub-1 {
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj {
  margin-right: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .th-and-12th-grade-omega-international-school-chennai-AKH {
  margin-bottom: 1.5rem;
  max-width: 24rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .th-and-12th-grade-omega-international-school-chennai-AKH .th-and-12th-grade-omega-international-school-chennai-AKH-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .th-and-12th-grade-omega-international-school-chennai-AKH .th-and-12th-grade-omega-international-school-chennai-AKH-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .bachelors-of-design-in-industrial-design-vit-vellore-6MM {
  margin-bottom: 1.7762rem;
  max-width: 37.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .bachelors-of-design-in-industrial-design-vit-vellore-6MM .bachelors-of-design-in-industrial-design-vit-vellore-6MM-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .bachelors-of-design-in-industrial-design-vit-vellore-6MM .bachelors-of-design-in-industrial-design-vit-vellore-6MM-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .graphic-design-intern-house-of-babas-2PR {
  margin-bottom: 1.6381rem;
  max-width: 18.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .graphic-design-intern-house-of-babas-2PR .graphic-design-intern-house-of-babas-2PR-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .graphic-design-intern-house-of-babas-2PR .graphic-design-intern-house-of-babas-2PR-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .graphic-design-head-doubtconnect-nG7 {
  margin-bottom: 1.6381rem;
  max-width: 18.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .graphic-design-head-doubtconnect-nG7 .graphic-design-head-doubtconnect-nG7-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .graphic-design-head-doubtconnect-nG7 .graphic-design-head-doubtconnect-nG7-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .ui-ux-intern-unikwaan-9ks {
  margin-bottom: 1.6381rem;
  max-width: 10.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .ui-ux-intern-unikwaan-9ks .ui-ux-intern-unikwaan-9ks-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .ui-ux-intern-unikwaan-9ks .ui-ux-intern-unikwaan-9ks-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .visual-designer-cognizant-L4f {
  max-width: 13.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .visual-designer-cognizant-L4f .visual-designer-cognizant-L4f-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-tr3x-EAj .visual-designer-cognizant-L4f .visual-designer-cognizant-L4f-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-lvmp-6i3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-lvmp-6i3 .item-2012-2018-T2o {
  margin-bottom: 3.5268rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-lvmp-6i3 .item-2018-2022-ZrX {
  margin-bottom: 3.7993rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-lvmp-6i3 .dec-2019-apr-2020-tdu {
  margin: 0rem 0rem 3.538rem 0rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-lvmp-6i3 .oct-2020-jan-2022-Ceb {
  margin: 0rem 0rem 3.538rem 0rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-lvmp-6i3 .jan-2022-apr-2022-vKh {
  margin: 0rem 0rem 3.538rem 0rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-JJT .auto-group-l9fb-Z2f .auto-group-lvmp-6i3 .jun-2022-present-SJ3 {
  margin-right: 0rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 {
  width: 112.6664rem;
  height: 12.7547rem;
  position: absolute;
  left: 30.1336rem;
  top: 204.2884rem;
  display: flex;
  align-items: center;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-nnqb-tQw {
  width: 28.8114rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-nnqb-tQw .rectangle-92-EUo {
  width: 20.8338rem;
  height: 6.4877rem;
  position: absolute;
  left: 0;
  top: 6.267rem;
  background-color: #fece00;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-nnqb-tQw .tools-AdM {
  width: 25.7rem;
  height: 12.1rem;
  position: absolute;
  left: 3.1114rem;
  top: 0;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #e1e1e1;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-nnqb-tQw .tools-sXm {
  width: 25.7rem;
  height: 12.1rem;
  position: absolute;
  left: 2.8114rem;
  top: 0.3rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #e1e1e1;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-nnqb-tQw .tools-PFD {
  width: 25.7rem;
  height: 12.1rem;
  position: absolute;
  left: 2.5942rem;
  top: 0.517rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M {
  box-sizing: border-box;
  padding: 1.282rem 0rem 1.402rem 28.455rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M .auto-group-gjyj-CiT {
  margin-right: 8.5346rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M .auto-group-gjyj-CiT .image-85-wg3 {
  margin-bottom: 0.7122rem;
  width: 7.3585rem;
  height: 7.3585rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M .auto-group-gjyj-CiT .illustrator-UAB {
  margin-right: 0.0001rem;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M .auto-group-1rvt-Q3q {
  margin-right: 8.5347rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M .auto-group-1rvt-Q3q .image-84-9n7 {
  margin: 0rem 0rem 0.712rem 0rem;
  width: 7.3585rem;
  height: 7.3585rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M .auto-group-1rvt-Q3q .photoshop-UZV {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M .auto-group-ebhw-orf {
  margin-right: 8.6554rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M .auto-group-ebhw-orf .image-81-xzT {
  margin-bottom: 0.7122rem;
  width: 7.3585rem;
  height: 7.3585rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M .auto-group-ebhw-orf .figma-UC7 {
  margin-right: 0.0001rem;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M .auto-group-3kkw-zgF {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M .auto-group-3kkw-zgF .image-82-9JF {
  margin-bottom: 0.7122rem;
  width: 7.3585rem;
  height: 7.3585rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-JJT .auto-group-kkyu-AE3 .auto-group-xfxh-V3M .auto-group-3kkw-zgF .adobe-xd-5Bu {
  margin-right: 0.0001rem;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-JJT .auto-group-ud6d-CGX {
  width: 142.8rem;
  height: 24.2896rem;
  position: absolute;
  left: 30rem;
  top: 299.908rem;
}
.home-JJT .auto-group-ud6d-CGX .rectangle-109-X3u {
  width: 114.1rem;
  height: 24.0763rem;
  position: absolute;
  left: 28.7rem;
  top: 0;
  background-color: #fece00;
}
.home-JJT .auto-group-ud6d-CGX .contact-rby {
  width: 36.6rem;
  height: 12.1rem;
  position: absolute;
  left: 0.5095rem;
  top: 6.7896rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #e1e1e1;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-ud6d-CGX .contact-N4X {
  width: 36.6rem;
  height: 12.1rem;
  position: absolute;
  left: 0.2281rem;
  top: 7.0896rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #e1e1e1;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-ud6d-CGX .contact-fpK {
  width: 36.6rem;
  height: 12.1rem;
  position: absolute;
  left: 0;
  top: 7.3067rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-ud6d-CGX .mail-yq1 {
  width: 18.3rem;
  height: 12.1rem;
  position: absolute;
  left: 88.8rem;
  top: 12.1896rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-ud6d-CGX .devunathkannangmailcom-68w {
  width: 32rem;
  height: 3.1rem;
  position: absolute;
  left: 66rem;
  top: 18.5896rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-xn77-n1m {
  width: 33.4449rem;
  height: 7.1315rem;
  position: absolute;
  left: 30rem;
  top: 173.0657rem;
}
.home-JJT .auto-group-xn77-n1m .rectangle-93-6o9 {
  width: 20.8338rem;
  height: 6.4877rem;
  position: absolute;
  left: 12.6111rem;
  top: 0;
  background-color: #fece00;
}
.home-JJT .auto-group-xn77-n1m .skills-2wh {
  width: 16.5rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 1.0315rem;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-xn77-n1m .skills-9WX {
  width: 15.3rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 0.6877rem;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #e1e1e1;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.home-JJT .auto-group-xn77-n1m .skills-9WX .skills-9WX-sub-0 {
}
.home-JJT .auto-group-xn77-n1m .skills-9WX .skills-9WX-sub-1 {
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fece00;
  font-family: Monument Extended, 'Source Sans Pro';
}
.home-JJT .auto-group-bsmb-8dM {
  width: 112.8124rem;
  height: 6.3007rem;
  position: absolute;
  left: 30rem;
  top: 186.0158rem;
  display: flex;
  align-items: center;
}
.home-JJT .auto-group-bsmb-8dM .group-895-Fxs {
  margin: 0rem 3.093rem 0rem 0rem;
  width: 19.9347rem;
  height: calc(100% - 0rem);
  position: relative;
  flex-shrink: 0;
}
.home-JJT .auto-group-bsmb-8dM .group-895-Fxs .rectangle-97-b19 {
  width: 19.5586rem;
  height: 5.994rem;
  position: absolute;
  left: 0.3761rem;
  top: 0.3067rem;
  background-color: #000000;
}
.home-JJT .auto-group-bsmb-8dM .group-895-Fxs .rectangle-94-Khq {
  width: 19.6526rem;
  height: 5.994rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
.home-JJT .auto-group-bsmb-8dM .group-895-Fxs .typography-rhm {
  width: 10.9rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2415rem;
  top: 1.8751rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-bsmb-8dM .group-894-mZq {
  width: 23.9386rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-JJT .auto-group-bsmb-8dM .group-894-mZq .rectangle-110-XJ7 {
  width: 23.4869rem;
  height: 5.994rem;
  position: absolute;
  left: 0.4517rem;
  top: 0.3067rem;
  background-color: #000000;
}
.home-JJT .auto-group-bsmb-8dM .group-894-mZq .rectangle-111-TBm {
  width: 23.5999rem;
  height: 5.994rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
.home-JJT .auto-group-bsmb-8dM .group-894-mZq .graphic-design-BtT {
  width: 13.5rem;
  height: 2.6rem;
  position: absolute;
  left: 5.0122rem;
  top: 1.8751rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV {
  box-sizing: border-box;
  padding-left: 2.9936rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV .group-892-pwR {
  margin: 0rem 2.836rem 0rem 0rem;
  width: 11.1487rem;
  height: calc(100% - 0rem);
  position: relative;
  flex-shrink: 0;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV .group-892-pwR .rectangle-112-ZPD {
  width: 10.9384rem;
  height: 5.994rem;
  position: absolute;
  left: 0.2104rem;
  top: 0.3067rem;
  background-color: #000000;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV .group-892-pwR .rectangle-113-twH {
  width: 10.9909rem;
  height: 5.994rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV .group-892-pwR .logo-q5q {
  width: 4.4rem;
  height: 2.6rem;
  position: absolute;
  left: 3.2954rem;
  top: 2.0931rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV .group-893-YW3 {
  margin: 0rem 2.679rem 0rem 0rem;
  width: 18.3792rem;
  height: calc(100% - 0rem);
  position: relative;
  flex-shrink: 0;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV .group-893-YW3 .rectangle-114-t47 {
  width: 18.0324rem;
  height: 5.994rem;
  position: absolute;
  left: 0.3468rem;
  top: 0.3067rem;
  background-color: #000000;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV .group-893-YW3 .rectangle-115-cko {
  width: 18.1191rem;
  height: 5.994rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV .group-893-YW3 .branding-x3y {
  width: 8.3rem;
  height: 2.6rem;
  position: absolute;
  left: 4.9096rem;
  top: 1.9398rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV .group-891-rv3 {
  margin-bottom: 0rem;
  width: 27.8093rem;
  height: calc(100% - 0rem);
  position: relative;
  flex-shrink: 0;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV .group-891-rv3 .rectangle-116-Cyu {
  width: 27.2846rem;
  height: 5.994rem;
  position: absolute;
  left: 0.5247rem;
  top: 0.3067rem;
  background-color: #000000;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV .group-891-rv3 .rectangle-117-wwV {
  width: 27.4158rem;
  height: 5.994rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
.home-JJT .auto-group-bsmb-8dM .auto-group-cvdf-HwV .group-891-rv3 .user-interface-gPH {
  width: 12.7rem;
  height: 2.6rem;
  position: absolute;
  left: 7.3579rem;
  top: 1.9398rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .rectangle-84-BL3 {
  width: 172.8rem;
  height: 10.7884rem;
  position: absolute;
  left: 0;
  top: 0.0042rem;
  background-color: rgba(245, 245, 245, 0.8000000119);
}
.home-JJT .rectangle-2-WdD {
  width: 4.4828rem;
  height: 0.3797rem;
  position: absolute;
  left: 116.1rem;
  top: 7.0719rem;
  background-color: #fece00;
}
.home-JJT .resume-SFy {
  width: 6.2rem;
  height: 2.2rem;
  position: absolute;
  left: 136.6rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .projects-Ypo {
  width: 6.5rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 125.35rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .about-esq {
  width: 4.7rem;
  height: 2.2rem;
  position: absolute;
  left: 116rem;
  top: 4.3535rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.home-JJT .subtract-Zju {
  width: 2.6284rem;
  height: 3.8819rem;
  position: absolute;
  left: 30rem;
  top: 3.4575rem;
  object-fit: contain;
  vertical-align: top;
}
