
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-5-TEo {
  width: 100%;
  height: 377.3rem;
  position: relative;
  overflow: hidden;
  background-color: #e1e1e1;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf {
  width: 189.3835rem;
  height: 141.4977rem;
  position: absolute;
  left: 30rem;
  top: 0;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .holding-hand-smart-phone-mockup-1-6Yf {
  width: 133.8008rem;
  height: 127.434rem;
  position: absolute;
  left: 55.5826rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .explore-the-various-and-selected-project-that-were-done-during-the-past-2-years-of-my-professional-career-ranging-from-website-redesign-of-a-established-iot-service-company-to-exploring-different-ideas-in-my-freetime-the-following-projects-helped-me-a-lot-to-learn-and-explore-different-techniques-and-tools-in-design-helping-me-grow-in-the-process-c1D {
  width: 82.9rem;
  height: 14.8rem;
  position: absolute;
  left: 0.047rem;
  top: 39.8334rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3409999501;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ {
  width: 112.8rem;
  height: 33.4059rem;
  position: absolute;
  left: 0;
  top: 85.5rem;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .rectangle-125-qYB {
  width: 55.0969rem;
  height: 32.8597rem;
  position: absolute;
  left: 0.0502rem;
  top: 0.2401rem;
  background-color: #fece00;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .group-901-N2K {
  width: 112.8rem;
  height: 33.4059rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .group-901-N2K .mask-group-h4b {
  margin-right: 7.3043rem;
  width: 55.3532rem;
  height: 33.4059rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .group-901-N2K .auto-group-qrnm-y27 {
  margin: 4.284rem 0rem 2.822rem 0rem;
  width: 50.1425rem;
  height: calc(100% - 7.1069rem);
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .group-901-N2K .auto-group-qrnm-y27 .auto-group-zytp-stB {
  margin: 0rem 37.762rem 0.593rem 0rem;
  box-sizing: border-box;
  padding-top: 0.2174rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.0559999466;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .group-901-N2K .auto-group-qrnm-y27 .auto-group-vvtr-a1u {
  margin: 0rem 0rem 2.308rem 0.018rem;
  width: calc(100% - 0.0176rem);
  display: flex;
  align-items: center;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .group-901-N2K .auto-group-qrnm-y27 .auto-group-vvtr-a1u .ux-and-ui-hcK {
  margin: 0.2rem 34.625rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .group-901-N2K .auto-group-qrnm-y27 .auto-group-vvtr-a1u .mobile-application-C3H {
  margin-bottom: 0.2rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .group-901-N2K .auto-group-qrnm-y27 .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-Jc7 {
  margin-bottom: 5.0807rem;
  max-width: 50.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .group-901-N2K .auto-group-qrnm-y27 .component-1-9sd {
  margin-left: 37.509rem;
  width: 12.6335rem;
  height: 4.8997rem;
  cursor: pointer;
  position: relative;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .group-901-N2K .auto-group-qrnm-y27 .component-1-9sd .rectangle-124-VRh {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0.2477rem;
  top: 0;
  background-color: #000000;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .group-901-N2K .auto-group-qrnm-y27 .component-1-9sd .rectangle-123-2gX {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0;
  top: 0.3302rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .component-2-ZqZ .group-901-N2K .auto-group-qrnm-y27 .component-1-9sd .view-xaB {
  width: 5.2rem;
  height: 2.6rem;
  position: absolute;
  left: 2.293rem;
  top: 1.365rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .rectangle-123-TWw {
  width: 24.2571rem;
  height: 4.5762rem;
  position: absolute;
  left: 0;
  top: 33.0256rem;
  background-color: #fece00;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .projects-oKu {
  width: 47.6rem;
  height: 12.1rem;
  position: absolute;
  left: 1.8614rem;
  top: 25.8018rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .projects-Wk7 {
  width: 47.6rem;
  height: 12.1rem;
  position: absolute;
  left: 1.4614rem;
  top: 26.1018rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .projects-ERD {
  width: 47.6rem;
  height: 12.1rem;
  position: absolute;
  left: 1.1468rem;
  top: 26.2723rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .featuring-jsm {
  width: 19.2rem;
  height: 4.6rem;
  position: absolute;
  left: 0.3854rem;
  top: 75.414rem;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .featuring-rSb {
  width: 18.4rem;
  height: 4.6rem;
  position: absolute;
  left: 0.2rem;
  top: 75.1328rem;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .featuring-rSb .featuring-rSb-sub-0 {
}
.macbook-pro-16-5-TEo .auto-group-trww-Ncf .featuring-rSb .featuring-rSb-sub-1 {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fece00;
  font-family: Monument Extended, 'Source Sans Pro';
}
.macbook-pro-16-5-TEo .group-902-kgP {
  width: 112.753rem;
  height: 33.4059rem;
  cursor: pointer;
  position: absolute;
  left: 30rem;
  top: 134.9979rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-qz33-rjR {
  margin-right: 7.2105rem;
  width: 55.4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-qz33-rjR .rectangle-126-bh1 {
  width: 54.9878rem;
  height: 32.7432rem;
  position: absolute;
  left: 0.1356rem;
  top: 0.6626rem;
  background-color: #fece00;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-qz33-rjR .mask-group-8gw {
  width: 55.4rem;
  height: 33.4059rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-mvxh-Go9 {
  margin: 4.502rem 0rem 2.822rem 0rem;
  width: 50.1425rem;
  height: calc(100% - 7.3243rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-mvxh-Go9 .we-make-iot-BfD {
  margin: 0rem 26.225rem 0.593rem 0rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.0559999466;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-mvxh-Go9 .auto-group-le4v-Jjq {
  margin: 0rem 0rem 2.308rem 0.018rem;
  width: calc(100% - 0.0176rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-mvxh-Go9 .auto-group-le4v-Jjq .user-interface-e31 {
  margin: 0.2rem 37.625rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-mvxh-Go9 .auto-group-le4v-Jjq .website-Zfm {
  margin-bottom: 0.2rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-mvxh-Go9 .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-Hrf {
  margin: 0rem 0.542rem 2.781rem 0rem;
  max-width: 49.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3360000186;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-mvxh-Go9 .component-1-8MV {
  margin-right: 0rem;
  width: 12.6335rem;
  height: 4.8997rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-mvxh-Go9 .component-1-8MV .rectangle-124-4W3 {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0.2477rem;
  top: 0;
  background-color: #000000;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-mvxh-Go9 .component-1-8MV .rectangle-123-CcF {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0;
  top: 0.3302rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
.macbook-pro-16-5-TEo .group-902-kgP .auto-group-mvxh-Go9 .component-1-8MV .view-Kwm {
  width: 5.2rem;
  height: 2.6rem;
  position: absolute;
  left: 2.293rem;
  top: 1.365rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .component-3-Rju {
  width: 112.8rem;
  height: 33.6966rem;
  cursor: pointer;
  position: absolute;
  left: 30.1356rem;
  top: 184.4959rem;
}
.macbook-pro-16-5-TEo .component-3-Rju .rectangle-128-MtT {
  width: 54.9878rem;
  height: 32.7432rem;
  position: absolute;
  left: 0.1618rem;
  top: 0.3631rem;
  background-color: #fece00;
}
.macbook-pro-16-5-TEo .component-3-Rju .group-903-Vjm {
  width: 112.8rem;
  height: 33.6966rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.macbook-pro-16-5-TEo .component-3-Rju .group-903-Vjm .mask-group-qod {
  margin-right: 7.2105rem;
  width: 55.447rem;
  height: 33.6966rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .component-3-Rju .group-903-Vjm .auto-group-gmyr-yuq {
  margin: 4.647rem 0rem 2.968rem 0rem;
  width: 50.1425rem;
  height: calc(100% - 7.6151rem);
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .component-3-Rju .group-903-Vjm .auto-group-gmyr-yuq .play-i6j {
  margin: 0rem 0rem 0.593rem 0.018rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.0559999466;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .component-3-Rju .group-903-Vjm .auto-group-gmyr-yuq .auto-group-aicm-dzP {
  margin: 0rem 0rem 2.308rem 0.018rem;
  width: calc(100% - 0.0176rem);
  display: flex;
  align-items: center;
}
.macbook-pro-16-5-TEo .component-3-Rju .group-903-Vjm .auto-group-gmyr-yuq .auto-group-aicm-dzP .user-interface-NBH {
  margin: 0.2rem 32.025rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .component-3-Rju .group-903-Vjm .auto-group-gmyr-yuq .auto-group-aicm-dzP .mobile-application-67H {
  margin-bottom: 0.2rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .component-3-Rju .group-903-Vjm .auto-group-gmyr-yuq .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-QNs {
  margin-bottom: 2.5807rem;
  max-width: 48.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-5-TEo .component-3-Rju .group-903-Vjm .auto-group-gmyr-yuq .component-1-rEs {
  margin-left: 37.509rem;
  width: 12.6335rem;
  height: 4.8997rem;
  cursor: pointer;
  position: relative;
}
.macbook-pro-16-5-TEo .component-3-Rju .group-903-Vjm .auto-group-gmyr-yuq .component-1-rEs .rectangle-124-BY3 {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0.2477rem;
  top: 0;
  background-color: #000000;
}
.macbook-pro-16-5-TEo .component-3-Rju .group-903-Vjm .auto-group-gmyr-yuq .component-1-rEs .rectangle-123-7gb {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0;
  top: 0.3302rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
.macbook-pro-16-5-TEo .component-3-Rju .group-903-Vjm .auto-group-gmyr-yuq .component-1-rEs .view-Qfh {
  width: 5.2rem;
  height: 2.6rem;
  position: absolute;
  left: 2.293rem;
  top: 1.365rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .component-4-xKq {
  width: 112.6382rem;
  height: 33.6966rem;
  cursor: pointer;
  position: absolute;
  left: 30rem;
  top: 234.2846rem;
}
.macbook-pro-16-5-TEo .component-4-xKq .rectangle-129-3MH {
  width: 54.9878rem;
  height: 32.7432rem;
  position: absolute;
  left: 0.4122rem;
  top: 0.4767rem;
  background-color: #fece00;
}
.macbook-pro-16-5-TEo .component-4-xKq .rectangle-128-xDM {
  width: 54.9878rem;
  height: 32.7432rem;
  position: absolute;
  left: 0;
  top: 0.3631rem;
  background-color: #fece00;
}
.macbook-pro-16-5-TEo .component-4-xKq .group-903-tsh {
  width: 112.6382rem;
  height: 33.6966rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.macbook-pro-16-5-TEo .component-4-xKq .group-903-tsh .mask-group-Egf {
  margin-right: 7.0957rem;
  width: 55.4rem;
  height: 33.6966rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .component-4-xKq .group-903-tsh .auto-group-c3em-mgb {
  margin: 4.647rem 0rem 2.968rem 0rem;
  width: 50.1425rem;
  height: calc(100% - 7.6151rem);
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .component-4-xKq .group-903-tsh .auto-group-c3em-mgb .logo-6Ty {
  margin: 0rem 0rem 0.593rem 0.018rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.0559999466;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .component-4-xKq .group-903-tsh .auto-group-c3em-mgb .auto-group-gpid-pes {
  margin: 0rem 0rem 2.308rem 0.018rem;
  box-sizing: border-box;
  padding-top: 0.2rem;
  width: calc(100% - 0.0176rem);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .component-4-xKq .group-903-tsh .auto-group-c3em-mgb .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-WXh {
  margin-bottom: 2.2807rem;
  max-width: 48.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4060000314;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-5-TEo .component-4-xKq .group-903-tsh .auto-group-c3em-mgb .component-1-ZF5 {
  margin-left: 37.509rem;
  width: 12.6335rem;
  height: 4.8997rem;
  cursor: pointer;
  position: relative;
}
.macbook-pro-16-5-TEo .component-4-xKq .group-903-tsh .auto-group-c3em-mgb .component-1-ZF5 .rectangle-124-to9 {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0.2477rem;
  top: 0;
  background-color: #000000;
}
.macbook-pro-16-5-TEo .component-4-xKq .group-903-tsh .auto-group-c3em-mgb .component-1-ZF5 .rectangle-123-S3y {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0;
  top: 0.3302rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
.macbook-pro-16-5-TEo .component-4-xKq .group-903-tsh .auto-group-c3em-mgb .component-1-ZF5 .view-ZPV {
  width: 5.2rem;
  height: 2.6rem;
  position: absolute;
  left: 2.293rem;
  top: 1.365rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .component-5-rtP {
  width: 112.6382rem;
  height: 33.6966rem;
  cursor: pointer;
  position: absolute;
  left: 30rem;
  top: 284.0733rem;
}
.macbook-pro-16-5-TEo .component-5-rtP .rectangle-134-CBZ {
  width: 54.9878rem;
  height: 32.7432rem;
  position: absolute;
  left: 0;
  top: 0.5767rem;
  background-color: #fece00;
}
.macbook-pro-16-5-TEo .component-5-rtP .rectangle-130-Xjd {
  width: 54.9878rem;
  height: 32.7432rem;
  position: absolute;
  left: 0.4122rem;
  top: 0.4767rem;
  background-color: #fece00;
}
.macbook-pro-16-5-TEo .component-5-rtP .rectangle-131-faw {
  width: 54.9878rem;
  height: 32.7432rem;
  position: absolute;
  left: 0;
  top: 0.3631rem;
  background-color: #fece00;
}
.macbook-pro-16-5-TEo .component-5-rtP .group-904-1eo {
  width: 112.6382rem;
  height: 33.6966rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.macbook-pro-16-5-TEo .component-5-rtP .group-904-1eo .mask-group-Mif {
  margin-right: 7.0957rem;
  width: 55.4rem;
  height: 33.6966rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .component-5-rtP .group-904-1eo .auto-group-g8pd-tyV {
  margin: 4.647rem 0rem 2.968rem 0rem;
  height: calc(100% - 7.6151rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .component-5-rtP .group-904-1eo .auto-group-g8pd-tyV .other-works-RCj {
  margin: 0rem 0rem 0.793rem 0.018rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.0559999466;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .component-5-rtP .group-904-1eo .auto-group-g8pd-tyV .graphic-design-98j {
  margin: 0rem 0rem 2.308rem 0.018rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .component-5-rtP .group-904-1eo .auto-group-g8pd-tyV .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-s4j {
  margin-bottom: 2.5807rem;
  max-width: 49.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .component-5-rtP .group-904-1eo .auto-group-g8pd-tyV .component-1-v31 {
  margin-left: 37.509rem;
  width: 12.6335rem;
  height: 4.8997rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-5-TEo .component-5-rtP .group-904-1eo .auto-group-g8pd-tyV .component-1-v31 .rectangle-124-49D {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0.2477rem;
  top: 0;
  background-color: #000000;
}
.macbook-pro-16-5-TEo .component-5-rtP .group-904-1eo .auto-group-g8pd-tyV .component-1-v31 .rectangle-123-BzX {
  width: 12.3858rem;
  height: 4.5695rem;
  position: absolute;
  left: 0;
  top: 0.3302rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
.macbook-pro-16-5-TEo .component-5-rtP .group-904-1eo .auto-group-g8pd-tyV .component-1-v31 .view-ijZ {
  width: 5.2rem;
  height: 2.6rem;
  position: absolute;
  left: 2.293rem;
  top: 1.365rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .auto-group-clgm-DwD {
  width: 142.8rem;
  height: 24.0763rem;
  position: absolute;
  left: 30rem;
  top: 340.8691rem;
}
.macbook-pro-16-5-TEo .auto-group-clgm-DwD .rectangle-109-YyV {
  width: 114.1rem;
  height: 24.0763rem;
  position: absolute;
  left: 28.7rem;
  top: 0;
  background-color: #fece00;
}
.macbook-pro-16-5-TEo .auto-group-clgm-DwD .contact-6VD {
  width: 36.6rem;
  height: 12.1rem;
  position: absolute;
  left: 0.5095rem;
  top: 6.7896rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #e1e1e1;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .auto-group-clgm-DwD .contact-cCf {
  width: 36.6rem;
  height: 12.1rem;
  position: absolute;
  left: 0.2281rem;
  top: 7.0896rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #e1e1e1;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .auto-group-clgm-DwD .contact-vDM {
  width: 36.6rem;
  height: 12.1rem;
  position: absolute;
  left: 0;
  top: 7.3067rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .auto-group-clgm-DwD .devunathkannangmailcom-ddZ {
  width: 32rem;
  height: 3.1rem;
  position: absolute;
  left: 66.0001rem;
  top: 18.5896rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .rectangle-84-Xiw {
  width: 172.8rem;
  height: 10.7884rem;
  position: absolute;
  left: 0;
  top: 0.0042rem;
  background-color: rgba(245, 245, 245, 0.8000000119);
}
.macbook-pro-16-5-TEo .rectangle-2-GAj {
  width: 6.2724rem;
  height: 0.3797rem;
  position: absolute;
  left: 125.4979rem;
  top: 7.0719rem;
  background-color: #fece00;
}
.macbook-pro-16-5-TEo .resume-zsR {
  width: 6.2rem;
  height: 2.2rem;
  position: absolute;
  left: 136.6rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .projects-uDh {
  width: 6.5rem;
  height: 2.2rem;
  position: absolute;
  left: 125.35rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .about-cdu {
  width: 4.7rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 116rem;
  top: 4.3535rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-5-TEo .subtract-WzB {
  width: 2.6284rem;
  height: 3.8819rem;
  position: absolute;
  left: 30rem;
  top: 3.4575rem;
  object-fit: contain;
  vertical-align: top;
}
