
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-3-M9y {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh {
  width: 100%;
  height: 209.8542rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .item--p3Z {
  width: 9.4rem;
  height: 26.4rem;
  position: absolute;
  left: 99.4916rem;
  top: 58.268rem;
  font-size: 25rem;
  font-weight: 400;
  line-height: 1.056;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .image-78-tp7 {
  width: 30.9065rem;
  height: 42.3493rem;
  position: relative;
  left: 68.0483rem;
  top: 23.1081rem;
  background-size: 348.699% 143.145%;
  background-position: -16.519rem -10.9734rem;
  background-image: url('../assets/image-78-dLj.png');
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .devunath-kannan-agw {
  width: 16.6rem;
  height: 6.4rem;
  position: absolute;
  left: 50.4457rem;
  top: 41.2855rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.0560000102;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .visual-designer-5dh {
  width: 14.2rem;
  height: 2.2rem;
  position: absolute;
  left: 50.4457rem;
  top: 47.6855rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0559999466;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .innovative-and-passionate-to-create-meaningful-design-to-user-problems-nY7 {
  width: 39rem;
  height: 4.7rem;
  position: absolute;
  left: 68.0483rem;
  top: 66.5207rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.056000016;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .my-past-Ufq {
  width: 13.1rem;
  height: 4.4rem;
  position: absolute;
  left: 87.4314rem;
  top: 99.4276rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .my-past-Ufq .my-past-Ufq-sub-0 {
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .my-past-Ufq .my-past-Ufq-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .group-880-Nej {
  width: 80.7375rem;
  height: 79.8215rem;
  position: absolute;
  left: 0;
  top: 90.3077rem;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .group-880-Nej .once-iTh {
  width: 68.5rem;
  height: 33.2rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 24.2636rem;
  font-weight: 800;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .group-880-Nej .upon-eMM {
  width: 69.5rem;
  height: 33.2rem;
  position: absolute;
  left: 0;
  top: 23.4888rem;
  text-align: center;
  font-size: 24.2636rem;
  font-weight: 800;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .group-880-Nej .a-time-xsq {
  width: 78.6rem;
  height: 33.2rem;
  position: absolute;
  left: 0;
  top: 46.6215rem;
  text-align: center;
  font-size: 24.2636rem;
  font-weight: 800;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .bachelors-of-design-vit-vellore-HQK {
  width: 27.1rem;
  height: 2.5rem;
  position: absolute;
  left: 87.4628rem;
  top: 111.0755rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .bachelors-of-design-vit-vellore-HQK .bachelors-of-design-vit-vellore-HQK-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .bachelors-of-design-vit-vellore-HQK .bachelors-of-design-vit-vellore-HQK-sub-1 {
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .graphic-design-intern-house-of-babas-rLw {
  width: 18.9rem;
  height: 4.4rem;
  position: absolute;
  left: 87.4628rem;
  top: 120.8234rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .graphic-design-intern-house-of-babas-rLw .graphic-design-intern-house-of-babas-rLw-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .graphic-design-intern-house-of-babas-rLw .graphic-design-intern-house-of-babas-rLw-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .graphic-design-head-doubtconnect-yps {
  width: 18.2rem;
  height: 4.4rem;
  position: absolute;
  left: 87.4628rem;
  top: 132.3713rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .graphic-design-head-doubtconnect-yps .graphic-design-head-doubtconnect-yps-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .graphic-design-head-doubtconnect-yps .graphic-design-head-doubtconnect-yps-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .ui-ux-intern-unikwaan-w9R {
  width: 10.8rem;
  height: 4.4rem;
  position: absolute;
  left: 87.4628rem;
  top: 143.9192rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .ui-ux-intern-unikwaan-w9R .ui-ux-intern-unikwaan-w9R-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .ui-ux-intern-unikwaan-w9R .ui-ux-intern-unikwaan-w9R-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .visual-designer-cognizant-tis {
  width: 13.5rem;
  height: 4.4rem;
  position: absolute;
  left: 87.4628rem;
  top: 155.4671rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3660000695;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .visual-designer-cognizant-tis .visual-designer-cognizant-tis-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .visual-designer-cognizant-tis .visual-designer-cognizant-tis-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .item-2018-2022-erT {
  width: 10.1rem;
  height: 2.5rem;
  position: absolute;
  left: 146.8338rem;
  top: 111.0755rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .dec-2019-apr-2020-x6T {
  width: 17.3rem;
  height: 2.5rem;
  position: absolute;
  left: 139.6338rem;
  top: 120.8234rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .oct-2020-jan-2022-4QP {
  width: 17.4rem;
  height: 2.5rem;
  position: absolute;
  left: 139.5338rem;
  top: 132.3713rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .jan-2022-apr-2022-NAB {
  width: 17.1rem;
  height: 2.5rem;
  position: absolute;
  left: 139.8338rem;
  top: 143.9192rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .jun-2022-present-fQB {
  width: 16.3rem;
  height: 2.5rem;
  position: absolute;
  left: 140.6338rem;
  top: 155.4671rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .group-my1 {
  opacity: 0.4;
  width: 71.7906rem;
  height: 102.467rem;
  position: absolute;
  left: 152.5515rem;
  top: 23.4354rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .group-W9u {
  opacity: 0.4;
  width: 88.0479rem;
  height: 104.5815rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .rectangle-84-SpF {
  width: 172.8rem;
  height: 10.7884rem;
  position: absolute;
  left: 0;
  top: 0.0594rem;
  background-color: rgba(245, 245, 245, 0.6999999881);
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .ellipse-1-yZH {
  width: 6.8603rem;
  height: 6.8603rem;
  position: absolute;
  left: 6.5603rem;
  top: 2.0234rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .rectangle-2-gyV {
  width: 4.4828rem;
  height: 0.3797rem;
  position: absolute;
  left: 131.8657rem;
  top: 7.0719rem;
  background-color: #fece00;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .about-1ks {
  width: 4.7rem;
  height: 2.2rem;
  position: absolute;
  left: 156.9rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .projects-KmZ {
  width: 6.5rem;
  height: 2.2rem;
  position: absolute;
  left: 144.1828rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .home-EtX {
  width: 4.5rem;
  height: 2.2rem;
  position: absolute;
  left: 131.8657rem;
  top: 4.3535rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .hello-xJj {
  width: 20.6rem;
  height: 10.1rem;
  position: absolute;
  left: 50.2715rem;
  top: 33.2855rem;
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.3660000801;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .hello-xJj .hello-xJj-sub-0 {
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-smwt-tfh .hello-xJj .hello-xJj-sub-1 {
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fece00;
  font-family: Monument Extended, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-dows-GCw {
  box-sizing: border-box;
  padding-top: 23.4036rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-3-M9y .auto-group-dows-GCw .group-890-CsH {
  margin: 0rem 37.194rem 7.228rem 34.233rem;
  width: calc(100% - 71.4265rem);
  height: 59.3rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.macbook-pro-16-3-M9y .auto-group-dows-GCw .group-890-CsH .auto-group-hiz3-X8s {
  margin-right: 2.3735rem;
  width: 84.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-3-M9y .auto-group-dows-GCw .group-890-CsH .auto-group-hiz3-X8s .reume-fVy {
  width: 84.2rem;
  height: 33.5rem;
  position: absolute;
  left: 0;
  top: 25.8rem;
  text-align: center;
  font-size: 24.4935rem;
  font-weight: 800;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-dows-GCw .group-890-CsH .auto-group-hiz3-X8s .devunathkannangmailcom-ymZ {
  width: 47rem;
  height: 4.4rem;
  position: absolute;
  left: 1.5985rem;
  top: 22.4rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.macbook-pro-16-3-M9y .auto-group-dows-GCw .group-890-CsH .auto-group-hiz3-X8s .devunathkannangmailcom-ymZ .devunathkannangmailcom-ymZ-sub-0 {
}
.macbook-pro-16-3-M9y .auto-group-dows-GCw .group-890-CsH .auto-group-hiz3-X8s .devunathkannangmailcom-ymZ .devunathkannangmailcom-ymZ-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-dows-GCw .group-890-CsH .auto-group-hiz3-X8s .mail-Yy5 {
  width: 57.8rem;
  height: 33.2rem;
  position: absolute;
  left: 25.9275rem;
  top: 0;
  text-align: center;
  font-size: 24.2636rem;
  font-weight: 800;
  line-height: 1.365;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-3-M9y .auto-group-dows-GCw .group-890-CsH .click-here-fH1 {
  margin-bottom: 6.7rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.3660000563;
  text-decoration-line: underline;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.macbook-pro-16-3-M9y .auto-group-dows-GCw .group-890-CsH .click-here-fH1 .click-here-fH1-sub-0 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  text-decoration-line: underline;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-dows-GCw .group-890-CsH .click-here-fH1 .click-here-fH1-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.365;
  text-decoration-line: underline;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.macbook-pro-16-3-M9y .auto-group-dows-GCw .group-1EP {
  opacity: 0.4;
  width: 183.3296rem;
  height: 101.6732rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
