
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.play-Mqq {
  width: 100%;
  height: 912.2rem;
  position: relative;
  overflow: hidden;
  background-color: #e1e1e1;
}
.play-Mqq .auto-group-2idb-HzP {
  width: 270.3955rem;
  height: 200.2121rem;
  position: absolute;
  left: 0;
  top: 0;
}
.play-Mqq .auto-group-2idb-HzP .play-Dd9 {
  width: 8.6rem;
  height: 5.1rem;
  position: absolute;
  left: 30.1336rem;
  top: 42.8025rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.play-Mqq .auto-group-2idb-HzP .explore-the-various-and-selected-project-that-were-done-during-the-past-2-years-of-my-professional-career-ranging-from-website-redesign-of-a-established-iot-service-company-to-exploring-different-ideas-in-my-freetime-the-following-projects-helped-me-a-lot-to-learn-and-explore-different-techniques-and-tools-in-design-helping-me-grow-in-the-process-6wq {
  width: 63.5rem;
  height: 20.7rem;
  position: absolute;
  left: 30rem;
  top: 51.7902rem;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.3409999501;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
}
.play-Mqq .auto-group-2idb-HzP .vector-2-g9M {
  width: 14.5132rem;
  height: 0;
  position: absolute;
  left: 30rem;
  top: 49.6236rem;
  object-fit: contain;
  vertical-align: top;
}
.play-Mqq .auto-group-2idb-HzP .ellipse-15-Qb9 {
  width: 108.9643rem;
  height: 108.9643rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e53232;
  border-radius: 54.4822rem;
}
.play-Mqq .auto-group-2idb-HzP .rectangle-19-wLB {
  width: 147.9596rem;
  height: 20.5149rem;
  position: absolute;
  left: 0;
  top: 102.8rem;
  background-color: #e43232;
}
.play-Mqq .auto-group-2idb-HzP .redefinded-problem-statement-U5D {
  width: 44.6rem;
  height: 4.1rem;
  position: absolute;
  left: 30.1rem;
  top: 106.9061rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-Mqq .auto-group-2idb-HzP .users-not-able-to-find-a-movie-watch-depending-on-their-mood-not-able-filter-out-movies-that-areactual-kid-friendly-and-not-having-a-space-to-storetheir-playlists-for-the-future-koR {
  width: 86rem;
  height: 7.4rem;
  position: absolute;
  left: 30.1rem;
  top: 111.6604rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
}
.play-Mqq .auto-group-tays-Bdq {
  box-sizing: border-box;
  padding: 22.989rem 26.8rem 30.2rem 28.941rem;
  width: 192rem;
  height: 778.1497rem;
  position: absolute;
  left: 0;
  top: 134.0503rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-qjup-enK {
  margin: 0rem 7.1rem 16.086rem 1.059rem;
  width: calc(100% - 8.1589rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-qjup-enK .user-flow-BGT {
  margin-right: 32.8rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-qjup-enK .user-flow-BGT .user-flow-BGT-sub-0 {
}
.play-Mqq .auto-group-tays-Bdq .auto-group-qjup-enK .user-flow-BGT .user-flow-BGT-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-Mqq .auto-group-tays-Bdq .auto-group-qjup-enK .vector-86-JVV {
  margin-top: 0.0219rem;
  width: 81.3rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .port-22-1-1uh {
  margin: 0rem 5.376rem 26.286rem 0rem;
  width: 103.2rem;
  height: 63.5462rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-43fb-Xt3 {
  margin: 0rem 21.197rem 11.725rem 1.059rem;
  width: calc(100% - 22.2555rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-43fb-Xt3 .low-fidelity-4NB {
  margin-right: 21.2824rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-43fb-Xt3 .low-fidelity-4NB .low-fidelity-4NB-sub-0 {
}
.play-Mqq .auto-group-tays-Bdq .auto-group-43fb-Xt3 .low-fidelity-4NB .low-fidelity-4NB-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-Mqq .auto-group-tays-Bdq .auto-group-43fb-Xt3 .vector-98-Evs {
  margin-top: 0rem;
  width: 75.421rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu {
  margin: 0rem 19.018rem 29.847rem 14.441rem;
  width: calc(100% - 33.4589rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m {
  margin-bottom: 12.178rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-nue1-SX9 {
  margin-right: 0.0684rem;
  width: 33.1039rem;
  height: 28.3689rem;
  position: relative;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-nue1-SX9 .group-atF {
  box-sizing: border-box;
  padding: 0.503rem 1.013rem 0.857rem 0.648rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-VzP.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-nue1-SX9 .group-atF .rectangle-WG7 {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-pJK.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-nue1-SX9 .group-atF .group-atF-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-nue1-SX9 .group-x87 {
  box-sizing: border-box;
  padding: 0.503rem 1.062rem 0.857rem 0.598rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 16.3468rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-d1Z.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-nue1-SX9 .group-x87 .rectangle-sVy {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-2by.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-nue1-SX9 .group-x87 .group-x87-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .group-j2P {
  margin: 0rem 3.078rem 0.503rem 0rem;
  box-sizing: border-box;
  padding: 0.503rem 1.051rem 0.857rem 0.609rem;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-hQb.png');
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .group-j2P .rectangle-3om {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-ziT.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .group-j2P .group-j2P-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-5ztf-72w {
  margin-top: 0.5025rem;
  width: 49.3139rem;
  height: 28.3689rem;
  position: relative;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-5ztf-72w .group-dmy {
  box-sizing: border-box;
  padding: 0.503rem 1.049rem 0.857rem 0.612rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-SrK.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-5ztf-72w .group-dmy .rectangle-AX1 {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-KyR.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-5ztf-72w .group-dmy .group-dmy-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-5ztf-72w .group-2ZD {
  box-sizing: border-box;
  padding: 0.503rem 1.038rem 0.857rem 0.622rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 16.4836rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-5vF.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-5ztf-72w .group-2ZD .rectangle-ww5 {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-UKy.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-5ztf-72w .group-2ZD .group-2ZD-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-5ztf-72w .group-1vw {
  box-sizing: border-box;
  padding: 0.503rem 1.044rem 0.857rem 0.616rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 32.5567rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-iB9.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-5ztf-72w .group-1vw .rectangle-91Z {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-1ro.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-vzsj-h3m .auto-group-5ztf-72w .group-1vw .group-1vw-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro {
  margin: 0rem 0rem 12.178rem 0.648rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mdzd-99y {
  margin: 0rem 3.283rem 0.524rem 0rem;
  width: 49.6559rem;
  height: 28.3689rem;
  position: relative;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mdzd-99y .group-4Gw {
  box-sizing: border-box;
  padding: 0.524rem 1.013rem 0.835rem 0.648rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-3Pd.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mdzd-99y .group-4Gw .rectangle-PKD {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-w6F.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mdzd-99y .group-4Gw .group-4Gw-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mdzd-99y .group-SoH {
  box-sizing: border-box;
  padding: 0.524rem 1.062rem 0.835rem 0.598rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 16.3468rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-zrK.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mdzd-99y .group-SoH .rectangle-y2X {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-LDV.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mdzd-99y .group-SoH .group-SoH-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mdzd-99y .group-Rv7 {
  box-sizing: border-box;
  padding: 0.524rem 1.048rem 0.835rem 0.613rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 32.8987rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-mXV.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mdzd-99y .group-Rv7 .rectangle-xQF {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-Y8X.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mdzd-99y .group-Rv7 .group-Rv7-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mxv7-1dR {
  margin-right: 0.0684rem;
  width: 32.3877rem;
  height: 28.3689rem;
  position: relative;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mxv7-1dR .group-MSP {
  box-sizing: border-box;
  padding: 0.505rem 1.053rem 0.854rem 0.607rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-GBy.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mxv7-1dR .group-MSP .rectangle-gUf {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-3cB.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mxv7-1dR .group-MSP .group-MSP-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mxv7-1dR .group-MKu {
  box-sizing: border-box;
  padding: 0.505rem 1.035rem 0.854rem 0.626rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 15.6306rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-ZS7.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mxv7-1dR .group-MKu .rectangle-fbV {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-g4o.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .auto-group-mxv7-1dR .group-MKu .group-MKu-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .group-w3D {
  margin-top: 0.5244rem;
  box-sizing: border-box;
  padding: 0.505rem 1.023rem 0.854rem 0.637rem;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-6m5.png');
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .group-w3D .rectangle-rvs {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-aGo.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-p7gh-oro .group-w3D .group-w3D-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF {
  height: 28.4255rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .auto-group-fdgz-HFV {
  margin: 0rem 0.068rem 0.057rem 0rem;
  width: 33.1039rem;
  height: calc(100% - 0.0566rem);
  position: relative;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .auto-group-fdgz-HFV .group-nxw {
  box-sizing: border-box;
  padding: 0.534rem 1.062rem 0.826rem 0.598rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 16.3468rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-QCo.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .auto-group-fdgz-HFV .group-nxw .rectangle-7VR {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-ih5.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .auto-group-fdgz-HFV .group-nxw .group-nxw-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .auto-group-fdgz-HFV .group-MuZ {
  box-sizing: border-box;
  padding: 0.534rem 1.013rem 0.826rem 0.648rem;
  width: 16.7572rem;
  height: 28.3689rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-htj.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .auto-group-fdgz-HFV .group-MuZ .rectangle-HYK {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-1Vh.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .auto-group-fdgz-HFV .group-MuZ .group-MuZ-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .group-ZEw {
  margin: 0rem 0.068rem 0.057rem 0rem;
  box-sizing: border-box;
  padding: 0.534rem 1.051rem 0.826rem 0.609rem;
  height: calc(100% - 0.0566rem);
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-8TH.png');
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .group-ZEw .rectangle-g4f {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-irT.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .group-ZEw .group-ZEw-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .group-kaK {
  margin-top: 0.0566rem;
  box-sizing: border-box;
  padding: 0.504rem 1.04rem 0.855rem 0.62rem;
  height: calc(100% - 0.0566rem);
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-bg-qT5.png');
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .group-kaK .rectangle-sQ3 {
  width: 15.0968rem;
  height: 27.0094rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-Tif.png');
}
.play-Mqq .auto-group-tays-Bdq .group-46-mfu .auto-group-86wx-LLF .group-kaK .group-kaK-bg {
  width: 16.7572rem;
  height: 28.3689rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c5947a4c7439093db935d6c9a78190095ac0e6d2');
}
.play-Mqq .auto-group-tays-Bdq .auto-group-1auu-96f {
  margin: 0rem 23.2rem 11.961rem 1.059rem;
  width: calc(100% - 24.2589rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-1auu-96f .style-guide-U8w {
  margin-right: 5.8rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-1auu-96f .style-guide-U8w .style-guide-U8w-sub-0 {
}
.play-Mqq .auto-group-tays-Bdq .auto-group-1auu-96f .style-guide-U8w .style-guide-U8w-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.365;
  color: #fece00;
  font-family: Manrope, 'Source Sans Pro';
}
.play-Mqq .auto-group-tays-Bdq .auto-group-1auu-96f .vector-117-479 {
  margin-bottom: 0.0516rem;
  width: 89.4rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-h5rm-noq {
  margin: 0rem 16.782rem 28.319rem 11.841rem;
  width: calc(100% - 28.623rem);
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-h5rm-noq .port-23-1-ixP {
  width: 107.6359rem;
  height: 51.7102rem;
  object-fit: cover;
  vertical-align: top;
}
.play-Mqq .auto-group-tays-Bdq .how-play-works--fMq {
  margin: 0rem 116.641rem 7.629rem 0rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq {
  margin: 0rem 3.2rem 25.542rem 0rem;
  width: 133.0589rem;
  height: 31.3626rem;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 {
  box-sizing: border-box;
  padding: 5.014rem 7.165rem 1.732rem 9.508rem;
  width: 131.7786rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #900000;
  border-radius: 1rem;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-tfpy-qfd {
  margin: 0rem 20.327rem 9.8rem 0rem;
  width: 10.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-tfpy-qfd .group-47-Mts {
  margin: 0rem 2.379rem 3.913rem 2.417rem;
  width: calc(100% - 4.7963rem);
  height: 5.9037rem;
  position: relative;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-tfpy-qfd .group-47-Mts .item-1-5Zy {
  width: 0.8rem;
  height: 2.5rem;
  position: absolute;
  left: 2.5327rem;
  top: 1.2492rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-tfpy-qfd .group-47-Mts .ellipse-14-B7D {
  width: 5.9037rem;
  height: 5.9037rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  border-radius: 2.9519rem;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-tfpy-qfd .log-in-or-sign-upif-first-time-user-tXR {
  max-width: 10.7rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-hzsf-bwd {
  margin: 0rem 19.508rem 6.6rem 0rem;
  width: 16.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-hzsf-bwd .group-48-jH9 {
  margin: 0rem 5.398rem 3.913rem 5.398rem;
  width: calc(100% - 10.7963rem);
  height: 5.9037rem;
  position: relative;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-hzsf-bwd .group-48-jH9 .item-2-Tiw {
  width: 1.1rem;
  height: 2.5rem;
  position: absolute;
  left: 2.3827rem;
  top: 1.2492rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-hzsf-bwd .group-48-jH9 .ellipse-14-yBV {
  width: 5.9037rem;
  height: 5.9037rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  border-radius: 2.9519rem;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-hzsf-bwd .play-by-default-suggests-movies-that-are-trending-and-shows-users-watchlist-JDm {
  max-width: 16.7rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-v8iz-PW7 {
  margin: 0rem 20.77rem 3.3rem 0rem;
  width: 12.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-v8iz-PW7 .group-49-Wqd {
  margin: 0rem 3.198rem 3.913rem 3.198rem;
  width: calc(100% - 6.3963rem);
  height: 5.9037rem;
  position: relative;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-v8iz-PW7 .group-49-Wqd .item-3-eS3 {
  width: 1rem;
  height: 2.5rem;
  position: absolute;
  left: 2.4327rem;
  top: 1.2492rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-v8iz-PW7 .group-49-Wqd .ellipse-14-M5Z {
  width: 5.9037rem;
  height: 5.9037rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  border-radius: 2.9519rem;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-v8iz-PW7 .play-asks-the-user-for-data-on-which-type-movie-theyd-like-to-watch-4kf {
  max-width: 12.3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-usg9-B4b {
  margin-top: 0.0002rem;
  width: 14.8rem;
  height: calc(100% - 0.0002rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-usg9-B4b .group-50-umH {
  margin: 0rem 4.76rem 3.913rem 4.136rem;
  width: calc(100% - 8.8963rem);
  height: 5.9037rem;
  position: relative;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-usg9-B4b .group-50-umH .item-4-dhH {
  width: 1.1rem;
  height: 2.5rem;
  position: absolute;
  left: 2.3827rem;
  top: 1.2492rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-usg9-B4b .group-50-umH .ellipse-14-jVR {
  width: 5.9037rem;
  height: 5.9037rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  border-radius: 2.9519rem;
}
.play-Mqq .auto-group-tays-Bdq .auto-group-cclu-PHq .group-51-ib1 .auto-group-usg9-B4b .play-suggests-movie-based-on-the-requirments-and-also-displays-reviews-ratings-and-streaming-site-to-watch-movie-in-fdy {
  max-width: 14.8rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .rectangle-wbV {
  margin: 0rem 0rem 14.7rem 0.259rem;
  width: 136rem;
  height: 61.7rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-tGF.png');
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .rectangle-qwm {
  margin: 0rem 0rem 14.7rem 0.259rem;
  width: 136rem;
  height: 76.6rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-mfD.png');
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .rectangle-xWb {
  margin: 0rem 0rem 25rem 0.259rem;
  width: 136rem;
  height: 97.2rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-vsR.png');
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .thank-you-s7m {
  margin-right: 2.2411rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.play-Mqq .auto-group-tays-Bdq .thank-you-s7m .thank-you-s7m-sub-0 {
}
.play-Mqq .auto-group-tays-Bdq .thank-you-s7m .thank-you-s7m-sub-1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #e53232;
  font-family: Sora, 'Source Sans Pro';
}
.play-Mqq .rectangle-84-EsR {
  width: 192rem;
  height: 10.7884rem;
  position: absolute;
  left: 0;
  top: 0.0043rem;
  background-color: #f5f5f5;
}
.play-Mqq .rectangle-2-yq1 {
  width: 6.475rem;
  height: 0.3797rem;
  position: absolute;
  left: 130.525rem;
  top: 7.072rem;
  background-color: #e53232;
}
.play-Mqq .contact-KP5 {
  width: 6.4rem;
  height: 2.2rem;
  position: absolute;
  left: 155.6002rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-Mqq .graphic-DUT {
  width: 6rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 143.3001rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-Mqq .projects-XV9 {
  width: 6.5rem;
  height: 2.2rem;
  position: absolute;
  left: 130.5rem;
  top: 4.3535rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-Mqq .about-qkj {
  width: 4.7rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 119.4999rem;
  top: 4.3535rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-Mqq .home-ZAw {
  width: 4.5rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 107.5158rem;
  top: 4.3535rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.play-Mqq .subtract-fjm {
  width: 2.6284rem;
  height: 3.8819rem;
  position: absolute;
  left: 30rem;
  top: 3.4574rem;
  object-fit: contain;
  vertical-align: top;
}
