
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 20.9rem;
}.rectangle-94-sRh {
  width: 100%;
  height: 17.4rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e1e1e1;
}
