
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 2rem;
}.scroll-uSF {
  width: 100%;
  height: 7rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.056000016;
  color: #000000;
  font-family: Monument Extended, 'Source Sans Pro';
}
