
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 116.8rem;
}.component-3-5My {
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
  align-items: center;
  display: flex;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;

  .property-1default-1Fd {
    margin-bottom: 2rem;
    width: 100%;
    height: 33.6966rem;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;

    .rectangle-128-9cj {
      width: 54.9878rem;
      height: 32.7432rem;
      position: absolute;
      left: 0.1618rem;
      top: 0.3631rem;
      background-color: #fece00;
    }
    .group-903-HU3 {
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 112.8575rem;
      height: 33.6966rem;
      position: absolute;

      .mask-group-RaF {
        height: 33.6966rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 7.2105rem;
        width: 55.447rem;
      }
      .auto-group-is1f-xKH {
        margin: 4.647rem 0rem 2.968rem 0rem;
        width: 50.2rem;
        height: calc(100% - 7.6151rem);
        flex-shrink: 0;

        .play-Gqm {
          font-family: Monument Extended, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.593rem 0.018rem;
          font-size: 4rem;
          font-weight: 800;
          line-height: 1.0559999466;
          color: #000000;
        }
        .auto-group-por7-zFy {
          margin: 0rem 0.058rem 2.308rem 0.018rem;
          width: calc(100% - 0.0751rem);
          display: flex;
          align-items: center;

          .user-interface-v9d {
            flex-shrink: 0;
            margin: 0.2rem 32.025rem 0rem 0rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.0559999943;
            color: #000000;
            font-family: Manrope, 'Source Sans Pro';
            white-space: nowrap;
          }
          .mobile-application-2yM {
            font-family: Manrope, 'Source Sans Pro';
            font-size: 1.2rem;
            line-height: 1.0559999943;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            text-align: right;
          }
        }
        .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-keT {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.0559999678;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
          margin-bottom: 4.7807rem;
          max-width: 50.2rem;
        }
        .component-1-cAs {
          margin-left: 37.509rem;
          width: 12.6335rem;
          height: 4.8997rem;
          cursor: pointer;
          position: relative;

          .rectangle-124-YqD {
            top: 0;
            background-color: #000000;
            width: 12.3858rem;
            height: 4.5695rem;
            position: absolute;
            left: 0.2477rem;
          }
          .rectangle-123-H27 {
            position: absolute;
            left: 0;
            top: 0.3302rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #e1e1e1;
            width: 12.3858rem;
            height: 4.5695rem;
          }
          .view-Q6j {
            height: 2.6rem;
            left: 2.293rem;
            line-height: 1.0559999943;
            width: 5.2rem;
            top: 1.365rem;
            font-size: 2.4rem;
            font-weight: 800;
            color: #000000;
            font-family: Monument Extended, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
          }
        }
      }
    }
  }
  .property-1variant2-u3V {
    width: 100%;
    height: 33.6966rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-128-rDd {
      top: -0.6369rem;
      background-color: #fece00;
      width: 54.9878rem;
      height: 32.7432rem;
      position: absolute;
      left: -0.7382rem;
    }
    .group-903-afR {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 112.8575rem;
      height: 33.6966rem;

      .mask-group-Ksu {
        margin-right: 7.2105rem;
        width: 55.447rem;
        height: 33.6966rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-vjxy-GHM {
        margin: 4.647rem 0rem 2.968rem 0rem;
        width: 50.2rem;
        height: calc(100% - 7.6151rem);
        flex-shrink: 0;

        .play-nmV {
          margin: 0rem 0rem 0.593rem 0.018rem;
          font-size: 4rem;
          font-weight: 800;
          line-height: 1.0559999466;
          color: #000000;
          font-family: Monument Extended, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-gtl5-vMu {
          margin: 0rem 0.058rem 2.308rem 0.018rem;
          width: calc(100% - 0.0751rem);
          display: flex;
          align-items: center;

          .user-interface-rWT {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.2rem 32.025rem 0rem 0rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.0559999943;
            color: #000000;
            font-family: Manrope, 'Source Sans Pro';
          }
          .mobile-application-NUo {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-weight: 400;
            line-height: 1.0559999943;
            color: #000000;
            font-family: Manrope, 'Source Sans Pro';
            margin-bottom: 0.2rem;
            font-size: 1.2rem;
          }
        }
        .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-JNT {
          font-family: Manrope, 'Source Sans Pro';
          margin-bottom: 4.7807rem;
          max-width: 50.2rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.0559999678;
          color: #000000;
        }
        .component-1-xT1 {
          margin-left: 37.509rem;
          width: 12.6335rem;
          height: 4.8997rem;
          cursor: pointer;
          position: relative;

          .rectangle-124-VC3 {
            background-color: #000000;
            width: 12.3858rem;
            height: 4.5695rem;
            position: absolute;
            left: 0.2477rem;
            top: 0;
          }
          .rectangle-123-E9d {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #e1e1e1;
            width: 12.3858rem;
            height: 4.5695rem;
            position: absolute;
            left: 0;
            top: 0.3302rem;
          }
          .view-kdm {
            position: absolute;
            top: 1.365rem;
            color: #000000;
            font-family: Monument Extended, 'Source Sans Pro';
            width: 5.2rem;
            height: 2.6rem;
            left: 2.293rem;
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.0559999943;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
