
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136rem;
}.component-9-Lgo {
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;

  .property-1default-sgj {
    flex-shrink: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 100%;
    height: 39.1rem;
    align-items: center;
    padding-right: 0.29rem;
    cursor: pointer;
    display: flex;

    .auto-group-a1yr-oaP {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 8.5477rem;
      width: 64.775rem;

      .rectangle-137-vQ7 {
        top: 0.2811rem;
        background-color: #e53232;
        width: 64.4751rem;
        height: 38.4607rem;
        position: absolute;
        left: 0.0588rem;
      }
      .mask-group-TQ3 {
        width: 64.775rem;
        height: 39.1rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-xzk3-PoV {
      flex-direction: column;
      flex-shrink: 0;
      margin: 6.39rem 0rem 5.242rem 0rem;
      height: calc(100% - 11.6312rem);
      display: flex;

      .movin-KSF {
        font-weight: 600;
        line-height: 1.0559999466;
        color: #000000;
        font-family: Sora, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.4818rem;
        font-size: 4rem;
      }
      .ux-and-ui-3t3 {
        line-height: 1.0559999943;
        color: #000000;
        font-family: Sora, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 1.582rem 0.021rem;
        font-size: 1.6rem;
        font-weight: 300;
      }
      .movin-is-a-new-age-app-that-acts-as-a-platform-to-connect-the-people-seeking-for-room-and-the-people-who-are-seeking-for-roommate-yFu {
        font-weight: 400;
        line-height: 1.26;
        color: #000000;
        font-family: Sora, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 6.1284rem;
        max-width: 55.2rem;
        font-size: 1.8rem;
      }
      .component-7-qou {
        position: relative;
        flex-shrink: 0;
        margin-left: 43.8773rem;
        width: 14.5101rem;
        height: 5.3766rem;
        cursor: pointer;

        .rectangle-123-BMy {
          left: 0;
          top: 0.0282rem;
          background-color: #e53232;
          border-radius: 2.6742rem;
          width: 14.4941rem;
          height: 5.3484rem;
          position: absolute;
        }
        .view-6jq {
          top: 1.4242rem;
          font-weight: 500;
          white-space: nowrap;
          color: #ffffff;
          font-family: Sora, 'Source Sans Pro';
          width: 5.7rem;
          height: 2.6rem;
          position: absolute;
          left: 4.4129rem;
          font-size: 2.4rem;
          line-height: 1.0559999943;
        }
      }
    }
  }
  .property-1variant2-bwV {
    width: 100%;
    height: 39.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-right: 0.29rem;

    .auto-group-rn1b-L8P {
      margin-right: 8.5477rem;
      width: 65.7162rem;
      height: 39.8189rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-137-5Ls {
        height: 38.4607rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #e53232;
        width: 64.4751rem;
      }
      .mask-group-CwH {
        width: 64.775rem;
        height: 39.1rem;
        position: absolute;
        left: 0.9412rem;
        top: 0.7189rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-2wtv-XyZ {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 6.39rem 0rem 5.242rem 0rem;
      height: calc(100% - 11.6312rem);

      .movin-fK5 {
        margin-bottom: 1.4818rem;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.0559999466;
        color: #000000;
        font-family: Sora, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .ux-and-ui-QGf {
        font-weight: 300;
        line-height: 1.0559999943;
        color: #000000;
        font-family: Sora, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 1.582rem 0.021rem;
        font-size: 1.6rem;
      }
      .movin-is-a-new-age-app-that-acts-as-a-platform-to-connect-the-people-seeking-for-room-and-the-people-who-are-seeking-for-roommate-KuR {
        flex-shrink: 0;
        margin-bottom: 6.1284rem;
        max-width: 55.2rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.26;
        color: #000000;
        font-family: Sora, 'Source Sans Pro';
      }
      .component-7-Qfy {
        flex-shrink: 0;
        margin-left: 43.8773rem;
        width: 14.5101rem;
        height: 5.3766rem;
        cursor: pointer;
        position: relative;

        .rectangle-123-YnB {
          height: 5.3484rem;
          position: absolute;
          left: 0;
          top: 0.0282rem;
          background-color: #e53232;
          border-radius: 2.6742rem;
          width: 14.4941rem;
        }
        .view-t5M {
          font-weight: 500;
          line-height: 1.0559999943;
          height: 2.6rem;
          position: absolute;
          top: 1.4242rem;
          font-size: 2.4rem;
          white-space: nowrap;
          width: 5.7rem;
          left: 4.4129rem;
          color: #ffffff;
          font-family: Sora, 'Source Sans Pro';
        }
      }
    }
  }
}
