
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 54.4rem;
}.duct-tape-strip-png-transparent-png-1-9dh {
  height: 41.6717rem;
  object-fit: cover;
  vertical-align: top;
  width: 100%;
}
