
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 18.5rem;
}.find-out-what-where-and-how-the-user-is-facing-the-problem-in-the-given-situation-sfD {
  height: 6.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.0559999943;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  width: 100%;
}
