
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.graphic-Mgj {
  width: 100%;
  height: 690.4rem;
  position: relative;
  overflow: hidden;
  background-color: #e1e1e1;

  .auto-group-swsm-Vnw {
    position: absolute;
    left: 0;
    top: 0;
    width: 270.3955rem;
    height: 232.4219rem;

    .other-works-RAo {
      width: 24.2rem;
      height: 5.1rem;
      top: 42.8025rem;
      font-weight: 600;
      position: absolute;
      left: 30.1336rem;
      font-size: 4rem;
      line-height: 1.26;
      letter-spacing: -0.16rem;
      color: #000000;
      font-family: Sora, 'Source Sans Pro';
      white-space: nowrap;
    }
    .illustration-u5y {
      font-family: Sora, 'Source Sans Pro';
      left: 30.1336rem;
      top: 111.241rem;
      line-height: 1.26;
      color: #000000;
      font-weight: 600;
      letter-spacing: -0.16rem;
      white-space: nowrap;
      width: 20.7rem;
      height: 5.1rem;
      position: absolute;
      font-size: 4rem;
    }
    .this-section-features-other-works-that-were-done-during-my-early-periods-of-software-learning-and-also-includes-couple-of-different-weird-smaller-projects-that-was-done-during-the-pandemic-oSF {
      position: absolute;
      top: 51.7902rem;
      font-weight: 400;
      color: #000000;
      width: 61.5rem;
      height: 12.1rem;
      left: 30rem;
      font-size: 2.2rem;
      line-height: 1.365;
      font-family: Manrope, 'Source Sans Pro';
    }
    .scroll-EXZ {
      font-weight: 400;
      color: #000000;
      height: 3rem;
      left: 31.1413rem;
      font-size: 2.2rem;
      line-height: 1.3409999501;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.7rem;
      position: absolute;
      top: 90.8229rem;
    }
    .vector-2-M6P {
      position: absolute;
      left: 30rem;
      top: 49.6236rem;
      object-fit: contain;
      vertical-align: top;
      width: 14.5132rem;
      height: 0;
    }
    .vector-11-5YB {
      top: 118.0621rem;
      object-fit: contain;
      vertical-align: top;
      width: 14.5132rem;
      height: 0;
      position: absolute;
      left: 30rem;
    }
    .vector-10-cHD {
      width: 0.7397rem;
      height: 1.7856rem;
      position: absolute;
      left: 30rem;
      top: 91.3372rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-15-YRm {
      background-color: #e53232;
      border-radius: 54.4822rem;
      width: 108.9643rem;
      height: 108.9643rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .wrqv-01-1-5gb {
      left: 30rem;
      top: 123.7822rem;
      object-fit: cover;
      vertical-align: top;
      width: 42.4779rem;
      height: 42.4779rem;
      position: absolute;
    }
    .liv-02-1-QTy {
      height: 42.478rem;
      position: absolute;
      left: 118.9736rem;
      top: 123.7822rem;
      object-fit: cover;
      vertical-align: top;
      width: 43.0264rem;
    }
    .bvs-1-wD1 {
      vertical-align: top;
      width: 42.9918rem;
      height: 42.478rem;
      position: absolute;
      left: 74.2299rem;
      top: 123.7822rem;
      object-fit: cover;
    }
    .freecitylightmockup3-1-42j {
      width: 57.772rem;
      height: 43.329rem;
      position: absolute;
      left: 102.8rem;
      top: 35.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-140-a15 {
      top: 34.6194rem;
      border: solid 0.3rem #e53232;
      box-sizing: border-box;
      width: 57.6842rem;
      height: 43.2606rem;
      position: absolute;
      left: 104.3158rem;
    }
  }
  .auto-group-r6rt-Hw5 {
    width: 192rem;
    height: 524.1398rem;
    position: absolute;
    left: 0;
    top: 166.2602rem;

    .posters-cyM {
      white-space: nowrap;
      left: 30.1336rem;
      font-size: 4rem;
      font-family: Sora, 'Source Sans Pro';
      top: 181.9211rem;
      font-weight: 600;
      line-height: 1.26;
      letter-spacing: -0.16rem;
      color: #000000;
      width: 14.5rem;
      height: 5.1rem;
      position: absolute;
    }
    .vector-12-vz3 {
      width: 7.0969rem;
      height: 0;
      position: absolute;
      left: 30rem;
      top: 188.7422rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-jhuw-sPV {
      width: 132rem;
      height: 141.6016rem;
      position: absolute;
      left: 30rem;
      top: 1.4638rem;
      display: flex;
      align-items: flex-start;

      .auto-group-nwuh-CRm {
        height: 100%;
        flex-shrink: 0;
        margin-right: 1.3186rem;
        width: 51.5878rem;

        .star-wars-1-jwV {
          margin-bottom: 1.7789rem;
          width: 51.5878rem;
          height: 72.9423rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-3h2m-t3h {
          margin-right: 0.1185rem;
          width: calc(100% - 0.1185rem);
          height: 66.8803rem;
          display: flex;
          align-items: flex-start;

          .fakir-1-1u1 {
            height: 32.0482rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.5355rem;
            width: 22.5888rem;
          }
          .auto-group-j31w-xZM {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            align-items: flex-end;

            .pulp-01-01-01-1-iHd {
              height: 27.3449rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0rem 1.448rem 0rem;
              width: 27.3449rem;
            }
            .dark-knight-1-dQb {
              vertical-align: top;
              flex-shrink: 0;
              width: 26.9259rem;
              height: 38.0872rem;
              object-fit: cover;
            }
          }
        }
      }
      .auto-group-ttym-ZJF {
        flex-direction: column;
        flex-shrink: 0;
        width: 79.0937rem;
        align-items: center;
        display: flex;

        .auto-group-f2pf-JWj {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.7406rem;
          width: 100%;
          display: flex;

          .friends-01-01-1-Fgs {
            margin-right: 1.3184rem;
            width: 46.7318rem;
            height: 46.7318rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .fault-f-1-z8f {
            width: 31.0435rem;
            height: 46.7318rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-xnir-j6F {
          flex-shrink: 0;
          margin-right: 0rem;
          width: calc(100% - 0rem);
          height: 87.6815rem;
          display: flex;
          align-items: flex-start;

          .auto-group-lxrd-sTM {
            height: 100%;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 1.437rem;

            .notimetodie-01-1-dBd {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 1.7411rem;
              width: 31.5077rem;
              height: 42.0288rem;
              object-fit: cover;
            }
            .quiet-place-1-MtK {
              margin-right: 0rem;
              width: 31.0435rem;
              height: 43.9115rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .mand-01-1-JHm {
            flex-shrink: 0;
            width: 46.1489rem;
            height: 65.2521rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
    .auto-group-cdgy-2zT {
      position: absolute;
      left: 30.1336rem;
      top: 195.1388rem;
      display: flex;
      align-items: center;
      width: 131.8664rem;
      height: 44.809rem;

      .fifah-mBM {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7517rem;
        width: 31.6529rem;
        height: 44.809rem;
        object-fit: cover;
      }
      .fifaha-uHZ {
        height: 44.809rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7517rem;
        width: 31.6529rem;
      }
      .fifahaa-3Pm {
        margin-right: 1.7514rem;
        width: 31.6529rem;
        height: 44.809rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .fifa3-auV {
        width: 31.6529rem;
        height: 44.809rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .rectangle-84-XZq {
    background-color: #f5f5f5;
    width: 192rem;
    height: 10.7884rem;
    position: absolute;
    left: 0;
    top: 0.0042rem;
  }
  .rectangle-2-GXR {
    background-color: #e53232;
    width: 5.9531rem;
    height: 0.3797rem;
    position: absolute;
    left: 143.3001rem;
    top: 7.072rem;
  }
  .contact-Qdd {
    left: 155.6002rem;
    top: 4.3535rem;
    font-size: 1.6rem;
    color: #000000;
    white-space: nowrap;
    width: 6.4rem;
    position: absolute;
    line-height: 1.365;
    font-family: Manrope, 'Source Sans Pro';
    height: 2.2rem;
    font-weight: 600;
  }
  .graphic-uqH {
    white-space: nowrap;
    width: 6rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 600;
    color: #000000;
    font-family: Manrope, 'Source Sans Pro';
    height: 2.2rem;
    left: 143.3001rem;
    top: 4.3535rem;
    line-height: 1.365;
  }
  .projects-pxF {
    font-family: Manrope, 'Source Sans Pro';
    width: 6.5rem;
    height: 2.2rem;
    cursor: pointer;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 600;
    color: #000000;
    white-space: nowrap;
    left: 130.5rem;
    top: 4.3535rem;
    line-height: 1.365;
  }
  .about-wX5 {
    line-height: 1.365;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    font-size: 1.6rem;
    left: 119.4999rem;
    top: 4.3535rem;
    font-weight: 600;
    font-family: Manrope, 'Source Sans Pro';
    width: 4.7rem;
    height: 2.2rem;
    cursor: pointer;
  }
  .home-fCB {
    width: 4.5rem;
    cursor: pointer;
    left: 107.5158rem;
    top: 4.3535rem;
    color: #000000;
    white-space: nowrap;
    font-family: Manrope, 'Source Sans Pro';
    height: 2.2rem;
    position: absolute;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.365;
  }
  .subtract-aa3 {
    object-fit: contain;
    vertical-align: top;
    width: 2.6284rem;
    height: 3.8819rem;
    position: absolute;
    left: 30rem;
    top: 3.4575rem;
  }
}
