
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.group-887-iKR {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 1.964rem 10.99rem 1.964rem 6.56rem;
  width: 100%;
  display: flex;

  .ellipse-1-Rjd {
    flex-shrink: 0;
    margin-right: 118.4451rem;
    width: 6.8603rem;
    height: 6.8603rem;
    object-fit: contain;
    vertical-align: top;
  }
  .home-N95 {
    white-space: nowrap;
    margin: 0rem 7.817rem 0rem 0rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: Manrope, 'Source Sans Pro';
    font-weight: 600;
    line-height: 1.365;
    color: #ffffff;
    flex-shrink: 0;
  }
  .other-H19 {
    line-height: 1.365;
    color: #ffffff;
    font-family: Manrope, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 8.007rem 0rem 0rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .auto-group-tsvh-Cto {
    width: 5.1206rem;
    height: 2.2rem;
    position: relative;
    flex-shrink: 0;
    margin-top: 0rem;

    .rectangle-2-wbV {
      top: 1.359rem;
      background-color: #fece00;
      width: 5.1206rem;
      height: 0.6819rem;
      position: absolute;
      left: 0;
    }
    .about-sV9 {
      position: absolute;
      top: 0;
      height: 2.2rem;
      left: 0.2103rem;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.365;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.7rem;
    }
  }
}
