
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80.737rem;
}.group-880-7Y3 {
  width: 100%;
  height: 79.8215rem;
  position: relative;

  .once-Tro {
    font-family: Manrope, 'Source Sans Pro';
    height: 33.2rem;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1.365;
    width: 68.5rem;
    text-align: center;
    font-size: 24.2636rem;
    font-weight: 800;
    white-space: nowrap;
  }
  .upon-PVZ {
    white-space: nowrap;
    width: 69.5rem;
    height: 33.2rem;
    position: absolute;
    top: 23.4888rem;
    text-align: center;
    line-height: 1.365;
    font-family: Manrope, 'Source Sans Pro';
    left: 1.451rem;
    font-size: 24.2636rem;
    font-weight: 800;
  }
  .a-time-W4P {
    font-family: Manrope, 'Source Sans Pro';
    white-space: nowrap;
    width: 78.6rem;
    left: 2.1375rem;
    text-align: center;
    font-size: 24.2636rem;
    line-height: 1.365;
    height: 33.2rem;
    position: absolute;
    top: 46.6215rem;
    font-weight: 800;
  }
}
