
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 101.374rem;
}.group-890-ASb {
  width: 100%;
  display: flex;
  align-items: flex-end;

  .auto-group-hrxv-7sd {
    height: 59.3rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 2.3735rem;
    width: 84.2rem;

    .reume-3mH {
      height: 33.5rem;
      left: 0;
      font-family: Manrope, 'Source Sans Pro';
      line-height: 1.365;
      white-space: nowrap;
      width: 84.2rem;
      position: absolute;
      top: 25.8rem;
      text-align: center;
      font-size: 24.4935rem;
      font-weight: 800;
    }
    .devunathkannangmailcom-xdM {
      width: 47rem;
      left: 1.5985rem;
      font-size: 3.2rem;
      font-weight: 800;
      line-height: 1.365;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      height: 4.4rem;
      position: absolute;
      top: 22.4rem;
      align-items: baseline;

      .devunathkannangmailcom-xdM-sub-0 {
      }
      .devunathkannangmailcom-xdM-sub-1 {
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.365;
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
      }
    }
    .mail-FVy {
      font-family: Manrope, 'Source Sans Pro';
      height: 33.2rem;
      position: absolute;
      top: 0;
      text-align: center;
      font-size: 24.2636rem;
      width: 57.8rem;
      left: 25.9275rem;
      font-weight: 800;
      line-height: 1.365;
      white-space: nowrap;
    }
  }
  .click-here-a2T {
    margin-bottom: 6.7rem;
    font-size: 3.2rem;
    font-family: Manrope, 'Source Sans Pro';
    white-space: nowrap;
    align-items: baseline;
    flex-shrink: 0;
    font-weight: 800;
    line-height: 1.3660000563;
    text-decoration-line: underline;
    color: #000000;
    display: flex;

    .click-here-a2T-sub-0 {
      font-weight: 800;
      line-height: 1.365;
      text-decoration-line: underline;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      font-size: 3.2rem;
    }
    .click-here-a2T-sub-1 {
      text-decoration-line: underline;
      color: #fece00;
      font-family: Manrope, 'Source Sans Pro';
      font-size: 3.2rem;
      font-weight: 800;
      line-height: 1.365;
    }
  }
}
