
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 116.753rem;
}.group-902-6iT {
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;
  align-items: center;
  display: flex;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  width: 100%;
  position: relative;

  .property-1default-SGX {
    margin-bottom: 2rem;
    width: 100%;
    height: 33.4059rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-gt2v-mpb {
      margin-right: 7.2105rem;
      width: 55.4rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-126-JpX {
        width: 54.9878rem;
        height: 32.7432rem;
        position: absolute;
        left: 0.1356rem;
        top: 0.6626rem;
        background-color: #fece00;
      }
      .mask-group-qJf {
        vertical-align: top;
        width: 55.4rem;
        height: 33.4059rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
      }
    }
    .auto-group-xomf-kwR {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 4.502rem 0rem 2.822rem 0rem;
      width: 50.2rem;
      height: calc(100% - 7.3243rem);
      align-items: flex-end;

      .we-make-iot-Gum {
        color: #000000;
        font-family: Monument Extended, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 26.282rem 0.593rem 0rem;
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.0559999466;
      }
      .auto-group-jlmb-zKy {
        margin: 0rem 0.058rem 2.308rem 0.018rem;
        width: calc(100% - 0.0751rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .user-interface-iWs {
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.2rem 37.625rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.0559999943;
          color: #000000;
        }
        .website-dtj {
          font-weight: 400;
          line-height: 1.0559999943;
          font-family: Manrope, 'Source Sans Pro';
          margin-bottom: 0.2rem;
          text-align: right;
          font-size: 1.2rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-8qV {
        font-family: Manrope, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 4.7807rem;
        max-width: 50.2rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.0559999678;
        color: #000000;
      }
      .component-1-YPR {
        margin-right: 0.0575rem;
        width: 12.6335rem;
        height: 4.8997rem;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;

        .rectangle-124-UXy {
          background-color: #000000;
          width: 12.3858rem;
          height: 4.5695rem;
          position: absolute;
          left: 0.2477rem;
          top: 0;
        }
        .rectangle-123-127 {
          width: 12.3858rem;
          height: 4.5695rem;
          position: absolute;
          left: 0;
          top: 0.3302rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #e1e1e1;
        }
        .view-Xm9 {
          left: 2.293rem;
          font-family: Monument Extended, 'Source Sans Pro';
          color: #000000;
          width: 5.2rem;
          height: 2.6rem;
          position: absolute;
          top: 1.365rem;
          font-size: 2.4rem;
          font-weight: 800;
          line-height: 1.0559999943;
          white-space: nowrap;
        }
      }
    }
  }
  .property-1variant2-S7R {
    width: 100%;
    height: 33.4059rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-u4rb-BKu {
      flex-shrink: 0;
      margin-right: 7.2105rem;
      width: 56.1644rem;
      height: 34.0432rem;
      position: relative;

      .rectangle-126-vHV {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fece00;
        width: 54.9878rem;
        height: 32.7432rem;
      }
      .mask-group-rgw {
        height: 33.4059rem;
        position: absolute;
        left: 0.7644rem;
        top: 0.6374rem;
        object-fit: contain;
        vertical-align: top;
        width: 55.4rem;
      }
    }
    .auto-group-rccd-b8j {
      margin: 4.502rem 0rem 2.822rem 0rem;
      width: 50.2rem;
      height: calc(100% - 7.3243rem);
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .we-make-iot-uQK {
        flex-shrink: 0;
        margin: 0rem 26.282rem 0.593rem 0rem;
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.0559999466;
        color: #000000;
        font-family: Monument Extended, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-b9hw-q35 {
        width: calc(100% - 0.0751rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.058rem 2.308rem 0.018rem;

        .user-interface-ZUs {
          font-weight: 400;
          line-height: 1.0559999943;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.2rem 37.625rem 0rem 0rem;
          font-size: 1.2rem;
        }
        .website-gZV {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
          font-size: 1.2rem;
          font-weight: 400;
          font-family: Manrope, 'Source Sans Pro';
          margin-bottom: 0.2rem;
          line-height: 1.0559999943;
          color: #000000;
        }
      }
      .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-1bm {
        line-height: 1.0559999678;
        color: #000000;
        font-family: Manrope, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 4.7807rem;
        max-width: 50.2rem;
        font-size: 1.8rem;
        font-weight: 400;
      }
      .component-1-r6b {
        flex-shrink: 0;
        margin-right: 0.0575rem;
        width: 12.6335rem;
        height: 4.8997rem;
        cursor: pointer;
        position: relative;

        .rectangle-124-mjM {
          left: 0.2477rem;
          top: 0;
          background-color: #000000;
          width: 12.3858rem;
          height: 4.5695rem;
          position: absolute;
        }
        .rectangle-123-7YK {
          left: 0;
          top: 0.3302rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #e1e1e1;
          width: 12.3858rem;
          height: 4.5695rem;
          position: absolute;
        }
        .view-3B5 {
          white-space: nowrap;
          left: 2.293rem;
          top: 1.365rem;
          position: absolute;
          font-size: 2.4rem;
          font-weight: 800;
          line-height: 1.0559999943;
          color: #000000;
          font-family: Monument Extended, 'Source Sans Pro';
          width: 5.2rem;
          height: 2.6rem;
        }
      }
    }
  }
}
