
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 55.353rem;
}.group-898-dW7 {
  box-sizing: border-box;
  padding: 1.29rem 0.988rem 1.458rem 1.926rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .play-wWo {
    color: #000000;
    font-family: Monument Extended, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.0559999943;
  }
  .auto-group-xalm-gDV {
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .ux-and-ui-q6P {
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 36.939rem 0rem 0rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.0559999943;
    }
    .mobile-application-kj9 {
      margin-bottom: 0.2rem;
      text-align: right;
      font-weight: 400;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      font-size: 1.2rem;
      line-height: 1.0559999943;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
