
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 55.353rem;
}.group-899-kwR {
  box-sizing: border-box;
  padding: 1.29rem 1.926rem 1.458rem 1.926rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .logo-design-HAf {
    line-height: 1.0559999943;
    color: #000000;
    font-family: Monument Extended, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 0.2rem;
    font-size: 3.2rem;
    font-weight: 800;
  }
  .graphic-design-cCw {
    line-height: 1.0559999943;
    color: #000000;
    font-family: Manrope, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
