
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 112.858rem;
}.group-901-a9u {
  display: flex;
  align-items: center;
  width: 100%;

  .mask-group-L95 {
    width: 55.3532rem;
    height: 33.4059rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 7.3043rem;
  }
  .auto-group-qrwj-4qm {
    margin-top: 1.4619rem;
    width: 50.2rem;
    flex-shrink: 0;

    .auto-group-4aer-1W7 {
      width: 12.3453rem;
      height: 4.5174rem;
      position: relative;
      margin: 0rem 0rem 0.593rem 0.018rem;

      .movin-XjM {
        white-space: nowrap;
        width: 12.3rem;
        height: 4.3rem;
        left: 0.0453rem;
        color: #000000;
        line-height: 1.0559999466;
        font-family: Monument Extended, 'Source Sans Pro';
        position: absolute;
        top: 0;
        font-size: 4rem;
        font-weight: 800;
      }
      .movin-pyM {
        height: 4.3rem;
        left: 0;
        font-size: 4rem;
        white-space: nowrap;
        line-height: 1.0559999466;
        color: #000000;
        font-family: Monument Extended, 'Source Sans Pro';
        width: 12.3rem;
        position: absolute;
        top: 0.2174rem;
        font-weight: 800;
      }
    }
    .auto-group-c8lm-Xsm {
      margin: 0rem 0.058rem 2.308rem 0.018rem;
      width: calc(100% - 0.0751rem);
      display: flex;
      align-items: center;

      .ux-and-ui-G4f {
        line-height: 1.0559999943;
        color: #000000;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 34.625rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .mobile-application-NNb {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.0559999943;
        color: #000000;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.2rem;
        text-align: right;
        flex-shrink: 0;
      }
    }
    .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-6Jb {
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      margin-bottom: 4.7807rem;
      max-width: 50.2rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.0559999678;
    }
    .component-1-8m5 {
      margin-left: 37.509rem;
      width: 12.6335rem;
      height: 4.8997rem;
      cursor: pointer;
      position: relative;

      .rectangle-124-fm1 {
        height: 4.5695rem;
        position: absolute;
        left: 0.2477rem;
        top: 0;
        background-color: #000000;
        width: 12.3858rem;
      }
      .rectangle-123-osD {
        top: 0.3302rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #e1e1e1;
        width: 12.3858rem;
        height: 4.5695rem;
        position: absolute;
        left: 0;
      }
      .view-jF5 {
        font-family: Monument Extended, 'Source Sans Pro';
        position: absolute;
        font-weight: 800;
        line-height: 1.0559999943;
        color: #000000;
        font-size: 2.4rem;
        white-space: nowrap;
        width: 5.2rem;
        height: 2.6rem;
        left: 2.293rem;
        top: 1.365rem;
      }
    }
  }
}
