
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 112.696rem;
}.group-905-a6K {
  width: 100%;
  display: flex;
  align-items: center;

  .mask-group-LLP {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 7.0957rem;
    width: 55.4rem;
    height: 33.6966rem;
    position: relative;
  }
  .auto-group-rsw1-Gjq {
    margin-top: 1.6793rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .other-works-pWT {
      margin: 0rem 0rem 0.793rem 0.018rem;
      font-size: 4rem;
      font-weight: 800;
      line-height: 1.0559999466;
      color: #000000;
      font-family: Monument Extended, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .graphic-design-XQs {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.0559999943;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 2.308rem 0.018rem;
    }
    .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-Eq5 {
      font-weight: 400;
      line-height: 1.0559999678;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 4.7807rem;
      max-width: 50.2rem;
      font-size: 1.8rem;
    }
    .component-1-VFD {
      position: relative;
      flex-shrink: 0;
      margin-left: 37.509rem;
      width: 12.6335rem;
      height: 4.8997rem;
      cursor: pointer;

      .rectangle-124-pYP {
        width: 12.3858rem;
        height: 4.5695rem;
        position: absolute;
        left: 0.2477rem;
        top: 0;
        background-color: #000000;
      }
      .rectangle-123-xPh {
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #e1e1e1;
        width: 12.3858rem;
        height: 4.5695rem;
        position: absolute;
        left: 0;
        top: 0.3302rem;
      }
      .view-gab {
        width: 5.2rem;
        left: 2.293rem;
        font-family: Monument Extended, 'Source Sans Pro';
        height: 2.6rem;
        position: absolute;
        top: 1.365rem;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 1.0559999943;
        color: #000000;
        white-space: nowrap;
      }
    }
  }
}
