
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.home-G3R {
  position: relative;
  overflow: hidden;
  background-color: #e1e1e1;
  width: 100%;
  height: 108rem;

  .ellipse-11-NcF {
    height: 103.6878rem;
    position: absolute;
    left: 95rem;
    top: 30.3625rem;
    background-color: #e53232;
    border-radius: 51.8439rem;
    width: 103.6878rem;
  }
  .image-80-2-gsq {
    height: 35.4431rem;
    position: absolute;
    left: 29.9448rem;
    top: 112.4102rem;
    object-fit: cover;
    vertical-align: top;
    width: 26.7464rem;
  }
  .hello-im-devunath-DMy {
    line-height: 1.3660000563;
    color: #000000;
    width: 57.6rem;
    position: absolute;
    left: 30.1336rem;
    top: 34.0513rem;
    font-size: 6.4rem;
    font-weight: 800;
    height: 8.1rem;
    white-space: nowrap;
    align-items: baseline;
    letter-spacing: -0.256rem;
    font-family: Manrope, 'Source Sans Pro';
    display: flex;

    .hello-im-devunath-DMy-sub-0 {
      font-family: Sora, 'Source Sans Pro';
      font-size: 6.4rem;
      font-weight: 600;
      line-height: 1.26;
      letter-spacing: -0.256rem;
      color: #000000;
    }
    .hello-im-devunath-DMy-sub-1 {
      color: #000000;
      font-family: Sora, 'Source Sans Pro';
      font-size: 6.4rem;
      font-weight: 600;
      line-height: 1.26;
      letter-spacing: -0.256rem;
    }
    .hello-im-devunath-DMy-sub-2 {
      letter-spacing: -0.256rem;
      color: #e53131;
      font-family: Sora, 'Source Sans Pro';
      font-size: 6.4rem;
      font-weight: 600;
      line-height: 1.26;
    }
  }
  .visual-designer-F5h {
    font-weight: 400;
    line-height: 1.26;
    color: #000000;
    white-space: nowrap;
    height: 5.1rem;
    position: absolute;
    left: 30.1336rem;
    font-size: 4rem;
    width: 29rem;
    top: 43.0011rem;
    letter-spacing: -0.16rem;
    font-family: Sora, 'Source Sans Pro';
  }
  .an-open-minded-who-enjoys-team-work-and-always-willing-to-face-new-challenge-and-also-quite-passionate-and-discipline-with-an-urge-to-learn-something-new-or-meet-new-people-wz7 {
    height: 9.1rem;
    position: absolute;
    left: 30rem;
    top: 55.7526rem;
    font-weight: 400;
    width: 60.8rem;
    font-size: 2.2rem;
    line-height: 1.365;
    color: #000000;
    font-family: Manrope, 'Source Sans Pro';
  }
  .rectangle-136-BtT {
    position: absolute;
    left: 30rem;
    top: 68.725rem;
    background-color: #e53232;
    border-radius: 2.9021rem;
    width: 19.079rem;
    height: 5.8042rem;
  }
  .view-resume-idV {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.056000016;
    color: #e1e1e1;
    white-space: nowrap;
    width: 15rem;
    left: 32.0395rem;
    top: 70.4771rem;
    font-family: Sora, 'Source Sans Pro';
    height: 2.4rem;
    position: absolute;
  }
  .vector-2-dEf {
    position: absolute;
    left: 30rem;
    top: 51.9735rem;
    object-fit: contain;
    vertical-align: top;
    width: 12.0831rem;
    height: 0;
  }
  .image79-1-m5y {
    height: 86.4632rem;
    position: absolute;
    left: 116.45rem;
    top: 22.8593rem;
    object-fit: cover;
    vertical-align: top;
    width: 45.55rem;
  }
  .group-906-V1y {
    left: 146.8439rem;
    top: 47.5643rem;
    border-radius: 5.376rem;
    width: 34.3016rem;
    height: 15.9rem;
    position: absolute;

    .rectangle-137-1FD {
      border: solid 0.2rem #e53232;
      border-radius: 5.376rem;
      height: 10.7519rem;
      position: absolute;
      top: 0.5359rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      width: 34.3016rem;
      left: 0;
      box-sizing: border-box;
    }
    .item--HyR {
      width: 5.6rem;
      top: 0;
      font-size: 15rem;
      line-height: 1.0559999593;
      height: 15.9rem;
      position: absolute;
      left: 3.1528rem;
      font-weight: 400;
      color: #e8e8e8;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
    }
    .innovative-and-passionate-to-create-meaningful-design-to-user-problem-zsq {
      width: 23.7rem;
      height: 5.1rem;
      left: 5.2828rem;
      font-size: 1.6rem;
      line-height: 1.0559999943;
      font-family: Sora, 'Source Sans Pro';
      position: absolute;
      top: 3.5619rem;
      font-weight: 400;
      color: #000000;
    }
  }
  .rectangle-84-gEs {
    width: 192rem;
    height: 10.7884rem;
    position: absolute;
    left: 0;
    top: 0.0042rem;
    background-color: #f5f5f5;
  }
  .subtract-RCT {
    height: 3.8819rem;
    position: absolute;
    left: 30rem;
    top: 3.4575rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.6284rem;
  }
  .rectangle-2-MM1 {
    height: 0.4rem;
    position: absolute;
    left: 107.5rem;
    top: 7.1rem;
    background-color: #e53232;
    width: 4.5rem;
  }
  .contact-tLw {
    left: 155.6002rem;
    font-weight: 600;
    line-height: 1.365;
    color: #000000;
    white-space: nowrap;
    height: 2.2rem;
    position: absolute;
    font-size: 1.6rem;
    font-family: Manrope, 'Source Sans Pro';
    width: 6.4rem;
    top: 4.3535rem;
  }
  .graphic-QKH {
    position: absolute;
    color: #000000;
    font-family: Manrope, 'Source Sans Pro';
    white-space: nowrap;
    width: 6rem;
    height: 2.2rem;
    top: 4.3535rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.365;
    cursor: pointer;
    left: 143.3001rem;
  }
  .projects-WdD {
    width: 6.5rem;
    position: absolute;
    left: 130.5rem;
    top: 4.3535rem;
    color: #000000;
    height: 2.2rem;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.365;
    font-family: Manrope, 'Source Sans Pro';
    white-space: nowrap;
  }
  .about-dSw {
    height: 2.2rem;
    position: absolute;
    left: 119.4999rem;
    text-align: center;
    font-size: 1.6rem;
    width: 4.7rem;
    cursor: pointer;
    top: 4.3535rem;
    font-weight: 600;
    line-height: 1.365;
    color: #000000;
    font-family: Manrope, 'Source Sans Pro';
    white-space: nowrap;
  }
  .home-jks {
    line-height: 1.365;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    top: 4.3535rem;
    font-weight: 600;
    text-align: center;
    font-size: 1.6rem;
    font-family: Manrope, 'Source Sans Pro';
    width: 4.5rem;
    height: 2.2rem;
    left: 107.5158rem;
  }
}
