
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.home-fuZ {
  overflow: hidden;
  background-color: #e1e1e1;
  width: 100%;
  height: 328.7rem;
  position: relative;

  .auto-group-abqh-C8o {
    width: 270.3955rem;
    height: 231.4856rem;
    position: absolute;
    left: 0;
    top: 0;

    .projects-vKh {
      font-weight: 600;
      line-height: 1.26;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      left: 30.1336rem;
      font-size: 4rem;
      letter-spacing: -0.16rem;
      font-family: Sora, 'Source Sans Pro';
      width: 15.9rem;
      height: 5.1rem;
      top: 42.8025rem;
    }
    .holding-hand-smart-phone-mockup-1-1-oPV {
      height: 156.2255rem;
      position: absolute;
      left: 109.7658rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 82.3018rem;
    }
    .explore-the-various-and-selected-project-that-were-done-during-the-past-2-years-of-my-professional-career-ranging-from-website-redesign-of-a-established-iot-service-company-to-exploring-different-ideas-in-my-freetime-the-following-projects-helped-me-a-lot-to-learn-and-explore-different-techniques-and-tools-in-design-helping-me-grow-in-the-process-XKV {
      width: 63.5rem;
      left: 30rem;
      font-size: 2.2rem;
      font-weight: 300;
      line-height: 1.3409999501;
      color: #000000;
      font-family: Sora, 'Source Sans Pro';
      height: 20.7rem;
      position: absolute;
      top: 51.7902rem;
    }
    .scroll-tpF {
      width: 5.7rem;
      position: absolute;
      color: #000000;
      white-space: nowrap;
      height: 3rem;
      left: 31.1413rem;
      top: 90.8229rem;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 1.3409999501;
      font-family: Manrope, 'Source Sans Pro';
    }
    .vector-2-Cpw {
      top: 49.6236rem;
      object-fit: contain;
      vertical-align: top;
      width: 14.5132rem;
      height: 0;
      position: absolute;
      left: 30rem;
    }
    .vector-10-Lw9 {
      vertical-align: top;
      width: 0.7397rem;
      height: 1.7856rem;
      position: absolute;
      left: 30rem;
      top: 91.3372rem;
      object-fit: contain;
    }
    .ellipse-15-UXZ {
      left: 0;
      top: 0;
      background-color: #e53232;
      border-radius: 54.4822rem;
      width: 108.9643rem;
      height: 108.9643rem;
      position: absolute;
    }
    .component-9-Qw1 {
      left: 29.025rem;
      align-items: center;
      box-sizing: border-box;
      padding-right: 0.2899rem;
      width: 132rem;
      height: 39.1rem;
      cursor: pointer;
      position: absolute;
      top: 125.6rem;
      display: flex;

      .auto-group-qyl9-K2P {
        margin-right: 8.5477rem;
        width: 64.775rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-137-f6F {
          left: 0.0588rem;
          top: 0.2811rem;
          background-color: #e53232;
          width: 64.4751rem;
          height: 38.4607rem;
          position: absolute;
        }
        .mask-group-ayu {
          object-fit: contain;
          vertical-align: top;
          width: 64.775rem;
          height: 39.1rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .auto-group-giox-iqD {
        margin: 6.39rem 0rem 5.242rem 0rem;
        height: calc(100% - 11.6312rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .movin-SmD {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.4818rem;
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.0559999466;
          color: #000000;
          font-family: Sora, 'Source Sans Pro';
        }
        .ux-and-ui-PAf {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.582rem 0.021rem;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.0559999943;
          color: #000000;
          font-family: Sora, 'Source Sans Pro';
        }
        .movin-is-a-new-age-app-that-acts-as-a-platform-to-connect-the-people-seeking-for-room-and-the-people-who-are-seeking-for-roommate-6qm {
          margin-bottom: 6.1284rem;
          max-width: 55.2rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.26;
          color: #000000;
          font-family: Sora, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .component-7-akw {
          height: 5.3766rem;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;
          margin-left: 43.8773rem;
          width: 14.5102rem;

          .rectangle-123-v47 {
            top: 0.0282rem;
            background-color: #e53232;
            border-radius: 2.6742rem;
            width: 14.4941rem;
            height: 5.3484rem;
            position: absolute;
            left: 0;
          }
          .view-rCf {
            width: 5.7rem;
            position: absolute;
            top: 1.4242rem;
            line-height: 1.0559999943;
            font-family: Sora, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.6rem;
            left: 4.4131rem;
            font-size: 2.4rem;
            font-weight: 500;
            color: #ffffff;
          }
        }
      }
    }
  }
  .auto-group-bruy-jXM {
    padding: 22.287rem 6.144rem 0rem 6.194rem;
    height: 163.3762rem;
    position: absolute;
    left: 0;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    width: 192rem;
    top: 165.3238rem;
    flex-direction: column;

    .auto-group-hkkd-Ruy {
      flex-shrink: 0;
      margin: 0rem 23.831rem 22.911rem 23.831rem;
      width: calc(100% - 47.6618rem);
      height: 39.1rem;

      .component-11-MHq {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-right: 0.2899rem;
        width: 100%;
        height: 100%;
        cursor: pointer;

        .auto-group-esd3-5zX {
          position: relative;
          flex-shrink: 0;
          margin-right: 8.5477rem;
          width: 64.775rem;
          height: 100%;

          .rectangle-139-qD1 {
            width: 64.4751rem;
            height: 38.4607rem;
            position: absolute;
            left: 0.0588rem;
            top: 0.2811rem;
            background-color: #e53232;
          }
          .mask-group-Zeo {
            object-fit: contain;
            vertical-align: top;
            width: 64.775rem;
            height: 39.1rem;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .auto-group-fbvw-twy {
          flex-shrink: 0;
          margin: 6.39rem 0rem 5.242rem 0rem;
          height: calc(100% - 11.6312rem);
          display: flex;
          flex-direction: column;

          .we-make-iot-RS7 {
            line-height: 1.0559999466;
            color: #000000;
            font-family: Sora, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.4818rem;
            font-size: 4rem;
            font-weight: 600;
          }
          .ux-and-ui-kjH {
            color: #000000;
            font-family: Sora, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.582rem 0.021rem;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.0559999943;
          }
          .wemakeiot-is-a-software-associate-web-service-division-started-in-the-year-1999-me-and-my-assosiate-sam-were-handed-the-task-of-redesigned-the-website-to-make-it-a-little-more-modern-and-new-age-HDR {
            color: #000000;
            font-family: Manrope, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 5.7284rem;
            max-width: 57.8rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3360000186;
          }
          .component-10-8E3 {
            height: 5.3766rem;
            cursor: pointer;
            position: relative;
            flex-shrink: 0;
            margin-left: 43.8773rem;
            width: 14.5102rem;

            .rectangle-123-4dV {
              width: 14.4941rem;
              height: 5.3484rem;
              position: absolute;
              left: 0;
              top: 0.0282rem;
              background-color: #e53232;
              border-radius: 2.6742rem;
            }
            .view-Pvf {
              height: 2.6rem;
              left: 4.4131rem;
              top: 1.4242rem;
              color: #ffffff;
              white-space: nowrap;
              width: 5.7rem;
              position: absolute;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.0559999943;
              font-family: Sora, 'Source Sans Pro';
            }
          }
        }
      }
    }
    .component-13-sL3 {
      padding-right: 0.1774rem;
      height: 39.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 23.831rem 26.624rem 23.831rem;
      box-sizing: border-box;
      width: calc(100% - 47.6618rem);
      cursor: pointer;

      .auto-group-k8gu-92f {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 8.5477rem;
        width: 64.775rem;

        .rectangle-139-5BD {
          background-color: #e53232;
          width: 64.4751rem;
          height: 38.4607rem;
          position: absolute;
          left: 0.0588rem;
          top: 0.2811rem;
        }
        .mask-group-Phh {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 64.775rem;
          height: 39.1rem;
        }
      }
      .auto-group-ourz-LN3 {
        flex-direction: column;
        flex-shrink: 0;
        margin: 6.39rem 0rem 5.242rem 0rem;
        height: calc(100% - 11.6312rem);
        display: flex;

        .play-GFh {
          margin-bottom: 1.4818rem;
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.0559999466;
          color: #000000;
          font-family: Sora, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .ux-and-ui-oWX {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.582rem 0.021rem;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.0559999943;
          color: #000000;
          font-family: Sora, 'Source Sans Pro';
        }
        .play-an-app-to-suggest-movie-tv-show-to-users-depending-on-the-likes-of-theirs-at-that-moment-with-family-or-friends-and-many-more-and-also-to-help-the-user-to-keep-a-track-of-movies-that-they-have-seen-XSX {
          line-height: 1.365;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 5.6284rem;
          max-width: 58.5rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .component-12-Zu1 {
          cursor: pointer;
          position: relative;
          flex-shrink: 0;
          margin-left: 43.8773rem;
          width: 14.5102rem;
          height: 5.3766rem;

          .rectangle-123-suh {
            width: 14.4941rem;
            height: 5.3484rem;
            position: absolute;
            left: 0;
            top: 0.0282rem;
            background-color: #e53232;
            border-radius: 2.6742rem;
          }
          .view-zUX {
            width: 5.7rem;
            position: absolute;
            top: 1.4242rem;
            font-size: 2.4rem;
            line-height: 1.0559999943;
            font-family: Sora, 'Source Sans Pro';
            height: 2.6rem;
            left: 4.4131rem;
            font-weight: 500;
            color: #ffffff;
            white-space: nowrap;
          }
        }
      }
    }
    .ellipse-18-HTd {
      width: 179.6618rem;
      height: 143.9388rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .rectangle-84-qEF {
    width: 192rem;
    height: 10.7884rem;
    position: absolute;
    left: 0;
    top: 0.0042rem;
    background-color: #f5f5f5;
  }
  .rectangle-2-mNo {
    width: 6.475rem;
    height: 0.3797rem;
    position: absolute;
    left: 130.525rem;
    top: 7.072rem;
    background-color: #e53232;
  }
  .contact-6fy {
    font-size: 1.6rem;
    line-height: 1.365;
    white-space: nowrap;
    width: 6.4rem;
    height: 2.2rem;
    top: 4.3535rem;
    color: #000000;
    font-family: Manrope, 'Source Sans Pro';
    position: absolute;
    left: 155.6002rem;
    font-weight: 600;
  }
  .graphic-bsd {
    color: #000000;
    height: 2.2rem;
    font-size: 1.6rem;
    position: absolute;
    left: 143.3001rem;
    top: 4.3535rem;
    font-weight: 600;
    line-height: 1.365;
    font-family: Manrope, 'Source Sans Pro';
    width: 6rem;
    cursor: pointer;
    white-space: nowrap;
  }
  .projects-Wjh {
    color: #000000;
    font-family: Manrope, 'Source Sans Pro';
    height: 2.2rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.365;
    width: 6.5rem;
    left: 130.5rem;
    top: 4.3535rem;
    white-space: nowrap;
  }
  .about-mQj {
    font-weight: 600;
    color: #000000;
    width: 4.7rem;
    height: 2.2rem;
    cursor: pointer;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    left: 119.4999rem;
    top: 4.3535rem;
    font-size: 1.6rem;
    line-height: 1.365;
    font-family: Manrope, 'Source Sans Pro';
  }
  .home-gGo {
    white-space: nowrap;
    height: 2.2rem;
    cursor: pointer;
    position: absolute;
    left: 107.5158rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.365;
    width: 4.5rem;
    top: 4.3535rem;
    text-align: center;
    color: #000000;
    font-family: Manrope, 'Source Sans Pro';
  }
  .subtract-ASs {
    width: 2.6284rem;
    height: 3.8819rem;
    position: absolute;
    left: 30rem;
    top: 3.4575rem;
    object-fit: contain;
    vertical-align: top;
  }
}
