
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 30.906rem;
}.image-78-6jy {
  width: 30.9065rem;
  height: 42.3493rem;
  position: relative;
  background-size: 348.699% 143.145%;
  background-position: -16.519rem -10.9734rem;
  background-image: url('REPLACE_IMAGE:c67ad12a301819958040d8fe578e604d4815450b');
}
