
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 38.3rem;
}.innovative-and-passionate-to-create-meaningful-design-to-user-problems-pK1 {
  height: 4.7rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.056000016;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  width: 100%;
}
