
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-5-TEo {
  height: 377.3rem;
  position: relative;
  overflow: hidden;
  background-color: #e1e1e1;
  width: 100%;

  .auto-group-trww-Ncf {
    top: 0;
    width: 189.3835rem;
    height: 141.4977rem;
    position: absolute;
    left: 30rem;

    .holding-hand-smart-phone-mockup-1-6Yf {
      object-fit: cover;
      vertical-align: top;
      width: 133.8008rem;
      height: 127.434rem;
      position: absolute;
      left: 55.5826rem;
      top: 0;
    }
    .explore-the-various-and-selected-project-that-were-done-during-the-past-2-years-of-my-professional-career-ranging-from-website-redesign-of-a-established-iot-service-company-to-exploring-different-ideas-in-my-freetime-the-following-projects-helped-me-a-lot-to-learn-and-explore-different-techniques-and-tools-in-design-helping-me-grow-in-the-process-c1D {
      line-height: 1.3409999501;
      width: 82.9rem;
      height: 14.8rem;
      position: absolute;
      left: 0.047rem;
      top: 39.8334rem;
      font-weight: 400;
      font-size: 2.2rem;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
    }
    .component-2-ZqZ {
      height: 33.4059rem;
      position: absolute;
      left: 0;
      top: 85.5rem;
      width: 112.8rem;

      .rectangle-125-qYB {
        left: 0.0502rem;
        top: 0.2401rem;
        background-color: #fece00;
        width: 55.0969rem;
        height: 32.8597rem;
        position: absolute;
      }
      .group-901-N2K {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        width: 112.8rem;
        height: 33.4059rem;
        cursor: pointer;

        .mask-group-h4b {
          height: 33.4059rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 7.3043rem;
          width: 55.3532rem;
        }
        .auto-group-qrnm-y27 {
          margin: 4.284rem 0rem 2.822rem 0rem;
          width: 50.1425rem;
          height: calc(100% - 7.1069rem);
          flex-shrink: 0;

          .auto-group-zytp-stB {
            margin: 0rem 37.762rem 0.593rem 0rem;
            padding-top: 0.2174rem;
            line-height: 1.0559999466;
            color: #000000;
            box-sizing: border-box;
            font-size: 4rem;
            font-weight: 800;
            font-family: Monument Extended, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-vvtr-a1u {
            margin: 0rem 0rem 2.308rem 0.018rem;
            width: calc(100% - 0.0176rem);
            display: flex;
            align-items: center;

            .ux-and-ui-hcK {
              font-weight: 400;
              line-height: 1.0559999943;
              color: #000000;
              font-family: Manrope, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.2rem 34.625rem 0rem 0rem;
              font-size: 1.2rem;
            }
            .mobile-application-C3H {
              font-family: Manrope, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.0559999943;
              white-space: nowrap;
              margin-bottom: 0.2rem;
              text-align: right;
              color: #000000;
            }
          }
          .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-Jc7 {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.365;
            color: #000000;
            font-family: Manrope, 'Source Sans Pro';
            margin-bottom: 5.0807rem;
            max-width: 50.1rem;
          }
          .component-1-9sd {
            position: relative;
            margin-left: 37.509rem;
            width: 12.6335rem;
            height: 4.8997rem;
            cursor: pointer;

            .rectangle-124-VRh {
              top: 0;
              background-color: #000000;
              width: 12.3858rem;
              height: 4.5695rem;
              position: absolute;
              left: 0.2477rem;
            }
            .rectangle-123-2gX {
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #e1e1e1;
              width: 12.3858rem;
              height: 4.5695rem;
              position: absolute;
              left: 0;
              top: 0.3302rem;
            }
            .view-xaB {
              white-space: nowrap;
              width: 5.2rem;
              font-size: 2.4rem;
              color: #000000;
              top: 1.365rem;
              font-weight: 800;
              line-height: 1.0559999943;
              font-family: Monument Extended, 'Source Sans Pro';
              height: 2.6rem;
              position: absolute;
              left: 2.293rem;
            }
          }
        }
      }
    }
    .rectangle-123-TWw {
      width: 24.2571rem;
      height: 4.5762rem;
      position: absolute;
      left: 0;
      top: 33.0256rem;
      background-color: #fece00;
    }
    .projects-oKu {
      height: 12.1rem;
      font-size: 9.6rem;
      font-weight: 800;
      white-space: nowrap;
      line-height: 1.2575;
      color: #d9d9d9;
      font-family: Monument Extended, 'Source Sans Pro';
      width: 47.6rem;
      position: absolute;
      left: 1.8614rem;
      top: 25.8018rem;
    }
    .projects-Wk7 {
      left: 1.4614rem;
      font-size: 9.6rem;
      color: #d9d9d9;
      font-family: Monument Extended, 'Source Sans Pro';
      width: 47.6rem;
      height: 12.1rem;
      position: absolute;
      top: 26.1018rem;
      font-weight: 800;
      line-height: 1.2575;
      white-space: nowrap;
    }
    .projects-ERD {
      left: 1.1468rem;
      line-height: 1.2575;
      color: #000000;
      font-family: Monument Extended, 'Source Sans Pro';
      width: 47.6rem;
      height: 12.1rem;
      font-size: 9.6rem;
      font-weight: 800;
      white-space: nowrap;
      position: absolute;
      top: 26.2723rem;
    }
    .featuring-jsm {
      white-space: nowrap;
      height: 4.6rem;
      position: absolute;
      font-weight: 800;
      line-height: 1.2575;
      color: #000000;
      font-family: Monument Extended, 'Source Sans Pro';
      width: 19.2rem;
      left: 0.3854rem;
      top: 75.414rem;
      font-size: 3.6rem;
    }
    .featuring-rSb {
      position: absolute;
      font-size: 3.6rem;
      font-weight: 800;
      white-space: nowrap;
      display: flex;
      width: 18.4rem;
      left: 0.2rem;
      top: 75.1328rem;
      line-height: 1.2575;
      color: #d9d9d9;
      font-family: Monument Extended, 'Source Sans Pro';
      align-items: baseline;
      height: 4.6rem;

      .featuring-rSb-sub-0 {
      }
      .featuring-rSb-sub-1 {
        line-height: 1.2575;
        color: #fece00;
        font-family: Monument Extended, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 800;
      }
    }
  }
  .group-902-kgP {
    align-items: center;
    width: 112.753rem;
    height: 33.4059rem;
    cursor: pointer;
    position: absolute;
    left: 30rem;
    top: 134.9979rem;
    display: flex;

    .auto-group-qz33-rjR {
      margin-right: 7.2105rem;
      width: 55.4rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-126-bh1 {
        height: 32.7432rem;
        position: absolute;
        left: 0.1356rem;
        top: 0.6626rem;
        background-color: #fece00;
        width: 54.9878rem;
      }
      .mask-group-8gw {
        height: 33.4059rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 55.4rem;
      }
    }
    .auto-group-mvxh-Go9 {
      flex-direction: column;
      flex-shrink: 0;
      margin: 4.502rem 0rem 2.822rem 0rem;
      width: 50.1425rem;
      height: calc(100% - 7.3243rem);
      align-items: flex-end;
      display: flex;

      .we-make-iot-BfD {
        color: #000000;
        font-family: Monument Extended, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 26.225rem 0.593rem 0rem;
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.0559999466;
      }
      .auto-group-le4v-Jjq {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0rem 2.308rem 0.018rem;
        width: calc(100% - 0.0176rem);
        display: flex;

        .user-interface-e31 {
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.2rem 37.625rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.0559999943;
        }
        .website-Zfm {
          font-weight: 400;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.2rem;
          text-align: right;
          font-size: 1.2rem;
          line-height: 1.0559999943;
          flex-shrink: 0;
        }
      }
      .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-Hrf {
        margin: 0rem 0.542rem 2.781rem 0rem;
        max-width: 49.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3360000186;
        color: #000000;
        font-family: Manrope, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .component-1-8MV {
        margin-right: 0rem;
        width: 12.6335rem;
        height: 4.8997rem;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;

        .rectangle-124-4W3 {
          width: 12.3858rem;
          height: 4.5695rem;
          position: absolute;
          left: 0.2477rem;
          top: 0;
          background-color: #000000;
        }
        .rectangle-123-CcF {
          height: 4.5695rem;
          position: absolute;
          left: 0;
          top: 0.3302rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #e1e1e1;
          width: 12.3858rem;
        }
        .view-Kwm {
          left: 2.293rem;
          top: 1.365rem;
          line-height: 1.0559999943;
          color: #000000;
          white-space: nowrap;
          height: 2.6rem;
          position: absolute;
          font-weight: 800;
          font-family: Monument Extended, 'Source Sans Pro';
          width: 5.2rem;
          font-size: 2.4rem;
        }
      }
    }
  }
  .component-3-Rju {
    left: 30.1356rem;
    top: 184.4959rem;
    width: 112.8rem;
    height: 33.6966rem;
    cursor: pointer;
    position: absolute;

    .rectangle-128-MtT {
      width: 54.9878rem;
      height: 32.7432rem;
      position: absolute;
      left: 0.1618rem;
      top: 0.3631rem;
      background-color: #fece00;
    }
    .group-903-Vjm {
      height: 33.6966rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 112.8rem;

      .mask-group-qod {
        margin-right: 7.2105rem;
        width: 55.447rem;
        height: 33.6966rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-gmyr-yuq {
        flex-shrink: 0;
        margin: 4.647rem 0rem 2.968rem 0rem;
        width: 50.1425rem;
        height: calc(100% - 7.6151rem);

        .play-i6j {
          margin: 0rem 0rem 0.593rem 0.018rem;
          font-size: 4rem;
          font-weight: 800;
          line-height: 1.0559999466;
          color: #000000;
          font-family: Monument Extended, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-aicm-dzP {
          margin: 0rem 0rem 2.308rem 0.018rem;
          width: calc(100% - 0.0176rem);
          display: flex;
          align-items: center;

          .user-interface-NBH {
            line-height: 1.0559999943;
            color: #000000;
            font-family: Manrope, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.2rem 32.025rem 0rem 0rem;
            font-size: 1.2rem;
            font-weight: 400;
          }
          .mobile-application-67H {
            margin-bottom: 0.2rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 1.2rem;
            line-height: 1.0559999943;
            font-family: Manrope, 'Source Sans Pro';
          }
        }
        .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-QNs {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.365;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
          margin-bottom: 2.5807rem;
          max-width: 48.4rem;
        }
        .component-1-rEs {
          position: relative;
          margin-left: 37.509rem;
          width: 12.6335rem;
          height: 4.8997rem;
          cursor: pointer;

          .rectangle-124-BY3 {
            top: 0;
            background-color: #000000;
            width: 12.3858rem;
            height: 4.5695rem;
            position: absolute;
            left: 0.2477rem;
          }
          .rectangle-123-7gb {
            position: absolute;
            left: 0;
            top: 0.3302rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #e1e1e1;
            width: 12.3858rem;
            height: 4.5695rem;
          }
          .view-Qfh {
            font-size: 2.4rem;
            font-weight: 800;
            color: #000000;
            font-family: Monument Extended, 'Source Sans Pro';
            width: 5.2rem;
            height: 2.6rem;
            top: 1.365rem;
            white-space: nowrap;
            position: absolute;
            left: 2.293rem;
            line-height: 1.0559999943;
          }
        }
      }
    }
  }
  .component-4-xKq {
    width: 112.6382rem;
    height: 33.6966rem;
    cursor: pointer;
    position: absolute;
    left: 30rem;
    top: 234.2846rem;

    .rectangle-129-3MH {
      height: 32.7432rem;
      position: absolute;
      left: 0.4122rem;
      top: 0.4767rem;
      background-color: #fece00;
      width: 54.9878rem;
    }
    .rectangle-128-xDM {
      top: 0.3631rem;
      background-color: #fece00;
      width: 54.9878rem;
      height: 32.7432rem;
      position: absolute;
      left: 0;
    }
    .group-903-tsh {
      width: 112.6382rem;
      height: 33.6966rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;

      .mask-group-Egf {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 7.0957rem;
        width: 55.4rem;
        height: 33.6966rem;
      }
      .auto-group-c3em-mgb {
        flex-shrink: 0;
        margin: 4.647rem 0rem 2.968rem 0rem;
        width: 50.1425rem;
        height: calc(100% - 7.6151rem);

        .logo-6Ty {
          line-height: 1.0559999466;
          color: #000000;
          font-family: Monument Extended, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.593rem 0.018rem;
          font-size: 4rem;
          font-weight: 800;
        }
        .auto-group-gpid-pes {
          margin: 0rem 0rem 2.308rem 0.018rem;
          padding-top: 0.2rem;
          width: calc(100% - 0.0176rem);
          font-size: 1.2rem;
          line-height: 1.0559999943;
          white-space: nowrap;
          box-sizing: border-box;
          font-weight: 400;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
        }
        .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-WXh {
          max-width: 48.1rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.4060000314;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
          margin-bottom: 2.2807rem;
        }
        .component-1-ZF5 {
          margin-left: 37.509rem;
          width: 12.6335rem;
          height: 4.8997rem;
          cursor: pointer;
          position: relative;

          .rectangle-124-to9 {
            top: 0;
            background-color: #000000;
            width: 12.3858rem;
            height: 4.5695rem;
            position: absolute;
            left: 0.2477rem;
          }
          .rectangle-123-S3y {
            background-color: #e1e1e1;
            width: 12.3858rem;
            height: 4.5695rem;
            position: absolute;
            left: 0;
            top: 0.3302rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
          .view-ZPV {
            font-size: 2.4rem;
            line-height: 1.0559999943;
            color: #000000;
            width: 5.2rem;
            height: 2.6rem;
            position: absolute;
            left: 2.293rem;
            top: 1.365rem;
            font-weight: 800;
            font-family: Monument Extended, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
  .component-5-rtP {
    left: 30rem;
    top: 284.0733rem;
    width: 112.6382rem;
    height: 33.6966rem;
    cursor: pointer;
    position: absolute;

    .rectangle-134-CBZ {
      width: 54.9878rem;
      height: 32.7432rem;
      position: absolute;
      left: 0;
      top: 0.5767rem;
      background-color: #fece00;
    }
    .rectangle-130-Xjd {
      left: 0.4122rem;
      top: 0.4767rem;
      background-color: #fece00;
      width: 54.9878rem;
      height: 32.7432rem;
      position: absolute;
    }
    .rectangle-131-faw {
      top: 0.3631rem;
      background-color: #fece00;
      width: 54.9878rem;
      height: 32.7432rem;
      position: absolute;
      left: 0;
    }
    .group-904-1eo {
      height: 33.6966rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 112.6382rem;

      .mask-group-Mif {
        height: 33.6966rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 7.0957rem;
        width: 55.4rem;
      }
      .auto-group-g8pd-tyV {
        height: calc(100% - 7.6151rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 4.647rem 0rem 2.968rem 0rem;

        .other-works-RCj {
          flex-shrink: 0;
          margin: 0rem 0rem 0.793rem 0.018rem;
          font-size: 4rem;
          font-weight: 800;
          line-height: 1.0559999466;
          color: #000000;
          font-family: Monument Extended, 'Source Sans Pro';
          white-space: nowrap;
        }
        .graphic-design-98j {
          margin: 0rem 0rem 2.308rem 0.018rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.0559999943;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-diam-nonummy-nibh-euismod-tincidunt-ut-laoreet-dolore-magna-aliquam-erat-volutpat-ut-wisi-enim-ad-minim-veniam-quis-nostrud-exerci-tation-ullamc-s4j {
          flex-shrink: 0;
          margin-bottom: 2.5807rem;
          max-width: 49.5rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.365;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
        }
        .component-1-v31 {
          height: 4.8997rem;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;
          margin-left: 37.509rem;
          width: 12.6335rem;

          .rectangle-124-49D {
            background-color: #000000;
            width: 12.3858rem;
            height: 4.5695rem;
            position: absolute;
            left: 0.2477rem;
            top: 0;
          }
          .rectangle-123-BzX {
            background-color: #e1e1e1;
            width: 12.3858rem;
            height: 4.5695rem;
            position: absolute;
            left: 0;
            top: 0.3302rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
          .view-ijZ {
            font-size: 2.4rem;
            line-height: 1.0559999943;
            color: #000000;
            white-space: nowrap;
            width: 5.2rem;
            height: 2.6rem;
            position: absolute;
            font-family: Monument Extended, 'Source Sans Pro';
            left: 2.293rem;
            top: 1.365rem;
            font-weight: 800;
          }
        }
      }
    }
  }
  .auto-group-clgm-DwD {
    width: 142.8rem;
    height: 24.0763rem;
    position: absolute;
    left: 30rem;
    top: 340.8691rem;

    .rectangle-109-YyV {
      width: 114.1rem;
      height: 24.0763rem;
      position: absolute;
      left: 28.7rem;
      top: 0;
      background-color: #fece00;
    }
    .contact-6VD {
      line-height: 1.2575;
      color: #e1e1e1;
      font-family: Monument Extended, 'Source Sans Pro';
      width: 36.6rem;
      top: 6.7896rem;
      font-size: 9.6rem;
      font-weight: 800;
      height: 12.1rem;
      position: absolute;
      left: 0.5095rem;
      white-space: nowrap;
    }
    .contact-cCf {
      color: #e1e1e1;
      font-family: Monument Extended, 'Source Sans Pro';
      width: 36.6rem;
      font-size: 9.6rem;
      font-weight: 800;
      line-height: 1.2575;
      white-space: nowrap;
      height: 12.1rem;
      position: absolute;
      left: 0.2281rem;
      top: 7.0896rem;
    }
    .contact-vDM {
      color: #000000;
      font-family: Monument Extended, 'Source Sans Pro';
      left: 0;
      top: 7.3067rem;
      position: absolute;
      font-size: 9.6rem;
      font-weight: 800;
      line-height: 1.2575;
      white-space: nowrap;
      width: 36.6rem;
      height: 12.1rem;
    }
    .devunathkannangmailcom-ddZ {
      color: #000000;
      font-family: Monument Extended, 'Source Sans Pro';
      width: 32rem;
      height: 3.1rem;
      left: 66.0001rem;
      font-size: 2.4rem;
      white-space: nowrap;
      position: absolute;
      top: 18.5896rem;
      font-weight: 800;
      line-height: 1.2575;
    }
  }
  .rectangle-84-Xiw {
    width: 172.8rem;
    height: 10.7884rem;
    position: absolute;
    left: 0;
    top: 0.0042rem;
    background-color: rgba(245, 245, 245, 0.8000000119);
  }
  .rectangle-2-GAj {
    width: 6.2724rem;
    height: 0.3797rem;
    position: absolute;
    left: 125.4979rem;
    top: 7.0719rem;
    background-color: #fece00;
  }
  .resume-zsR {
    left: 136.6rem;
    top: 4.3535rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.365;
    color: #000000;
    font-family: Manrope, 'Source Sans Pro';
    width: 6.2rem;
    height: 2.2rem;
    position: absolute;
    white-space: nowrap;
  }
  .projects-uDh {
    color: #000000;
    font-family: Manrope, 'Source Sans Pro';
    width: 6.5rem;
    left: 125.35rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.365;
    white-space: nowrap;
    height: 2.2rem;
    position: absolute;
    top: 4.3535rem;
  }
  .about-cdu {
    font-family: Manrope, 'Source Sans Pro';
    width: 4.7rem;
    cursor: pointer;
    left: 116rem;
    top: 4.3535rem;
    text-align: center;
    font-weight: 600;
    line-height: 1.365;
    height: 2.2rem;
    position: absolute;
    font-size: 1.6rem;
    color: #000000;
    white-space: nowrap;
  }
  .subtract-WzB {
    left: 30rem;
    top: 3.4575rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.6284rem;
    height: 3.8819rem;
    position: absolute;
  }
}
