
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-3-M9y {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-smwt-tfh {
    flex-shrink: 0;
    width: 100%;
    height: 209.8542rem;
    position: relative;

    .item--p3Z {
      top: 58.268rem;
      font-size: 25rem;
      font-weight: 400;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      height: 26.4rem;
      left: 99.4916rem;
      line-height: 1.056;
      color: #fece00;
      width: 9.4rem;
    }
    .image-78-tp7 {
      background-position: -16.519rem -10.9734rem;
      background-image: url('REPLACE_IMAGE:c67ad12a301819958040d8fe578e604d4815450b');
      width: 30.9065rem;
      height: 42.3493rem;
      position: relative;
      left: 68.0483rem;
      top: 23.1081rem;
      background-size: 348.699% 143.145%;
    }
    .devunath-kannan-agw {
      height: 6.4rem;
      top: 41.2855rem;
      color: #000000;
      width: 16.6rem;
      position: absolute;
      left: 50.4457rem;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.0560000102;
      font-family: Manrope, 'Source Sans Pro';
    }
    .visual-designer-5dh {
      left: 50.4457rem;
      font-size: 2rem;
      color: #000000;
      height: 2.2rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.0559999466;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      width: 14.2rem;
      top: 47.6855rem;
    }
    .innovative-and-passionate-to-create-meaningful-design-to-user-problems-nY7 {
      width: 39rem;
      top: 66.5207rem;
      font-size: 2.2rem;
      font-weight: 700;
      color: #000000;
      height: 4.7rem;
      position: absolute;
      left: 68.0483rem;
      line-height: 1.056000016;
      font-family: Manrope, 'Source Sans Pro';
    }
    .my-past-Ufq {
      position: absolute;
      top: 99.4276rem;
      font-weight: 800;
      line-height: 1.365;
      display: flex;
      width: 13.1rem;
      height: 4.4rem;
      left: 87.4314rem;
      font-size: 3.2rem;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;

      .my-past-Ufq-sub-0 {
      }
      .my-past-Ufq-sub-1 {
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.365;
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
      }
    }
    .group-880-Nej {
      height: 79.8215rem;
      position: absolute;
      left: 0;
      top: 90.3077rem;
      width: 80.7375rem;

      .once-iTh {
        width: 68.5rem;
        height: 33.2rem;
        position: absolute;
        top: 0;
        text-align: center;
        font-weight: 800;
        font-family: Manrope, 'Source Sans Pro';
        left: 0;
        font-size: 24.2636rem;
        line-height: 1.365;
        white-space: nowrap;
      }
      .upon-eMM {
        width: 69.5rem;
        position: absolute;
        left: 0;
        top: 23.4888rem;
        text-align: center;
        font-size: 24.2636rem;
        white-space: nowrap;
        height: 33.2rem;
        font-weight: 800;
        line-height: 1.365;
        font-family: Manrope, 'Source Sans Pro';
      }
      .a-time-xsq {
        height: 33.2rem;
        font-weight: 800;
        line-height: 1.365;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 24.2636rem;
        white-space: nowrap;
        width: 78.6rem;
        position: absolute;
        left: 0;
        top: 46.6215rem;
        text-align: center;
      }
    }
    .bachelors-of-design-vit-vellore-HQK {
      position: absolute;
      font-weight: 400;
      line-height: 1.365;
      font-family: Manrope, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      height: 2.5rem;
      left: 87.4628rem;
      top: 111.0755rem;
      font-size: 1.8rem;
      color: #000000;
      white-space: nowrap;
      width: 27.1rem;

      .bachelors-of-design-vit-vellore-HQK-sub-0 {
        font-family: Manrope, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.365;
        color: #000000;
      }
      .bachelors-of-design-vit-vellore-HQK-sub-1 {
      }
    }
    .graphic-design-intern-house-of-babas-rLw {
      width: 18.9rem;
      left: 87.4628rem;
      top: 120.8234rem;
      font-size: 1.8rem;
      color: #000000;
      height: 4.4rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.3660000695;
      font-family: Manrope, 'Source Sans Pro';

      .graphic-design-intern-house-of-babas-rLw-sub-0 {
        font-family: Manrope, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.365;
        color: #000000;
      }
      .graphic-design-intern-house-of-babas-rLw-sub-1 {
        color: #000000;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.365;
      }
    }
    .graphic-design-head-doubtconnect-yps {
      top: 132.3713rem;
      font-size: 1.8rem;
      line-height: 1.3660000695;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      left: 87.4628rem;
      height: 4.4rem;
      position: absolute;
      font-weight: 400;
      width: 18.2rem;

      .graphic-design-head-doubtconnect-yps-sub-0 {
        font-family: Manrope, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.365;
        color: #000000;
      }
      .graphic-design-head-doubtconnect-yps-sub-1 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.365;
        color: #000000;
        font-family: Manrope, 'Source Sans Pro';
      }
    }
    .ui-ux-intern-unikwaan-w9R {
      top: 143.9192rem;
      font-size: 1.8rem;
      font-weight: 400;
      color: #000000;
      width: 10.8rem;
      left: 87.4628rem;
      line-height: 1.3660000695;
      font-family: Manrope, 'Source Sans Pro';
      height: 4.4rem;
      position: absolute;

      .ui-ux-intern-unikwaan-w9R-sub-0 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.365;
        color: #000000;
        font-family: Manrope, 'Source Sans Pro';
      }
      .ui-ux-intern-unikwaan-w9R-sub-1 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.365;
        color: #000000;
        font-family: Manrope, 'Source Sans Pro';
      }
    }
    .visual-designer-cognizant-tis {
      left: 87.4628rem;
      top: 155.4671rem;
      line-height: 1.3660000695;
      height: 4.4rem;
      position: absolute;
      font-weight: 400;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      width: 13.5rem;
      font-size: 1.8rem;

      .visual-designer-cognizant-tis-sub-0 {
        font-weight: 700;
        line-height: 1.365;
        color: #000000;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 1.8rem;
      }
      .visual-designer-cognizant-tis-sub-1 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.365;
        color: #000000;
        font-family: Manrope, 'Source Sans Pro';
      }
    }
    .item-2018-2022-erT {
      white-space: nowrap;
      width: 10.1rem;
      position: absolute;
      text-align: right;
      font-family: Manrope, 'Source Sans Pro';
      font-weight: 700;
      line-height: 1.365;
      color: #000000;
      height: 2.5rem;
      left: 146.8338rem;
      top: 111.0755rem;
      font-size: 1.8rem;
    }
    .dec-2019-apr-2020-x6T {
      width: 17.3rem;
      left: 139.6338rem;
      font-size: 1.8rem;
      text-align: right;
      font-weight: 700;
      line-height: 1.365;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      height: 2.5rem;
      position: absolute;
      top: 120.8234rem;
      white-space: nowrap;
    }
    .oct-2020-jan-2022-4QP {
      position: absolute;
      top: 132.3713rem;
      font-size: 1.8rem;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.4rem;
      height: 2.5rem;
      font-weight: 700;
      line-height: 1.365;
      color: #000000;
      left: 139.5338rem;
      text-align: right;
    }
    .jan-2022-apr-2022-NAB {
      text-align: right;
      font-size: 1.8rem;
      font-weight: 700;
      width: 17.1rem;
      height: 2.5rem;
      position: absolute;
      left: 139.8338rem;
      top: 143.9192rem;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.365;
      color: #000000;
    }
    .jun-2022-present-fQB {
      top: 155.4671rem;
      text-align: right;
      font-size: 1.8rem;
      font-family: Manrope, 'Source Sans Pro';
      font-weight: 700;
      line-height: 1.365;
      color: #000000;
      white-space: nowrap;
      width: 16.3rem;
      height: 2.5rem;
      position: absolute;
      left: 140.6338rem;
    }
    .group-my1 {
      top: 23.4354rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.4;
      width: 71.7906rem;
      height: 102.467rem;
      position: absolute;
      left: 152.5515rem;
    }
    .group-W9u {
      vertical-align: top;
      opacity: 0.4;
      width: 88.0479rem;
      height: 104.5815rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
    }
    .rectangle-84-SpF {
      width: 172.8rem;
      height: 10.7884rem;
      position: absolute;
      left: 0;
      top: 0.0594rem;
      background-color: rgba(245, 245, 245, 0.6999999881);
    }
    .ellipse-1-yZH {
      position: absolute;
      left: 6.5603rem;
      top: 2.0234rem;
      object-fit: contain;
      vertical-align: top;
      width: 6.8603rem;
      height: 6.8603rem;
    }
    .rectangle-2-gyV {
      top: 7.0719rem;
      background-color: #fece00;
      width: 4.4828rem;
      height: 0.3797rem;
      position: absolute;
      left: 131.8657rem;
    }
    .about-1ks {
      top: 4.3535rem;
      font-weight: 600;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      height: 2.2rem;
      position: absolute;
      font-size: 1.6rem;
      line-height: 1.365;
      white-space: nowrap;
      width: 4.7rem;
      left: 156.9rem;
    }
    .projects-KmZ {
      font-weight: 600;
      line-height: 1.365;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      top: 4.3535rem;
      height: 2.2rem;
      position: absolute;
      left: 144.1828rem;
      font-size: 1.6rem;
      color: #000000;
      width: 6.5rem;
    }
    .home-EtX {
      width: 4.5rem;
      height: 2.2rem;
      left: 131.8657rem;
      top: 4.3535rem;
      text-align: center;
      line-height: 1.365;
      white-space: nowrap;
      position: absolute;
      font-size: 1.6rem;
      font-weight: 600;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
    }
    .hello-xJj {
      line-height: 1.3660000801;
      color: #000000;
      align-items: baseline;
      position: absolute;
      font-weight: 800;
      left: 50.2715rem;
      top: 33.2855rem;
      font-size: 8rem;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      width: 20.6rem;
      height: 10.1rem;

      .hello-xJj-sub-0 {
        color: #000000;
        font-family: Monument Extended, 'Source Sans Pro';
        font-size: 8rem;
        font-weight: 800;
        line-height: 1.2575;
      }
      .hello-xJj-sub-1 {
        font-weight: 800;
        line-height: 1.2575;
        color: #fece00;
        font-family: Monument Extended, 'Source Sans Pro';
        font-size: 8rem;
      }
    }
  }
  .auto-group-dows-GCw {
    padding-top: 23.4036rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .group-890-CsH {
      margin: 0rem 37.194rem 7.228rem 34.233rem;
      width: calc(100% - 71.4265rem);
      height: 59.3rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-hiz3-X8s {
        margin-right: 2.3735rem;
        width: 84.2rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .reume-fVy {
          left: 0;
          top: 25.8rem;
          text-align: center;
          font-size: 24.4935rem;
          white-space: nowrap;
          width: 84.2rem;
          position: absolute;
          font-weight: 800;
          line-height: 1.365;
          font-family: Manrope, 'Source Sans Pro';
          height: 33.5rem;
        }
        .devunathkannangmailcom-ymZ {
          font-family: Manrope, 'Source Sans Pro';
          align-items: baseline;
          height: 4.4rem;
          position: absolute;
          left: 1.5985rem;
          top: 22.4rem;
          font-size: 3.2rem;
          display: flex;
          width: 47rem;
          font-weight: 800;
          line-height: 1.365;
          color: #000000;
          white-space: nowrap;

          .devunathkannangmailcom-ymZ-sub-0 {
          }
          .devunathkannangmailcom-ymZ-sub-1 {
            font-weight: 800;
            line-height: 1.365;
            color: #fece00;
            font-family: Manrope, 'Source Sans Pro';
            font-size: 3.2rem;
          }
        }
        .mail-Yy5 {
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          width: 57.8rem;
          left: 25.9275rem;
          text-align: center;
          font-size: 24.2636rem;
          font-weight: 800;
          line-height: 1.365;
          height: 33.2rem;
          position: absolute;
          top: 0;
        }
      }
      .click-here-fH1 {
        font-size: 3.2rem;
        text-decoration-line: underline;
        display: flex;
        align-items: baseline;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 6.7rem;
        font-weight: 800;
        line-height: 1.3660000563;
        color: #000000;

        .click-here-fH1-sub-0 {
          font-size: 3.2rem;
          font-weight: 800;
          line-height: 1.365;
          text-decoration-line: underline;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
        }
        .click-here-fH1-sub-1 {
          line-height: 1.365;
          text-decoration-line: underline;
          color: #fece00;
          font-family: Manrope, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 800;
        }
      }
    }
    .group-1EP {
      height: 101.6732rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      opacity: 0.4;
      width: 183.3296rem;
    }
  }
}
