
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 17.4rem;
}.oct-2020-jan-2022-cXy {
  height: 2.5rem;
  font-size: 1.8rem;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  width: 100%;
  text-align: right;
  font-weight: 700;
  line-height: 1.365;
  white-space: nowrap;
}
