
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 0.854rem;
}.vector-1-zib {
  vertical-align: top;
  width: 100%;
  height: 25.0986rem;
  object-fit: contain;
}
