
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.air-asia-vAj {
  width: 100%;
  height: 826.9rem;
  position: relative;
  overflow: hidden;
  background-color: #080808;

  .auto-group-6ecd-Fyh {
    padding: 0rem 0rem 32.428rem 35.8rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 648.0694rem;
    left: 0;
    top: 0;
    align-items: flex-end;
    width: 172.8rem;

    .auto-group-8ifo-M19 {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-bottom: 20.3722rem;
      width: 100%;

      .auto-group-ncl5-VNF {
        flex-shrink: 0;
        margin: 0rem 7.341rem 2.96rem 0rem;
        display: flex;
        flex-direction: column;

        .auto-group-kjau-RWo {
          height: 15rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 1.6961rem;
          width: 32.4rem;

          .air-asia-y2X {
            top: 0;
            line-height: 1.3660000801;
            font-family: Manrope, 'Source Sans Pro';
            height: 11rem;
            position: absolute;
            font-size: 8rem;
            font-weight: 800;
            color: #ffffff;
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            width: 32.4rem;
            left: 0;

            .air-asia-y2X-sub-0 {
              font-size: 8rem;
              font-weight: 800;
              line-height: 1.365;
              color: #ffffff;
              font-family: Manrope, 'Source Sans Pro';
            }
            .air-asia-y2X-sub-1 {
              font-size: 8rem;
              font-weight: 800;
              line-height: 1.365;
              color: #fece00;
              font-family: Manrope, 'Source Sans Pro';
            }
          }
          .fly-home-fly-safe-pST {
            height: 4.1rem;
            left: 0;
            font-weight: 600;
            color: #ffffff;
            white-space: nowrap;
            width: 25.7rem;
            position: absolute;
            top: 10.9rem;
            font-size: 3rem;
            line-height: 1.365;
            font-family: Manrope, 'Source Sans Pro';
          }
        }
        .vector-1-Ku1 {
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 2.7809rem;
          width: 8.0478rem;
        }
        .air-aisa-is-a-malai-airline-company-operating-all-around-the-world-4bh {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 4.477rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.365;
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
        }
        .this-was-one-of-the-ealiest-branding-project-done-by-me-back-when-the-pandemic-had-just-just-hit-and-we-were-forced-into-our-homes-N6b {
          flex-shrink: 0;
          max-width: 74.3rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.365;
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
        }
      }
      .group-e47 {
        height: 79.5626rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        opacity: 0.3;
        width: 76.4151rem;
      }
    }
    .scroll-muR {
      flex-shrink: 0;
      margin: 0rem 35.479rem 1.681rem 0rem;
      max-width: 2.4rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.365;
      color: #848484;
      font-family: Manrope, 'Source Sans Pro';
    }
    .vector-4-5fD {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 35.779rem 12.152rem 0rem;
      width: 0.9173rem;
      height: 7.2851rem;
      object-fit: contain;
    }
    .group-866-oLK {
      margin-right: 35.75rem;
      width: 101.2rem;
      row-gap: 0rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-wafp-87h {
        width: 100%;
        height: 341.2131rem;
        position: relative;
        flex-shrink: 0;

        .untitled-1-09-GUo {
          width: 101.2rem;
          height: 56.925rem;
          position: absolute;
          left: 0;
          top: 113.1076rem;
          object-fit: cover;
          vertical-align: top;
        }
        .untitled-1-10-bX5 {
          width: 101.2rem;
          height: 56.925rem;
          position: absolute;
          left: 0;
          top: 224.43rem;
          object-fit: cover;
          vertical-align: top;
        }
        .untitled-1-08-XvX {
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 101.2rem;
          height: 56.9497rem;
          position: absolute;
        }
        .untitled-1-09-gHd {
          object-fit: cover;
          vertical-align: top;
          width: 101.2rem;
          height: 56.925rem;
          position: absolute;
          left: 0;
          top: 56.8497rem;
        }
        .untitled-1-10-cwy {
          width: 101.2rem;
          height: 56.925rem;
          position: absolute;
          left: 0;
          top: 169.3656rem;
          object-fit: cover;
          vertical-align: top;
        }
        .untitled-1-12-xkw {
          top: 281.3549rem;
          background-size: 105.153% 100%;
          background-position: -5.2146rem -0rem;
          background-image: url('REPLACE_IMAGE:084a4b5068bb2d6f9a030535dc61e83604cc6c07');
          width: 101.2rem;
          height: 59.8582rem;
          position: relative;
          left: 0;
        }
      }
      .minimalist-stationery-mockup-rLX {
        flex-shrink: 0;
        width: 101.2rem;
        height: 56.925rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-ljlv-aXR {
        width: 100%;
        height: 113.8747rem;
        position: relative;
        flex-shrink: 0;

        .untitled-1-08-jfD {
          top: 56.925rem;
          object-fit: cover;
          vertical-align: top;
          width: 101.2rem;
          height: 56.9497rem;
          position: absolute;
          left: 0;
        }
        .untitled-1-11-11-Gv3 {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 101.2rem;
          height: 56.925rem;
        }
      }
    }
  }
  .auto-group-ryhx-16w {
    padding: 3.877rem 0rem 0rem 10rem;
    width: 172.8rem;
    height: 96.8916rem;
    left: 0;
    top: 730.0084rem;
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-hmr7-6eB {
      width: calc(100% - 10rem);
      height: 36.5383rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 10rem 10.15rem 0rem;

      .auto-group-tuqk-1m9 {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 2rem;
        height: 100%;
        display: flex;

        .group-874-ZGs {
          margin: 0rem 2rem 0rem 0rem;
          height: calc(100% - 0rem);
          cursor: pointer;
          position: relative;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:20:831');
          flex-shrink: 0;
          width: 49.6rem;

          .rectangle-82-VAX {
            border-radius: 0 0 1.8rem 1.8rem;
            width: 49.6rem;
            height: 11.556rem;
            position: absolute;
            left: 0;
            top: 24.9823rem;
            background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
          }
          .movin-nfR {
            line-height: 1.365;
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
            white-space: nowrap;
            left: 3.3916rem;
            font-size: 2.4rem;
            font-weight: 600;
            top: 29.8698rem;
            width: 7.6rem;
            height: 3.3rem;
            position: absolute;
          }
        }
        .group-873-Fou {
          height: calc(100% - 0rem);
          position: relative;
          background-size: cover;
          background-position: center;
          flex-shrink: 0;
          margin-bottom: 0rem;
          width: 49.6rem;
          cursor: pointer;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:20:812');

          .rectangle-83-o4j {
            width: 49.6rem;
            height: 11.556rem;
            position: absolute;
            left: 0;
            top: 24.9823rem;
            background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
            border-radius: 0 0 1.8rem 1.8rem;
          }
          .vardy-trs {
            color: #ffffff;
            width: 7rem;
            height: 3.3rem;
            position: absolute;
            top: 29.8698rem;
            font-size: 2.4rem;
            left: 3.3916rem;
            font-weight: 600;
            line-height: 1.365;
            font-family: Manrope, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .group-869-PHq {
        background-position: center;
        background-image: url('REPLACE_IMAGE:20:725');
        flex-shrink: 0;
        width: 49.6rem;
        height: 100%;
        cursor: pointer;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;

        .rectangle-80-LD5 {
          border-radius: 0 0 1.8rem 1.8rem;
          width: 49.6rem;
          height: 11.556rem;
          position: absolute;
          left: 0;
          top: 24.9823rem;
          background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
        }
        .play-SX1 {
          font-size: 2.4rem;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.3rem;
          height: 3.3rem;
          position: absolute;
          left: 3.3916rem;
          top: 29.8698rem;
          font-weight: 600;
          line-height: 1.365;
          color: #ffffff;
        }
      }
    }
    .auto-group-ekh3-vBH {
      width: calc(100% - 25.8rem);
      height: 51.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 1055.726rem 25.8rem;

      .group-868-dbV {
        cursor: pointer;
        position: relative;
        flex-shrink: 0;
        margin: 18.889rem 19.616rem 27.933rem 0rem;
        width: 19.1597rem;
        height: calc(100% - 46.8218rem);

        .back-to-home-kg7 {
          height: 4.2rem;
          position: absolute;
          top: 0;
          font-size: 3.0475rem;
          font-weight: 400;
          color: #fece00;
          font-family: Manrope, 'Source Sans Pro';
          width: 18.9rem;
          line-height: 1.365;
          white-space: nowrap;
          left: 0;
        }
        .vector-185-UMD {
          width: 3.6781rem;
          height: 1.0993rem;
          position: absolute;
          left: 0.4713rem;
          top: 3.9789rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .back-Pj5 {
        flex-shrink: 0;
        font-size: 38.0114rem;
        font-weight: 800;
        line-height: 1.365;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .ellipse-6-jnw {
      box-sizing: border-box;
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin-right: 110.4rem;
      width: 0.6rem;
      height: 0.6rem;
      border: solid 0.1rem #818181;
    }
  }
  .auto-group-o6pm-4KR {
    width: 225.6664rem;
    height: 62.7179rem;
    position: absolute;
    left: 0;
    top: 648.0694rem;
    display: flex;
    align-items: center;

    .auto-group-idju-b4T {
      margin: 8.268rem 8.283rem 15.15rem 0rem;
      width: 100.2965rem;
      height: calc(100% - 23.4179rem);
      position: relative;
      flex-shrink: 0;

      .thank-JzT {
        height: 39.3rem;
        top: 0;
        display: flex;
        align-items: baseline;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        width: 96.9rem;
        position: absolute;
        left: 0;
        font-size: 28.7277rem;
        font-weight: 800;
        line-height: 1.3660000597;
        white-space: nowrap;

        .thank-JzT-sub-0 {
          font-family: Manrope, 'Source Sans Pro';
          font-size: 28.7277rem;
          font-weight: 800;
          line-height: 1.365;
          color: #ffffff;
        }
        .thank-JzT-sub-1 {
          font-size: 28.7277rem;
          font-weight: 800;
          line-height: 1.365;
          color: #fece00;
          font-family: Manrope, 'Source Sans Pro';
        }
      }
      .you-qN7 {
        font-family: Manrope, 'Source Sans Pro';
        width: 16.1rem;
        left: 75.5252rem;
        top: 23.0909rem;
        font-weight: 800;
        color: #fece00;
        height: 10.3rem;
        position: absolute;
        font-size: 7.5211rem;
        line-height: 1.365;
        white-space: nowrap;
      }
    }
    .group-wg3 {
      opacity: 0.3;
      width: 117.0867rem;
      height: 62.7179rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .other-projects-639 {
    position: absolute;
    left: 10rem;
    display: flex;
    width: 21.3rem;
    top: 725.9084rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.365;
    color: #ffffff;
    font-family: Manrope, 'Source Sans Pro';
    white-space: nowrap;
    height: 4.1rem;
    align-items: baseline;

    .other-projects-639-sub-0 {
    }
    .other-projects-639-sub-1 {
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.365;
      color: #fece00;
      font-family: Manrope, 'Source Sans Pro';
    }
  }
  .group-887-Tno {
    box-sizing: border-box;
    padding: 1.964rem 11.2rem 1.964rem 6.56rem;
    width: 172.8rem;
    height: 10.7884rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;

    .ellipse-1-mHh {
      height: 6.8603rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 118.1778rem;
      width: 6.8603rem;
    }
    .auto-group-6mzu-JHd {
      position: relative;
      flex-shrink: 0;
      margin: 2.33rem 7.464rem 2.33rem 0rem;
      width: 5.1206rem;
      height: calc(100% - 4.6603rem);

      .rectangle-2-zAT {
        width: 5.1206rem;
        height: 0.0618rem;
        position: absolute;
        left: 0;
        top: 1.9792rem;
        background-color: #fece00;
      }
      .home-HQT {
        width: 4.5rem;
        top: 0;
        text-align: center;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.365;
        color: #ffffff;
        height: 2.2rem;
        position: absolute;
        left: 0.2672rem;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
    .other-Xpb {
      font-weight: 600;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      margin: 0rem 8.217rem 0rem 0rem;
      font-size: 1.6rem;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      line-height: 1.365;
    }
    .about-Sgf {
      font-size: 1.6rem;
      margin-top: 0rem;
      cursor: pointer;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 600;
      line-height: 1.365;
    }
  }
}
