
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 376.165rem;
}.group-888-mTM {
  display: flex;
  align-items: center;
  width: 100%;

  .don-i7h {
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 2.382rem 0.105rem 0rem;
    width: 32.0316rem;
    height: 32.0316rem;
    object-fit: cover;
  }
  .gg2-SJb {
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 2.3817rem;
    width: 32.0316rem;
    height: 32.1368rem;
    object-fit: cover;
  }
  .gokul-Ni3 {
    width: 32.0316rem;
    height: 32.1368rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 2.382rem 0rem 0rem;
  }
  .hk-WZM {
    width: 32.0317rem;
    height: 32.1368rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 2.382rem 0rem 0rem;
  }
  .ini-r7R {
    vertical-align: top;
    flex-shrink: 0;
    margin: 0.105rem 2.382rem 0rem 0rem;
    width: 32.0317rem;
    height: 32.0316rem;
    object-fit: cover;
  }
  .baap2-Ato {
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0.21rem 2.382rem 0rem 0rem;
    width: 32.0316rem;
    height: 32.1368rem;
  }
  .jai-tK1 {
    width: 32.0316rem;
    height: 32.1368rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 2.382rem 0.21rem 0rem;
  }
  .s-cF1 {
    height: 32.1368rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 2.382rem 0.21rem 0rem;
    width: 32.0316rem;
  }
  .sam-9Ew {
    height: 32.1368rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 2.382rem 0.21rem 0rem;
    width: 32.0316rem;
  }
  .soundar-GqM {
    height: 32.1368rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 2.382rem 0.21rem 0rem;
    width: 32.0317rem;
  }
  .ss-Cyu {
    margin-bottom: 0.2103rem;
    width: 32.0317rem;
    height: 32.1368rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
}
