
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 49.6rem;
}.group-875-RDR {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:20:1146');
  width: 100%;
  height: 36.5383rem;
  position: relative;
  background-size: cover;

  .rectangle-80-xj9 {
    top: 24.9823rem;
    background: linear-gradient(180deg, rgba(8, 8, 8, 0) -0%, #080808 100%);
    border-radius: 0 0 1.8rem 1.8rem;
    width: 49.6rem;
    height: 11.556rem;
    position: absolute;
    left: 0;
  }
  .play-yPM {
    white-space: nowrap;
    width: 5.3rem;
    height: 3.3rem;
    left: 3.3916rem;
    font-size: 2.4rem;
    line-height: 1.365;
    font-family: Manrope, 'Source Sans Pro';
    position: absolute;
    top: 29.8698rem;
    font-weight: 600;
    color: #ffffff;
  }
}
