
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 300.975rem;
}.group-865-SwZ {
  width: 100%;
  display: flex;
  align-items: center;

  .apple1-BeF {
    margin: 0rem 5.536rem 0rem 0rem;
    width: 25.6rem;
    height: 32rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .coke-6mD {
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 5.536rem 0rem 0rem;
    width: 24.5913rem;
    height: 32rem;
  }
  .dominos1-EMd {
    flex-shrink: 0;
    margin: 0rem 5.535rem 0rem 0rem;
    width: 24.5106rem;
    height: 32rem;
    object-fit: cover;
    vertical-align: top;
  }
  .emirates1-NCw {
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 5.535rem 0rem 0rem;
    width: 24.5106rem;
    height: 32rem;
    object-fit: cover;
  }
  .fb-gzK {
    height: 32rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 5.535rem 0rem 0rem;
    width: 24.5106rem;
  }
  .google-pqd {
    background-size: 142.52% 100%;
    background-position: -4.5187rem -0.1291rem;
    background-image: url('REPLACE_IMAGE:8c8af4f190fa6f5def439479f647b2a639660175');
    flex-shrink: 0;
    margin: 0rem 5.536rem 0rem 0rem;
    width: 25.1944rem;
    height: 32rem;
    position: relative;
  }
  .kfc-us5 {
    margin: 0rem 5.535rem 0rem 0rem;
    width: 24.5106rem;
    height: 32rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .net-Ss1 {
    margin: 0rem 5.535rem 0rem 0rem;
    width: 24.5106rem;
    height: 32rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .tata-P1Z {
    margin: 0rem 5.536rem 0rem 0rem;
    width: 25.6rem;
    height: 32rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .tesla-ukb {
    flex-shrink: 0;
    margin-top: 0rem;
    width: 27.6161rem;
    height: 32rem;
    object-fit: cover;
    vertical-align: top;
  }
}
