
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.798rem;
}.image-78-Zdh {
  background-size: 348.699% 143.145%;
  background-position: -92.3576rem -61.3524rem;
  background-image: url('REPLACE_IMAGE:c67ad12a301819958040d8fe578e604d4815450b');
  width: 172.7975rem;
  height: 236.7742rem;
  position: relative;
}
