
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-3-W9M {
  width: 100%;
  height: 285.3rem;
  position: relative;
  overflow: hidden;
  background-color: #080808;

  .auto-group-ckk3-qhR {
    width: 172.8rem;
    height: 173.0814rem;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding-bottom: 2.9522rem;

    .auto-group-sduq-Mvf {
      margin: 0rem 34.958rem 23.339rem 0rem;
      width: calc(100% - 34.9582rem);
      display: flex;
      align-items: flex-end;

      .auto-group-mjay-5bm {
        width: 129.5646rem;
        height: 111.3199rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 11.704rem 3.266rem 0rem;

        .devunath-k-PsM {
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          width: 52.5rem;
          left: 35.8rem;
          line-height: 1.365;
          font-size: 8rem;
          font-weight: 800;
          height: 11rem;
          position: absolute;
          top: 22.414rem;
        }
        .visual-designer-615 {
          top: 33.314rem;
          font-size: 3rem;
          line-height: 1.365;
          white-space: nowrap;
          width: 22rem;
          height: 4.1rem;
          left: 35.8rem;
          font-family: Manrope, 'Source Sans Pro';
          display: flex;
          align-items: baseline;
          position: absolute;
          font-weight: 800;
          color: #d9d9d9;

          .visual-designer-615-sub-0 {
          }
          .visual-designer-615-sub-1 {
            color: #fece00;
            font-family: Manrope, 'Source Sans Pro';
            font-size: 3rem;
            font-weight: 800;
            line-height: 1.365;
          }
        }
        .sooooo-hey-this-is-devunath-an-design-professional-just-passed-out-of-college-couple-of-months-ago-innovative-creative-professional-with-2-years-of-experience-in-graphic-design-and-user-interface-design-an-open-minded-who-enjoys-team-work-and-always-willing-to-face-new-challenge-and-also-quite-passionate-and-discipline-with-an-urge-to-learn-something-new-or-meet-new-people-LZd {
          color: #ffffff;
          width: 59.4rem;
          position: absolute;
          top: 44.003rem;
          font-size: 1.8rem;
          line-height: 1.365;
          height: 19.7rem;
          left: 35.8314rem;
          font-weight: 400;
          font-family: Manrope, 'Source Sans Pro';
        }
        .vector-1-HdH {
          object-fit: contain;
          vertical-align: top;
          width: 8.0478rem;
          height: 0;
          position: absolute;
          left: 35.8rem;
          top: 39.5469rem;
        }
        .group-255 {
          width: 88.0479rem;
          height: 104.5816rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          opacity: 0.4;
        }
      }
      .image-78-YJK {
        background-image: url('REPLACE_IMAGE:c67ad12a301819958040d8fe578e604d4815450b');
        flex-shrink: 0;
        width: 30.9065rem;
        height: 42.3493rem;
        position: relative;
        background-size: 348.699% 143.145%;
        background-position: -16.519rem -10.9734rem;
      }
    }
    .auto-group-cm3t-EB9 {
      align-items: center;
      margin-right: 15.8662rem;
      width: calc(100% - 15.8662rem);
      height: 79.8215rem;
      display: flex;

      .group-880-MmZ {
        width: 80.7375rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .once-uHH {
          width: 68.5rem;
          height: 33.2rem;
          left: 0;
          text-align: center;
          line-height: 1.365;
          font-family: Manrope, 'Source Sans Pro';
          position: absolute;
          top: 0;
          font-size: 24.2636rem;
          font-weight: 800;
          white-space: nowrap;
        }
        .upon-pQF {
          font-weight: 800;
          width: 69.5rem;
          position: absolute;
          font-size: 24.2636rem;
          text-align: center;
          line-height: 1.365;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          height: 33.2rem;
          left: 0;
          top: 23.4888rem;
        }
        .a-time-jGK {
          height: 33.2rem;
          position: absolute;
          text-align: center;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          width: 78.6rem;
          left: 0;
          top: 46.6215rem;
          font-size: 24.2636rem;
          font-weight: 800;
          line-height: 1.365;
        }
      }
      .auto-group-pxxm-FEf {
        box-sizing: border-box;
        padding: 9.12rem 0rem 10.262rem 15.966rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-eyqx-mio {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 24.971rem;

          .my-past-i8F {
            flex-shrink: 0;
            margin-bottom: 7.2479rem;
            font-weight: 800;
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 3.2rem;
            line-height: 1.365;
            align-items: baseline;

            .my-past-i8F-sub-0 {
            }
            .my-past-i8F-sub-1 {
              font-family: Manrope, 'Source Sans Pro';
              font-size: 3.2rem;
              font-weight: 800;
              line-height: 1.365;
              color: #fece00;
            }
          }
          .bachelors-of-design-vit-vellore-68o {
            display: flex;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
            white-space: nowrap;
            align-items: baseline;
            margin: 0rem 0rem 7.248rem 0.031rem;
            line-height: 1.365;

            .bachelors-of-design-vit-vellore-68o-sub-0 {
              line-height: 1.365;
              color: #ffffff;
              font-family: Manrope, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 700;
            }
            .bachelors-of-design-vit-vellore-68o-sub-1 {
            }
          }
          .graphic-design-intern-house-of-babas-T7m {
            font-weight: 400;
            line-height: 1.3660000695;
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0rem 7.148rem 0.031rem;
            max-width: 18.9rem;
            font-size: 1.8rem;

            .graphic-design-intern-house-of-babas-T7m-sub-0 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.365;
              color: #ffffff;
              font-family: Manrope, 'Source Sans Pro';
            }
            .graphic-design-intern-house-of-babas-T7m-sub-1 {
              font-weight: 400;
              line-height: 1.365;
              color: #ffffff;
              font-family: Manrope, 'Source Sans Pro';
              font-size: 1.4rem;
            }
          }
          .graphic-design-head-doubtconnect-AwH {
            max-width: 18.2rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3660000695;
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0rem 7.148rem 0.031rem;

            .graphic-design-head-doubtconnect-AwH-sub-0 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.365;
              color: #ffffff;
              font-family: Manrope, 'Source Sans Pro';
            }
            .graphic-design-head-doubtconnect-AwH-sub-1 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.365;
              color: #ffffff;
              font-family: Manrope, 'Source Sans Pro';
            }
          }
          .ui-ux-intern-unikwaan-CFh {
            line-height: 1.3660000695;
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0rem 7.148rem 0.031rem;
            max-width: 10.8rem;
            font-size: 1.8rem;
            font-weight: 400;

            .ui-ux-intern-unikwaan-CFh-sub-0 {
              line-height: 1.365;
              color: #ffffff;
              font-family: Manrope, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 700;
            }
            .ui-ux-intern-unikwaan-CFh-sub-1 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.365;
              color: #ffffff;
              font-family: Manrope, 'Source Sans Pro';
            }
          }
          .visual-designer-cognizant-Erb {
            font-weight: 400;
            line-height: 1.3660000695;
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.0314rem;
            max-width: 13.5rem;
            font-size: 1.8rem;

            .visual-designer-cognizant-Erb-sub-0 {
              font-family: Manrope, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.365;
              color: #ffffff;
            }
            .visual-designer-cognizant-Erb-sub-1 {
              color: #ffffff;
              font-family: Manrope, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.365;
            }
          }
        }
        .auto-group-qgjq-HCb {
          margin-top: 9.7479rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-2018-2022-1eP {
            color: #ffffff;
            flex-shrink: 0;
            text-align: right;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.365;
            font-family: Manrope, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 7.2479rem;
          }
          .dec-2019-apr-2020-Xcj {
            font-family: Manrope, 'Source Sans Pro';
            text-align: right;
            line-height: 1.365;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 9.048rem 0rem;
            font-size: 1.8rem;
            font-weight: 700;
          }
          .oct-2020-jan-2022-RTD {
            font-weight: 700;
            line-height: 1.365;
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.8rem;
            text-align: right;
            white-space: nowrap;
            margin: 0rem 0rem 9.048rem 0rem;
          }
          .jan-2022-apr-2022-KoV {
            color: #ffffff;
            margin: 0rem 0rem 9.048rem 0rem;
            text-align: right;
            line-height: 1.365;
            font-family: Manrope, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 700;
          }
          .jun-2022-present-EvT {
            text-align: right;
            font-family: Manrope, 'Source Sans Pro';
            margin-right: 0rem;
            font-weight: 700;
            line-height: 1.365;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
  .group-890-kdu {
    position: absolute;
    left: 34.2329rem;
    top: 193.5328rem;
    display: flex;
    align-items: flex-end;
    width: 101.3735rem;
    height: 59.3rem;

    .auto-group-r8zk-H83 {
      width: 84.2rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 2.3735rem;

      .reume-DXV {
        line-height: 1.365;
        height: 33.5rem;
        position: absolute;
        left: 0;
        top: 25.8rem;
        font-size: 24.4935rem;
        width: 84.2rem;
        text-align: center;
        font-weight: 800;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
      }
      .devunathkannangmailcom-wCb {
        font-weight: 800;
        white-space: nowrap;
        align-items: baseline;
        height: 4.4rem;
        left: 1.5985rem;
        font-size: 3.2rem;
        line-height: 1.365;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        display: flex;
        width: 47rem;
        position: absolute;
        top: 22.4rem;

        .devunathkannangmailcom-wCb-sub-0 {
        }
        .devunathkannangmailcom-wCb-sub-1 {
          font-family: Manrope, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 800;
          line-height: 1.365;
          color: #fece00;
        }
      }
      .mail-fXu {
        line-height: 1.365;
        font-family: Manrope, 'Source Sans Pro';
        height: 33.2rem;
        left: 25.9275rem;
        text-align: center;
        font-size: 24.2636rem;
        font-weight: 800;
        width: 57.8rem;
        position: absolute;
        top: 0;
        white-space: nowrap;
      }
    }
    .click-here-nMd {
      margin-bottom: 6.7rem;
      text-decoration-line: underline;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      font-size: 3.2rem;
      font-weight: 800;
      line-height: 1.3660000563;
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      flex-shrink: 0;

      .click-here-nMd-sub-0 {
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.365;
      }
      .click-here-nMd-sub-1 {
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.365;
        text-decoration-line: underline;
      }
    }
  }
  .auto-group-9z1s-7oD {
    vertical-align: top;
    width: 183.3296rem;
    height: 101.6732rem;
    position: absolute;
    left: 0;
    top: 260.0608rem;
    object-fit: contain;
  }
  .auto-group-kqps-qz7 {
    width: 172.8rem;
    height: 16.208rem;
    position: absolute;
    left: 0;
    top: 173.0814rem;

    .rectangle-87-aB1 {
      opacity: 0;
      width: 172.8rem;
      height: 3.9682rem;
      position: absolute;
      left: 0;
      top: 3.9682rem;
      background-color: rgba(0, 0, 0, 0);
    }
    .rectangle-88-txP {
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0);
      opacity: 0;
      width: 172.8rem;
      height: 16.208rem;
      cursor: pointer;
      position: absolute;
    }
  }
  .group-887-cdV {
    box-sizing: border-box;
    padding: 1.964rem 10.99rem 1.964rem 6.56rem;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 172.8rem;
    height: 10.7884rem;
    position: absolute;
    display: flex;
    align-items: center;

    .ellipse-1-tqu {
      margin-right: 118.4451rem;
      width: 6.8603rem;
      height: 6.8603rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .home-qFM {
      font-weight: 600;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      text-align: center;
      font-size: 1.6rem;
      margin: 0rem 7.817rem 0rem 0rem;
      line-height: 1.365;
    }
    .other-YfZ {
      font-size: 1.6rem;
      line-height: 1.365;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 600;
      margin: 0rem 8.007rem 0rem 0rem;
    }
    .auto-group-kcjh-4du {
      margin: 2.33rem 0rem 2.33rem 0rem;
      width: 5.1206rem;
      height: calc(100% - 4.6603rem);
      position: relative;
      flex-shrink: 0;

      .rectangle-2-n47 {
        position: absolute;
        left: 0;
        top: 1.359rem;
        background-color: #fece00;
        width: 5.1206rem;
        height: 0.6819rem;
      }
      .about-KJw {
        width: 4.7rem;
        height: 2.2rem;
        position: absolute;
        font-size: 1.6rem;
        color: #ffffff;
        left: 0.2103rem;
        top: 0;
        font-weight: 600;
        line-height: 1.365;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
