
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-2-yGb {
  width: 100%;
  height: 522.2rem;
  position: relative;
  overflow: hidden;
  background-color: #080808;

  .auto-group-3dft-B7m {
    height: 97.5981rem;
    position: absolute;
    left: 0;
    top: 461.9789rem;
    width: 186.8rem;

    .group-UWB {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.4;
      width: 175.9815rem;
      height: 97.5981rem;
      position: absolute;
    }
    .thank-you-for-visiting-nFy {
      line-height: 1.3660000801;
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
      font-size: 4rem;
      font-weight: 800;
      top: 24.5465rem;
      font-family: Manrope, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      width: 39.9rem;
      height: 5.5rem;
      left: 64.8087rem;

      .thank-you-for-visiting-nFy-sub-0 {
        line-height: 1.365;
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 800;
      }
      .thank-you-for-visiting-nFy-sub-1 {
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.365;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
      }
      .thank-you-for-visiting-nFy-sub-2 {
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.365;
      }
    }
    .thanks-mate-Upw {
      line-height: 1.365;
      width: 186.8rem;
      height: 40.7rem;
      left: 0;
      font-weight: 800;
      white-space: nowrap;
      position: absolute;
      top: 35.568rem;
      font-size: 29.7576rem;
      font-family: Manrope, 'Source Sans Pro';
    }
  }
  .auto-group-7rpd-mp3 {
    width: 172.8rem;
    height: 461.9789rem;
    position: absolute;
    left: 0;
    top: 0;

    .auto-group-9hh7-UiT {
      align-items: center;
      width: 164.0877rem;
      height: 86.3835rem;
      position: absolute;
      left: 35.8rem;
      top: 82.0909rem;
      display: flex;

      .auto-group-baah-zB1 {
        width: 41.1418rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-dvss-6zj {
          box-sizing: border-box;
          padding-bottom: 6.1397rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .vector-2-pvj {
            margin-bottom: 24.229rem;
            width: 0.9173rem;
            height: 20.1969rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .time-pickle-9i7 {
            font-weight: 800;
            color: #ffffff;
            display: flex;
            align-items: baseline;
            font-size: 3.2rem;
            line-height: 1.3660000563;
            font-family: Manrope, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;

            .time-pickle-9i7-sub-0 {
              font-family: Manrope, 'Source Sans Pro';
              font-size: 3.2rem;
              font-weight: 800;
              line-height: 1.365;
              color: #fece00;
            }
            .time-pickle-9i7-sub-1 {
              font-size: 3.2rem;
              font-weight: 800;
              line-height: 1.365;
              color: #ffffff;
              font-family: Manrope, 'Source Sans Pro';
            }
          }
        }
        .mask-group-Wyu {
          border-radius: 1.1rem;
          flex-shrink: 0;
          width: 100%;

          .item-5407560-1-5XD {
            background-position: -4.5115rem -2.7037rem;
            background-image: url('REPLACE_IMAGE:afe68b48668e3fffde716807bbb6071e0886f8e5');
            border-radius: 1.1rem;
            width: 41.1418rem;
            height: 31.4178rem;
            position: relative;
            background-size: 120.755% 118.221%;
          }
        }
      }
      .auto-group-wsgd-WcX {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.77rem 0rem 6.028rem 10.458rem;

        .auto-group-eekf-pt7 {
          margin: 13.002rem 21.746rem 0rem 0rem;
          width: 48.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-dmv5-Y3R {
            box-sizing: border-box;
            padding: 0rem 10.288rem 37.608rem 10.288rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .works-es9 {
              margin: 0rem 15.323rem 1.114rem 0rem;
              font-weight: 800;
              line-height: 1.365;
              align-items: baseline;
              font-size: 4rem;
              color: #fece00;
              font-family: Manrope, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;

              .works-es9-sub-0 {
                font-size: 4rem;
                font-weight: 800;
                line-height: 1.365;
                color: #ffffff;
                font-family: Manrope, 'Source Sans Pro';
              }
              .works-es9-sub-1 {
              }
            }
            .vector-3-327 {
              margin-right: 8.8712rem;
              width: 8.0478rem;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .group-881-xes {
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            display: flex;

            .a-mobile-based-application-to-help-the-young-professionals-in-balancing-their-work-life-balance-WRV {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.365;
              color: #ffffff;
              font-family: Manrope, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.7454rem;
              max-width: 48.6rem;
            }
            .mobile-application-nto {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.3891rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.365;
              color: #ffffff;
              font-family: Manrope, 'Source Sans Pro';
            }
            .component-3-KNw {
              width: 3.6305rem;
              height: 2.9772rem;
              cursor: pointer;
              position: relative;
              flex-shrink: 0;

              .view-SiT {
                width: 3.6rem;
                height: 2.4rem;
                position: absolute;
                left: 0;
                font-size: 1.716rem;
                line-height: 1.365;
                top: 0;
                font-weight: 400;
                color: #ffffff;
                font-family: Manrope, 'Source Sans Pro';
                white-space: nowrap;
              }
              .vector-186-jxT {
                vertical-align: top;
                width: 3.5518rem;
                height: 0.6537rem;
                position: absolute;
                left: 0.0077rem;
                top: 2.3235rem;
                object-fit: contain;
              }
            }
          }
        }
        .group-r1V {
          flex-shrink: 0;
          opacity: 0.4;
          width: 42.1412rem;
          height: 76.586rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .movin-yM1 {
      align-items: baseline;
      height: 4.4rem;
      font-size: 3.2rem;
      color: #ffffff;
      top: 248.7292rem;
      font-weight: 800;
      line-height: 1.365;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.8rem;
      position: absolute;
      left: 35.8rem;
      display: flex;

      .movin-yM1-sub-0 {
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.365;
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
      }
      .movin-yM1-sub-1 {
        font-weight: 800;
        line-height: 1.365;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 3.2rem;
      }
      .movin-yM1-sub-2 {
      }
    }
    .jamie-vardy-3kB {
      font-size: 3.2rem;
      font-weight: 800;
      line-height: 1.365;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      width: 22.2rem;
      position: absolute;
      top: 370.9481rem;
      color: #ffffff;
      display: flex;
      height: 4.4rem;
      left: 35.8rem;

      .jamie-vardy-3kB-sub-0 {
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.365;
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
      }
      .jamie-vardy-3kB-sub-1 {
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.365;
      }
      .jamie-vardy-3kB-sub-2 {
      }
    }
    .play-Lco {
      position: absolute;
      top: 187.623rem;
      font-size: 3.2rem;
      line-height: 1.365;
      font-family: Manrope, 'Source Sans Pro';
      display: flex;
      width: 9.9rem;
      height: 4.4rem;
      align-items: baseline;
      color: #ffffff;
      white-space: nowrap;
      left: 126.7rem;
      font-weight: 800;

      .play-Lco-sub-0 {
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.365;
      }
      .play-Lco-sub-1 {
        font-family: Manrope, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.365;
        color: #ffffff;
      }
      .play-Lco-sub-2 {
      }
    }
    .air-asia-F7V {
      font-weight: 800;
      line-height: 1.365;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      width: 15.2rem;
      position: absolute;
      left: 121.5rem;
      display: flex;
      align-items: baseline;
      height: 4.4rem;
      top: 308.4041rem;
      font-size: 3.2rem;

      .air-asia-F7V-sub-0 {
        font-family: Manrope, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.365;
        color: #fece00;
      }
      .air-asia-F7V-sub-1 {
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.365;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
      }
      .air-asia-F7V-sub-2 {
      }
    }
    .auto-group-klrk-ANs {
      display: flex;
      align-items: flex-end;
      width: 171.0231rem;
      height: 118.2472rem;
      position: absolute;
      left: 0;
      top: 0;

      .auto-group-hkjw-VR9 {
        flex-shrink: 0;
        margin-right: 5.6rem;
        width: 123.9237rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-a637-dGT {
          margin-bottom: 18.53rem;
          width: 100%;
          height: 94.2171rem;
          position: relative;
          flex-shrink: 0;

          .frame-12-wY3 {
            height: 34.0658rem;
            position: absolute;
            left: 35.8rem;
            top: 22.414rem;
            width: 59.1rem;

            .group-891-fiw {
              margin-bottom: 2.1329rem;
              width: 46.1rem;
              height: 15rem;
              position: relative;

              .hello-there-QAj {
                height: 11rem;
                left: 0;
                font-size: 8rem;
                line-height: 1.365;
                font-family: Manrope, 'Source Sans Pro';
                width: 46.1rem;
                position: absolute;
                top: 0;
                font-weight: 800;
                white-space: nowrap;
              }
              .this-is-devunath-kannan-iSK {
                white-space: nowrap;
                align-items: baseline;
                position: absolute;
                top: 10.9rem;
                left: 0;
                font-size: 3rem;
                font-weight: 500;
                line-height: 1.3660001119;
                color: #ffffff;
                font-family: Manrope, 'Source Sans Pro';
                width: 36.6rem;
                height: 4.1rem;
                display: flex;

                .this-is-devunath-kannan-iSK-sub-0 {
                  font-weight: 500;
                  line-height: 1.365;
                  color: #ffffff;
                  font-family: Manrope, 'Source Sans Pro';
                  font-size: 3rem;
                }
                .this-is-devunath-kannan-iSK-sub-1 {
                  color: #fece00;
                  font-family: Manrope, 'Source Sans Pro';
                  font-size: 3rem;
                  font-weight: 800;
                  line-height: 1.365;
                }
              }
            }
            .group-892-cAK {
              width: 100%;
              display: flex;
              flex-direction: column;

              .vector-1-Mtb {
                width: 8.0478rem;
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 2.1329rem;
              }
              .visual-designer-an-open-minded-and-creative-design-student-focused-on-creating-great-and-meaningful-user-experiences-explore-the-projects-done-by-me-over-the-past-2-years-JYw {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.365;
                color: #ffffff;
                font-family: Manrope, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 59.1rem;
              }
            }
          }
          .group-LkX {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            opacity: 0.4;
            width: 78.5432rem;
            height: 84.1615rem;
            position: absolute;
            left: 0;
          }
        }
        .scroll-Gu5 {
          flex-shrink: 0;
          margin-left: 6.9365rem;
          max-width: 2.4rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.365;
          color: #848484;
          font-family: Manrope, 'Source Sans Pro';
        }
      }
      .auto-group-chnv-CXq {
        margin-bottom: 0.3098rem;
        width: 41.4994rem;
        height: 60.4rem;
        position: relative;
        flex-shrink: 0;

        .frame-8gP {
          width: 41.4994rem;
          height: 56.6991rem;
          position: absolute;
          left: 0;
          top: 0;
          overflow: hidden;

          .rectangle-5bd {
            width: 41.4994rem;
            height: 56.6991rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:953ad1006060a596d3bfff83984dee0777f60b56');
          }
        }
        .rectangle-9-mjM {
          height: 43.3rem;
          position: absolute;
          left: 2.3rem;
          top: 17.1rem;
          background: linear-gradient(180deg, #090909 21.21%, rgba(9, 9, 9, 0) 100%);
          width: 36.6rem;
        }
      }
    }
    .auto-group-q7wb-SKh {
      display: flex;
      align-items: center;
      width: 101.2rem;
      height: 31.4178rem;
      position: absolute;
      left: 35.8rem;
      top: 198.1628rem;

      .group-882-MSf {
        margin: 9.453rem 13.158rem 9.453rem 0rem;
        height: calc(100% - 18.9061rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .a-mobile-based-application-to-help-recommend-movies-to-active-movie-watchers-fiF {
          max-width: 46.9rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.365;
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.7454rem;
        }
        .mobile-application-AQ7 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.3891rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.365;
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
        }
        .component-3-tb1 {
          width: 3.6305rem;
          height: 2.9772rem;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;

          .view-doV {
            top: 0;
            font-weight: 400;
            line-height: 1.365;
            font-family: Manrope, 'Source Sans Pro';
            left: 0;
            height: 2.4rem;
            position: absolute;
            font-size: 1.716rem;
            color: #ffffff;
            white-space: nowrap;
            width: 3.6rem;
          }
          .vector-186-9Ww {
            height: 0.6537rem;
            position: absolute;
            left: 0.0077rem;
            top: 2.3235rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.5518rem;
          }
        }
      }
      .mask-group-quZ {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 41.1418rem;
        height: 31.4178rem;
      }
    }
    .auto-group-qblz-nK1 {
      width: 101.0868rem;
      height: 31.4178rem;
      position: absolute;
      left: 35.7132rem;
      top: 259.2689rem;
      display: flex;
      align-items: center;

      .mask-group-JYF {
        width: 41.1418rem;
        height: 31.4178rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 10.545rem;
      }
      .group-883-oju {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 9.453rem 0rem 9.453rem 0rem;
        height: calc(100% - 18.9061rem);

        .a-mobile-based-application-to-help-the-milenials-to-find-their-ideal-roommate-while-moving-into-a-new-city-u2F {
          line-height: 1.365;
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.7454rem;
          max-width: 49.4rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .mobile-application-LdM {
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.3891rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.365;
          color: #ffffff;
        }
        .component-3-s7V {
          width: 3.6305rem;
          height: 2.9772rem;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;

          .view-CvT {
            width: 3.6rem;
            left: 0;
            top: 0;
            font-weight: 400;
            font-family: Manrope, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.4rem;
            position: absolute;
            font-size: 1.716rem;
            line-height: 1.365;
            color: #ffffff;
          }
          .vector-186-WAT {
            position: absolute;
            left: 0.0077rem;
            top: 2.3235rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.5518rem;
            height: 0.6537rem;
          }
        }
      }
    }
    .thats-all-for-now--RYK {
      position: absolute;
      top: 437.1688rem;
      font-size: 1.8446rem;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      width: 15.3rem;
      height: 2.6rem;
      left: 78.75rem;
      font-weight: 800;
      line-height: 1.3660000687;
      align-items: baseline;

      .thats-all-for-now--RYK-sub-0 {
        font-size: 1.8446rem;
        font-weight: 300;
        line-height: 1.365;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
      }
      .thats-all-for-now--RYK-sub-1 {
        font-size: 1.8446rem;
        font-weight: 300;
        line-height: 1.365;
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
      }
    }
    .more-coming-soon--TdR {
      height: 3.3rem;
      position: absolute;
      top: 440.4158rem;
      font-size: 2.4rem;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      width: 24rem;
      left: 74.3rem;
      font-weight: 800;
      line-height: 1.365;
      display: flex;
      align-items: baseline;

      .more-coming-soon--TdR-sub-0 {
      }
      .more-coming-soon--TdR-sub-1 {
        font-weight: 800;
        line-height: 1.365;
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 2.4rem;
      }
    }
    .auto-group-ps3b-RTm {
      left: 35.8rem;
      top: 318.9438rem;
      display: flex;
      align-items: center;
      width: 101.2rem;
      height: 31.4178rem;
      position: absolute;

      .group-884-98s {
        height: calc(100% - 18.9061rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 9.453rem 13.827rem 9.453rem 0rem;

        .a-personal-branding-project-based-on-the-real-life-airasia-airlines-4md {
          font-weight: 400;
          line-height: 1.365;
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.7454rem;
          max-width: 46.2rem;
          font-size: 1.8rem;
        }
        .branding-N1d {
          font-weight: 400;
          line-height: 1.365;
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.3891rem;
          font-size: 1rem;
        }
        .component-3-W7q {
          cursor: pointer;
          position: relative;
          flex-shrink: 0;
          width: 3.6305rem;
          height: 2.9772rem;

          .view-dy9 {
            white-space: nowrap;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 1.716rem;
            font-family: Manrope, 'Source Sans Pro';
            width: 3.6rem;
            height: 2.4rem;
            font-weight: 400;
            line-height: 1.365;
            color: #ffffff;
          }
          .vector-186-m3m {
            width: 3.5518rem;
            height: 0.6537rem;
            position: absolute;
            left: 0.0077rem;
            top: 2.3235rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .mask-group-HH1 {
        width: 41.1726rem;
        height: 31.4178rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-x8jo-2VV {
      width: 97rem;
      height: 31.4178rem;
      position: absolute;
      left: 35.8rem;
      top: 381.4878rem;
      display: flex;
      align-items: center;

      .mask-group-kAb {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1.1rem;
        flex-shrink: 0;
        margin-right: 10.4582rem;
        width: 41.1418rem;
        height: 31.4178rem;
      }
      .group-885-GPq {
        margin: 9.453rem 0rem 9.453rem 0rem;
        height: calc(100% - 18.9061rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .a-personal-branding-project-based-on-the-myth-and-the-legendary-footballer-jamir-vardy-PUT {
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.7454rem;
          max-width: 45.4rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.365;
        }
        .branding-5MH {
          line-height: 1.365;
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.3891rem;
          font-size: 1rem;
          font-weight: 400;
        }
        .component-3-cMD {
          width: 3.6305rem;
          height: 2.9772rem;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;

          .view-Z1Z {
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
            width: 3.6rem;
            left: 0;
            top: 0;
            font-size: 1.716rem;
            font-weight: 400;
            line-height: 1.365;
            white-space: nowrap;
            height: 2.4rem;
            position: absolute;
          }
          .vector-186-rWT {
            vertical-align: top;
            width: 3.5518rem;
            height: 0.6537rem;
            position: absolute;
            left: 0.0077rem;
            top: 2.3235rem;
            object-fit: contain;
          }
        }
      }
    }
  }
  .group-887-kbq {
    box-sizing: border-box;
    width: 172.8rem;
    top: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.964rem 11.2rem 1.964rem 6.56rem;
    height: 10.7884rem;
    position: absolute;
    left: 0;
    display: flex;

    .ellipse-1-DkK {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 118.1779rem;
      width: 6.8603rem;
      height: 6.8603rem;
      object-fit: contain;
    }
    .auto-group-tsid-Lpw {
      position: relative;
      flex-shrink: 0;
      margin: 2.33rem 7.464rem 2.33rem 0rem;
      width: 5.1206rem;
      height: calc(100% - 4.6603rem);

      .rectangle-2-fMR {
        height: 0.6819rem;
        position: absolute;
        left: 0;
        top: 1.359rem;
        background-color: #fece00;
        width: 5.1206rem;
      }
      .home-nwq {
        font-size: 1.6rem;
        width: 4.5rem;
        position: absolute;
        left: 0.2672rem;
        text-align: center;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.2rem;
        top: 0;
        font-weight: 600;
        line-height: 1.365;
      }
    }
    .other-6hd {
      cursor: pointer;
      font-weight: 600;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 8.217rem 0rem 0rem;
      font-size: 1.6rem;
      line-height: 1.365;
      white-space: nowrap;
    }
    .about-p7q {
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.365;
      color: #ffffff;
      white-space: nowrap;
      margin-top: 0rem;
      flex-shrink: 0;
      font-family: Manrope, 'Source Sans Pro';
    }
  }
}
