
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.others-9wV {
  overflow: hidden;
  background-color: #080808;
  width: 100%;
  height: 807.4rem;
  position: relative;

  .auto-group-b5ed-Uym {
    box-sizing: border-box;
    padding: 26.219rem 0rem 0.33rem 0rem;
    width: 172.8rem;
    height: 409.6462rem;
    position: absolute;
    left: 0;
    top: 50.1388rem;

    .auto-group-q1nd-B7V {
      display: flex;
      align-items: flex-start;
      margin: 0rem 35.8rem 34.278rem 0rem;
      width: calc(100% - 35.8rem);
      height: 143.864rem;

      .illustrations-h5q {
        font-size: 9.6rem;
        font-weight: 800;
        line-height: 1.3660000165;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 26.3rem;
        max-width: 12.4rem;

        .illustrations-h5q-sub-0 {
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
          font-size: 9.6rem;
          font-weight: 800;
          line-height: 1.365;
        }
        .illustrations-h5q-sub-1 {
          font-size: 9.6rem;
          font-weight: 800;
          line-height: 1.365;
          color: #fece00;
          font-family: Manrope, 'Source Sans Pro';
        }
      }
      .auto-group-aiwf-84f {
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 0rem;
        width: 101.2rem;
        height: calc(100% - 0rem);
        align-items: center;
        display: flex;

        .auto-group-wyvh-T6w {
          margin: 0rem 0rem 2.736rem 0rem;
          width: calc(100% - 0rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .wrqv-01-1-yqy {
            margin: 0rem 1.343rem 0rem 0rem;
            width: 32.5664rem;
            height: 32.5664rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .bvs-1-JNT {
            margin-right: 1.3431rem;
            width: 32.9604rem;
            height: 32.5664rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .liv-02-1-SDm {
            width: 32.9869rem;
            height: 32.5664rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-gqpb-yUb {
          height: 108.5613rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          width: 100%;

          .auto-group-jiih-7qh {
            flex-shrink: 0;
            margin-right: 1.0109rem;
            width: 39.5506rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .star-wars-1-fMR {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 1.3637rem;
              width: 39.5506rem;
              height: 55.9225rem;
              object-fit: cover;
            }
            .auto-group-7sub-oCj {
              align-items: flex-start;
              flex-shrink: 0;
              margin-right: 0.0908rem;
              width: calc(100% - 0.0908rem);
              height: 51.2751rem;
              display: flex;

              .fakir-1-iqV {
                margin-right: 1.1772rem;
                width: 17.3181rem;
                height: 24.5703rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-ibn5-ez3 {
                height: 100%;
                align-items: flex-end;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .pulp-01-01-01-1-orw {
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0rem 1.11rem 0rem;
                  width: 20.9645rem;
                  height: 20.9645rem;
                }
                .dark-knight-1-wCT {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 20.6432rem;
                  height: 29.2002rem;
                  object-fit: cover;
                }
              }
            }
          }
          .auto-group-oflq-GVd {
            width: 60.6385rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-8nlm-pX9 {
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 1.3346rem;

              .friends-01-01-1-ZzX {
                margin-right: 1.0107rem;
                width: 35.8277rem;
                height: 35.8277rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .fault-f-1-7FM {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                width: 23.8rem;
                height: 35.8277rem;
              }
            }
            .auto-group-rjwu-FcT {
              height: 67.2222rem;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin-right: 0rem;
              width: calc(100% - 0rem);

              .auto-group-7vw5-CXh {
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 1.1017rem;
                height: 100%;
                align-items: flex-end;
                display: flex;

                .notimetodie-01-1-Ldu {
                  margin-bottom: 1.3346rem;
                  width: 24.1559rem;
                  height: 32.2221rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .quiet-place-1-5Lb {
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0rem;
                  width: 23.8rem;
                  height: 33.6655rem;
                }
              }
              .mand-01-1-Cg7 {
                width: 35.3808rem;
                height: 50.0266rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
    .auto-group-u9w5-uqR {
      margin-bottom: 25.4803rem;
      height: 88.3486rem;
      display: flex;
      align-items: flex-start;

      .posters-eHD {
        font-weight: 800;
        line-height: 1.3660000165;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 25.9rem;
        max-width: 12.8rem;
        font-size: 9.6rem;

        .posters-eHD-sub-0 {
          font-size: 9.6rem;
          font-weight: 800;
          line-height: 1.365;
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
        }
        .posters-eHD-sub-1 {
          line-height: 1.365;
          color: #fece00;
          font-family: Manrope, 'Source Sans Pro';
          font-size: 9.6rem;
          font-weight: 800;
        }
      }
      .auto-group-h1hp-aaB {
        margin: 0rem 1.344rem 0rem 0rem;
        width: 49.928rem;
        height: calc(100% - 0rem);
        flex-shrink: 0;

        .auto-group-ukvs-ucT {
          margin-bottom: 4.3267rem;
          width: 100%;
          display: flex;
          align-items: center;

          .fifah-s3V {
            margin-right: 1.3443rem;
            width: 24.2918rem;
            height: 34.3884rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .fifaha-CbZ {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 24.2918rem;
            height: 34.3884rem;
          }
        }
        .untitled-2-1-MDZ {
          object-fit: cover;
          vertical-align: top;
          width: 49.6335rem;
          height: 49.6335rem;
        }
      }
      .auto-group-ut6h-tjH {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 0rem;
        width: 49.9612rem;
        height: calc(100% - 0rem);
        align-items: flex-end;

        .auto-group-je5t-dB5 {
          width: calc(100% - 0.0335rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.033rem 4.327rem 0rem;

          .fifahaa-wxT {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.3441rem;
            width: 24.2918rem;
            height: 34.3884rem;
            object-fit: cover;
          }
          .fifa3-VUB {
            width: 24.2918rem;
            height: 34.3884rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .untitled-1-04-1-dqH {
          width: 49.6335rem;
          height: 49.6335rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-fu4v-mgb {
      margin: 0rem 0rem 23.481rem 17.831rem;
      width: calc(100% - 17.8307rem);
      display: flex;
      align-items: flex-end;

      .item--W8P {
        font-size: 24.2636rem;
        font-weight: 800;
        white-space: nowrap;
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 18.7072rem;
        text-align: center;
        line-height: 1.365;
      }
      .auto-group-saxu-pPy {
        margin-bottom: 3.7454rem;
        width: 131.8rem;
        height: 34.5rem;
        position: relative;
        flex-shrink: 0;

        .pandemic-ZMZ {
          top: 0;
          text-align: center;
          line-height: 1.365;
          font-family: Manrope, 'Source Sans Pro';
          height: 34.5rem;
          position: absolute;
          font-size: 25.2723rem;
          font-weight: 800;
          white-space: nowrap;
          width: 131.8rem;
          left: 0;
        }
        .during-the-peak-of-pandemic-as-we-were-all-stuck-in-our-homes-i-came-up-with-a-couple-of-what-ifs-to-do-something-different-and-engaging-and-the-below-mentioned-3-were-done-during-this-time-period-gBH {
          position: absolute;
          left: 5.5622rem;
          text-align: center;
          font-weight: 400;
          width: 65.4rem;
          height: 7.4rem;
          top: 12.4162rem;
          font-size: 1.8rem;
          line-height: 1.365;
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
        }
      }
    }
    .auto-group-dkl1-Hwm {
      align-items: center;
      margin-right: 10.3602rem;
      width: calc(100% - 10.3602rem);
      height: 29.4rem;
      display: flex;

      .auto-group-8qjm-2PZ {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 69.1898rem;
        width: 72.3rem;

        .retro-yJo {
          width: 72.3rem;
          position: absolute;
          top: 0;
          font-size: 21.5333rem;
          line-height: 1.3660000163;
          white-space: nowrap;
          height: 29.4rem;
          left: 0;
          font-weight: 800;
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
          display: flex;
          align-items: baseline;

          .retro-yJo-sub-0 {
            font-size: 21.5333rem;
            font-weight: 800;
            line-height: 1.365;
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
          }
          .retro-yJo-sub-1 {
            color: #fece00;
            font-family: Manrope, 'Source Sans Pro';
            font-size: 21.5333rem;
            font-weight: 800;
            line-height: 1.365;
          }
        }
        .retro-logo-redesign-taB {
          line-height: 1.365;
          color: #fece00;
          white-space: nowrap;
          display: flex;
          top: 19.7rem;
          font-size: 3rem;
          position: absolute;
          left: 10.2rem;
          font-weight: 800;
          font-family: Manrope, 'Source Sans Pro';
          align-items: baseline;
          width: 33.6rem;
          height: 4.1rem;

          .retro-logo-redesign-taB-sub-0 {
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
            font-size: 3rem;
            font-weight: 800;
            line-height: 1.365;
          }
          .retro-logo-redesign-taB-sub-1 {
          }
        }
      }
      .what-if-these-brands-companies-logos-were-made-in-the-70s-80s-exf {
        font-size: 1.8rem;
        flex-shrink: 0;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        margin-top: 11.4rem;
        max-width: 27.2rem;
        text-align: right;
        font-weight: 400;
        line-height: 1.365;
      }
    }
  }
  .auto-group-ncxf-wRy {
    align-items: flex-end;
    width: 264.2724rem;
    height: 136.0225rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;

    .group-52P {
      margin: 0rem 14.884rem 19.715rem 0rem;
      opacity: 0.4;
      width: 88.048rem;
      height: 116.3073rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-peum-z9M {
      margin: 0rem 20.687rem 1.037rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-fahk-7zf {
        flex-shrink: 0;
        margin-bottom: 1.6961rem;
        width: 46.7rem;
        height: 15rem;
        position: relative;

        .other-works-T2w {
          left: 0;
          font-weight: 800;
          color: #ffffff;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          width: 46.7rem;
          height: 11rem;
          position: absolute;
          top: 0;
          font-size: 8rem;
          line-height: 1.3660000801;
          display: flex;

          .other-works-T2w-sub-0 {
            font-size: 8rem;
            font-weight: 800;
            line-height: 1.365;
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
          }
          .other-works-T2w-sub-1 {
            color: #fece00;
            font-family: Manrope, 'Source Sans Pro';
            font-size: 8rem;
            font-weight: 800;
            line-height: 1.365;
          }
        }
        .early-works-Q6b {
          color: #ffffff;
          white-space: nowrap;
          width: 16.1rem;
          height: 4.1rem;
          top: 10.9rem;
          line-height: 1.365;
          font-family: Manrope, 'Source Sans Pro';
          position: absolute;
          left: 0;
          font-size: 3rem;
          font-weight: 600;
        }
      }
      .vector-1-uJF {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2.7809rem;
        width: 8.0478rem;
        height: 0;
        object-fit: contain;
      }
      .this-section-features-other-works-that-were-done-during-my-early-periods-of-software-learning-and-also-includes-couple-of-different-weird-smaller-projects-that-was-done-during-the-pandemic-ErK {
        font-weight: 400;
        line-height: 1.365;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 73.3rem;
        font-size: 1.8rem;
      }
    }
    .group-new-VXM {
      opacity: 0.3;
      width: 67.3533rem;
      height: 68.3373rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-tyry-pZd {
    position: absolute;
    left: 0;
    top: 627.4541rem;
    width: 379.5147rem;
    height: 55.5477rem;

    .different-kiB {
      white-space: nowrap;
      align-items: baseline;
      width: 91rem;
      height: 24.3rem;
      position: absolute;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      display: flex;
      left: 0;
      top: 0;
      font-size: 17.7697rem;
      font-weight: 800;
      line-height: 1.3660000141;

      .different-kiB-sub-0 {
        line-height: 1.365;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 17.7697rem;
        font-weight: 800;
      }
      .different-kiB-sub-1 {
        font-weight: 800;
        line-height: 1.365;
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 17.7697rem;
      }
    }
    .book-cover-design-HrX {
      left: 10.2rem;
      top: 15.8rem;
      font-weight: 800;
      white-space: nowrap;
      width: 30.1rem;
      height: 4.1rem;
      position: absolute;
      font-family: Manrope, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      font-size: 3rem;
      line-height: 1.365;
      color: #fece00;

      .book-cover-design-HrX-sub-0 {
        font-size: 3rem;
        font-weight: 800;
        line-height: 1.365;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
      }
      .book-cover-design-HrX-sub-1 {
      }
    }
    .group-888-5nP {
      left: 0;
      top: 23.2006rem;
      display: flex;
      align-items: center;
      width: 376.1647rem;
      height: 32.3471rem;
      position: absolute;

      .don-QJs {
        margin: 0rem 2.382rem 0.105rem 0rem;
        width: 32.0316rem;
        height: 32.0316rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .gg2-w3u {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.3817rem;
        width: 32.0316rem;
        height: 32.1368rem;
        object-fit: cover;
      }
      .gokul-sTM {
        margin: 0rem 2.382rem 0rem 0rem;
        width: 32.0316rem;
        height: 32.1368rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .hk-PwV {
        margin: 0rem 2.382rem 0rem 0rem;
        width: 32.0317rem;
        height: 32.1368rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ini-XH1 {
        width: 32.0317rem;
        height: 32.0316rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.105rem 2.382rem 0rem 0rem;
      }
      .baap2-FTu {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.21rem 2.382rem 0rem 0rem;
        width: 32.0316rem;
        height: 32.1368rem;
      }
      .jai-aWB {
        flex-shrink: 0;
        margin: 0rem 2.382rem 0.21rem 0rem;
        width: 32.0316rem;
        height: 32.1368rem;
        object-fit: cover;
        vertical-align: top;
      }
      .s-Jwy {
        margin: 0rem 2.382rem 0.21rem 0rem;
        width: 32.0316rem;
        height: 32.1368rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .sam-dzF {
        width: 32.0316rem;
        height: 32.1368rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.382rem 0.21rem 0rem;
      }
      .soundar-Zd1 {
        height: 32.1368rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.382rem 0.21rem 0rem;
        width: 32.0317rem;
      }
      .ss-VWf {
        margin-bottom: 0.2103rem;
        width: 32.0317rem;
        height: 32.1368rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .what-if-my-friends-wrote-their-autobiography-and-i-had-to-design-a-cover-to-represent-who-and-what-they-are-DxT {
      text-align: right;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.365;
      font-family: Manrope, 'Source Sans Pro';
      position: absolute;
      left: 117.3395rem;
      top: 14rem;
      width: 45.1rem;
      height: 5rem;
      color: #ffffff;
    }
  }
  .auto-group-kyft-HhR {
    width: 294.4527rem;
    height: 63.6227rem;
    position: absolute;
    left: 0;
    top: 525.3773rem;

    .what-if-R2w {
      line-height: 1.3660000163;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      width: 82.6rem;
      height: 29.4rem;
      position: absolute;
      left: 83rem;
      font-size: 21.5333rem;
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      top: 0;
      font-weight: 800;

      .what-if-R2w-sub-0 {
        line-height: 1.365;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        font-size: 21.5333rem;
        font-weight: 800;
      }
      .what-if-R2w-sub-1 {
        font-size: 21.5333rem;
        font-weight: 800;
        line-height: 1.365;
        color: #fece00;
        font-family: Manrope, 'Source Sans Pro';
      }
    }
    .kit-design-Mqh {
      height: 4.1rem;
      position: absolute;
      top: 19.7rem;
      color: #fece00;
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      width: 15.7rem;
      left: 139rem;
      font-size: 3rem;
      font-weight: 800;
      line-height: 1.365;
      font-family: Manrope, 'Source Sans Pro';

      .kit-design-Mqh-sub-0 {
        font-size: 3rem;
        font-weight: 800;
        line-height: 1.365;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
      }
      .kit-design-Mqh-sub-1 {
      }
    }
    .group-865-Zgs {
      display: flex;
      align-items: center;
      width: 294.4527rem;
      height: 35.2453rem;
      position: absolute;
      left: 0;
      top: 28.3773rem;

      .apple1-tUF {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9807rem;
        width: 28.1963rem;
        height: 35.2453rem;
        object-fit: cover;
      }
      .coke-EHD {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9807rem;
        width: 27.0853rem;
        height: 35.2453rem;
      }
      .dominos1-Msd {
        margin-right: 1.9807rem;
        width: 26.9964rem;
        height: 35.2453rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .emirates1-VU3 {
        height: 35.2453rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9807rem;
        width: 26.9964rem;
      }
      .fb-q27 {
        margin-right: 1.9807rem;
        width: 26.9964rem;
        height: 35.2453rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .google-B5y {
        position: relative;
        background-size: 142.52% 100%;
        background-position: -4.9769rem -0.1422rem;
        background-image: url('REPLACE_IMAGE:8c8af4f190fa6f5def439479f647b2a639660175');
        flex-shrink: 0;
        margin-right: 1.9807rem;
        width: 27.7496rem;
        height: 35.2453rem;
      }
      .kfc-sUb {
        margin-right: 1.9807rem;
        width: 26.9964rem;
        height: 35.2453rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .net-ch5 {
        width: 26.9964rem;
        height: 35.2453rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9807rem;
      }
      .tata-Mef {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9807rem;
        width: 28.1963rem;
        height: 35.2453rem;
      }
      .tesla-6MM {
        width: 30.4168rem;
        height: 35.2453rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .what-if-these-brands-companies-had-their-own-designed-football-kits-3XV {
      top: 18.5rem;
      font-size: 1.8rem;
      line-height: 1.365;
      font-family: Manrope, 'Source Sans Pro';
      height: 5rem;
      left: 9.6742rem;
      font-weight: 400;
      color: #ffffff;
      width: 30.5rem;
      position: absolute;
    }
  }
  .ellipse-6-LFh {
    border-radius: 0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    left: 35.9rem;
    top: 1888.2rem;
    border: solid 0.1rem #818181;
    box-sizing: border-box;
  }
  .group-52-qy9 {
    height: 32.0316rem;
    position: absolute;
    left: 0;
    top: 459.785rem;
    display: flex;
    align-items: center;
    width: 293.307rem;

    .post4-MwV {
      margin: 0rem 5.293rem 0rem 0rem;
      width: 32.0316rem;
      height: 32.0316rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .logo-03-tAj {
      flex-shrink: 0;
      margin-right: 5.2934rem;
      width: 32.0316rem;
      height: 32.0316rem;
      object-fit: cover;
      vertical-align: top;
    }
    .logo-02-paB {
      height: 32.0316rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 5.2936rem;
      width: 32.0316rem;
    }
    .logo-04-mEX {
      flex-shrink: 0;
      margin-right: 5.2934rem;
      width: 32.0316rem;
      height: 32.0316rem;
      object-fit: cover;
      vertical-align: top;
    }
    .logo-05-WC7 {
      width: 32.0316rem;
      height: 32.0316rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-pzq1-SrT {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 5.2934rem;
      height: 100%;

      .post1-z7H {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 5.293rem 0rem 0rem;
        width: 32.0316rem;
        height: 32.0316rem;
      }
      .post2-7hh {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 5.294rem 0rem 0rem;
        width: 32.0316rem;
        height: 32.0316rem;
      }
      .post3-3rF {
        flex-shrink: 0;
        margin-bottom: 0rem;
        width: 32.0316rem;
        height: 32.0316rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .thats-all-for-now--PQK {
    align-items: baseline;
    height: 2.6rem;
    position: absolute;
    font-weight: 800;
    color: #ffffff;
    white-space: nowrap;
    font-family: Manrope, 'Source Sans Pro';
    display: flex;
    width: 15.3rem;
    left: 79.3867rem;
    top: 725.8771rem;
    font-size: 1.8446rem;
    line-height: 1.3660000687;

    .thats-all-for-now--PQK-sub-0 {
      font-size: 1.8446rem;
      font-weight: 300;
      line-height: 1.365;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
    }
    .thats-all-for-now--PQK-sub-1 {
      font-family: Manrope, 'Source Sans Pro';
      font-size: 1.8446rem;
      font-weight: 300;
      line-height: 1.365;
      color: #fece00;
    }
  }
  .more-coming-soon--G6j {
    width: 24rem;
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
    align-items: baseline;
    line-height: 1.365;
    font-family: Manrope, 'Source Sans Pro';
    display: flex;
    height: 3.3rem;
    left: 74.9367rem;
    top: 729.4883rem;
    font-size: 2.4rem;
    font-weight: 800;

    .more-coming-soon--G6j-sub-0 {
    }
    .more-coming-soon--G6j-sub-1 {
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.365;
      color: #fece00;
      font-family: Manrope, 'Source Sans Pro';
    }
  }
  .group-S9d {
    vertical-align: top;
    opacity: 0.3;
    width: 184.7023rem;
    height: 98.9363rem;
    position: absolute;
    left: 0;
    top: 754.025rem;
    object-fit: contain;
  }
  .group-887-MnP {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 172.8rem;
    display: flex;
    left: 0;
    top: 0;
    padding: 1.964rem 11.2rem 1.964rem 6.56rem;
    height: 10.7884rem;
    position: absolute;

    .ellipse-1-emV {
      height: 6.8603rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 118.445rem;
      width: 6.8603rem;
    }
    .home-NBh {
      margin: 0rem 7.424rem 0rem 0rem;
      cursor: pointer;
      text-align: center;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.365;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
    }
    .auto-group-tduz-sPM {
      margin: 2.33rem 7.99rem 2.33rem 0rem;
      width: 5.1206rem;
      height: calc(100% - 4.6603rem);
      position: relative;
      flex-shrink: 0;

      .rectangle-2-Nqu {
        width: 5.1206rem;
        height: 0.6819rem;
        position: absolute;
        left: 0;
        top: 1.359rem;
        background-color: #fece00;
      }
      .other-5VR {
        position: absolute;
        left: 0.3932rem;
        font-weight: 600;
        white-space: nowrap;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        width: 4.5rem;
        height: 2.2rem;
        top: 0;
        font-size: 1.6rem;
        line-height: 1.365;
      }
    }
    .about-j4B {
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 600;
      font-family: Manrope, 'Source Sans Pro';
      color: #ffffff;
      white-space: nowrap;
      margin-top: 0rem;
      font-size: 1.6rem;
      line-height: 1.365;
    }
  }
}
