
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 49.6rem;
}.rectangle-80-qoM {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, #000000 100%);
  border-radius: 0 0 1.8rem 1.8rem;
  width: 100%;
  height: 11.556rem;
}
